/* header */
.header .logo-wrap img.logo-normal{opacity: 0;}
.header .logo-wrap img.logo-scroll{opacity: 1;}
.header {position: fixed; height: 80px; transition: tranform 0.3s;  top: 0;}
.header:after{height: 100%; background-color: rgba(255,255,255,.6); backdrop-filter: blur(10px); transform: scaleY(1); z-index: -1;}
.header .menu-icon_wrap{ color: #222;}
.header .menu-icon_wrap .line{ background-color: #222;}
.header .header-icon{ color: #81A69B;}
body.nav-active .header .header-wrapper{ border-bottom: 1px solid rgba(255,255,255,.3);}
body.nav-active .header:after{height: 100%; background-color: transparent; transform: scaleY(1); z-index: -1;}
body.nav-active .header .logo-wrap img.logo-normal{opacity: 0;}
body.nav-active .header .logo-wrap img.logo-scroll{opacity: 1;}
body.nav-active .header .header-icon > a.reser-btn{ display: inline-block; border: 1px solid #fff; background-color: transparent; color: #fff; }
body.nav-active .header .header-icon > a i{ color: #fff;}
body.nav-active .header .menu-icon__line{ background-color: #fff; }
body.nav-active .header{ background: transparent;}
body.nav-active .header .header-icon i, body.nav-active .header .header-icon div{color:#fff;}

/* =================== 1024px =================== */
@media (max-width: 1024px) {
  .header{ height: 50px; top: 0;}
  .header:after{height: 100%; background-color: #EEF7F5; backdrop-filter: unset; transform: scaleY(1); z-index: -1;}
  body.nav-active .header .header-icon > a.reser-btn {border: 1px solid rgba(255,255,255,.5); position: relative; color: #fff; }
}


#section01{ font-size: 0; padding: 160px 0;}
#section01 .wrap1600 > .flex-wrap{ align-items: flex-start;}
#section01 .left{ width: 384px;}
#section01 .left #tit{ padding-bottom: 100px;}
#section01 .right{ width: calc(100% - 384px); padding-left: 156px;}
#section01 .right .reserv-calendar{ width: 100%;}
#section01 .reserv-mo{ width: 100%; padding: 40px 0 0; text-align: center;}
#section01 .reserv-mo a{ display: inline-block; margin-left: 0; margin-bottom: 10px; left: 0; right: 0; margin: 0 auto; position: relative;}
#section01 #btn-wrap.p-side.btn-next{ width: 187px; height: 40px;}
#section01 #btn-wrap.p-side.btn-next p{ line-height: 40px;}
#section01 #btn-wrap.p-side.btn-next > p{ left: 0}
/* =================== 1640px =================== */
@media (max-width: 1640px) {
    #section01 .left{ width: 23.41vw;}
    #section01 .right{ width: calc(100% - 23.41vw); padding-left: 9.51vw;}
}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
    #section01{ padding: 80px 0;}
    #section01 .left #tit{ padding-bottom: 40px;}
    #section01 .left{ width: 100%;}
    #section01 .right{ width: 100%; padding-left: 0;}

}

/* charge */
#section01.charge .charge-tit{ width: 100%; padding-bottom: 20px; }
#section01.charge .charge-tit .num{ padding-right: 20px;}
#section01.charge iframe{ margin-bottom: 80px;}
#section01.charge .flex-box{ display: flex; position: relative; text-align: left; flex-direction: row; font-size: 0; }
#section01.charge .content{ width: 100%; padding-bottom: 80px;}
#section01.charge .table-wrap{ text-align: left; position: relative;}
#section01.charge .pad{ padding-bottom: 20px;}
#section01.charge table {width: 100%;margin: 0 auto;text-align: center;border-top: 1px solid #d8d8d8;border-bottom: 1px solid #d8d8d8;}
#section01.charge table tr {line-height: 50px;  border-bottom: 1px solid #efefef;}
#section01.charge table th {font-size: 16px;color: #666666;font-weight: 500; width:calc(100%/11);  background-color: #F6F6F6;}
#section01.charge table td {font-size: 14px;color: #333; width:calc(100%/11); background-color: #fff;}

/* =================== 1024px =================== */
@media (max-width: 1024px) {
    #section01.charge .charge-tit .num{ padding-right: 5px;}
    #section01.charge .flex-box{ flex-direction: column; }
    #section01.charge .content{ padding-bottom: 70px;}
    #section01.charge .table-wrap{ text-align: left; position: relative;}
    #section01.charge .pad{ padding-bottom: 20px;}
    #section01.charge table{width: 1025px;}

    .ch-block.last{padding-bottom: 50px}
    
    .refund {overflow-x: scroll;overflow-y: hidden;}
    .refund::-webkit-scrollbar { width: 5px; height: 5px; }
    .refund::-webkit-scrollbar-thumb{ height: 17%; background-color: #000; border-radius: 2px; }
    .refund::-webkit-scrollbar-track{ background-color: #fff; }

    .comm3_wrap #inner{ height: 700px!important;}
    
}