/* header */
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  header .header-area{ background-color: #F5F5F5;}
  header .header-area h1 .st0{fill:#89AE89; opacity: 1;}
  header .header-area h1 .st1{fill:#1A311D;}
  header .header-area h1 .st2{fill:#FF665C;}
  #panelbtn span{ background-color: #222;}
}


/* section01 */
#section01{ width: 100%; height: 100vh; position: relative; background-color: #F8F5F1;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section01{ margin-top: 68px; height: auto;  }
}


/* section02 */
#section02{ padding: 120px 0 180px; overflow: hidden; font-size: 0;  background-color: #F5F5F5;}
#section02 .wrap1200{ position: relative; text-align: center;}
#section02 .wrap1200 .sec02-logo{ width: 180px; object-fit: cover; margin-bottom: 40px; display: inline-block;}
#section02 .wrap1200 h3{ line-height: 24px; padding-bottom: 40px;}
#section02 .wrap1200 p{ line-height: 22.4px; padding-bottom: 120px;}
#section02 .img-area{ padding-bottom: 120px; justify-content: flex-start;}
#section02 .img-area a{ display: block; position: relative; width: calc(33.33% - 16px); height: 384px; margin-bottom: 40px; margin-right: 24px;}
#section02 .img-area a:nth-child(3n){ margin-right: 0;}
#section02 .wrap1200 #map{ width: 100%; height: 514px; position: relative; left: 0; right: 0; margin: 0 auto; background-color: #222; margin-bottom: 20px;}

/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section02{ padding: 60px 0 120px; }
  #section02 .wrap1200 .sec02-logo{ width: 190px;  }
  #section02 .wrap1200 h3{ padding-bottom: 20px;}
  #section02 .wrap1200 p{ padding-bottom: 70px;}
  #section02 .img-area{ padding-bottom: 40px; }
  #section02 .img-area a{ display: block; position: relative; width: calc(50% - 9px); height: 37.07vw; margin-bottom: 20px; margin-right: 18px;}
  #section02 .img-area a:nth-child(3n){ margin-right: unset;}
  #section02 .img-area a:nth-child(2n){ margin-right: 0;}
  #section02 .wrap1200 #map{ width: 100%; height: 78.67vw;}
  #section02 .wrap1200 span{ display: block; line-height: 22.4px; text-align: left;}
}










