/* ==========================================================================
    #RESET
   ========================================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    -webkit-text-size-adjust: none;
    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{border: none;} 
address{font-style: normal;}
fieldset{border: none;} 
legend{position: absolute;left: -999em;} 
input[type=button],
input[type=submit],
input[type=reset],
input[type=image],
button, a, select{cursor: pointer; outline: none;} 
input{ outline: none;}

label.away{position: absolute;left: -999em;} 
/* ==========================================================================
    #FONT
   ========================================================================== */
/* 
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-family: "bicyclette", sans-serif;
*/

.en{font-family: "bicyclette", sans-serif;}

.f12{ font-size: 12px;}
.f14{ font-size: 14px; line-height: 22.4px;}
.f16{ font-size: 16px; line-height: 25.6px;}
.f18{ font-size: 18px; line-height: 21.6px;}
.f20{ font-size: 20px; line-height: 24px;}
.f24{ font-size: 24px;}
.f32{ font-size: 32px; line-height: 38.4px;}
.f42{ font-size: 42px; line-height: 50.4px;}
.f48{ font-size: 48px;}

.lig{ font-weight: 300;}
.re{ font-weight: 400;}
.med{ font-weight: 500;}
.bold{ font-weight: 700;}

.upp{
    text-transform: uppercase;
}
.cap{
    text-transform: capitalize;
}
.t-shadow{
    text-shadow: 2px 0px 4px rgba(0,0,0,.2);
}


/* ==========================================================================
    #COLOR
========================================================================== */

.color1{color: #AA806E;}
.color2{color:#D2B6B1}
.color3{ color: #F8F5F1;}
.cf{color: #fff; }
.c2{color: #222; }
.c0{color: #000; }


.op1{ opacity: .1;}
.op2{ opacity: .2;}
.op4{ opacity: .4;}
.op6{ opacity: .6;}
.op8{ opacity: .8;}

::selection{ background-color: #AA806E; color: #fff;}


/* ==========================================================================
    #COL
    ========================================================================== */
.col-1{ width: 100%;}
.col-2{ width: 50%;}
.col-3{ width: 33.33%;}
.col-4{ width: 25%;}
.col-5{ width: 20%;}
.col-7{ width: calc(100%/7);}


/* ==========================================================================
    #BTN
    ========================================================================== */
#btn01{ display: inline-block; width: 180px; height: 40px; line-height: 38px; text-align: center; font-size: 14px; transition: .3s; border: 1px solid rgba(34,34,34,.2); color: #222; margin: 0 12px;}
#btn01.color{  border: 1px solid #133A0E; background-color: #133A0E; color: #fff;}
#btn01:hover{  color: rgba(34,34,34,.6);}
#btn01.color:hover{  border: 1px solid #3A6734; background-color: #3A6734; color: #fff;}


/* ==========================================================================
    #SCROLLBAR
    ========================================================================== */
body::-webkit-scrollbar { width: 7px; }
body::-webkit-scrollbar-thumb{ height: 17%; background-color: #89AE89; border-radius: 2px; }
body::-webkit-scrollbar-track{ background-color: #fff; }


/* ==========================================================================
    #FLOAT
    ========================================================================== */
.fl{ float: left;}
.fr{float: right;}
.clb{ clear: both; font-size: 0;}




body{  font-family: 'SUIT', sans-serif; font-weight: 400; font-size: 16px; overflow-x: hidden; background-color: #F5F5F5; }
.wrap1200{ width: 100%; max-width: 1240px; padding: 0 20px; height: 100%; position: relative; margin: 0 auto; box-sizing: border-box;}
.bgi{ background-size: cover; background-position: center; background-repeat: no-repeat; }
.v-middle{ width: 100%; height: 100%; display: table-cell; vertical-align: middle;}
.img{ width: 100%; height: 100%; background-size: cover; background-position: center; background-repeat: no-repeat;  position: absolute; top: 0; left: 0; transition: .5s;}
.none-mo{ display: inline-block!important;}
.none-pc{ display: none!important;}
.flex-wrap{ display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;}


/* swiper */
.swiper-button-prev, .swiper-button-next {outline: none !important; background-image: unset!important; width: 71px; height: 71px; border-radius: 50%; line-height: 71px; transition: .3s;}
.swiper-button-prev{ left: 40px;}
.swiper-button-next{ right: 40px;}
.swiper-button-next:hover, .swiper-container-rtl .swiper-button-prev:hover,
.swiper-button-prev:hover, .swiper-container-rtl .swiper-button-next:hover{  transition: .3s; }
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{ opacity: .4;}
.swiper-button-next:after, .swiper-button-prev:after{ position: absolute; top: -999em; }

.swiper-pagination-bullet{ position: relative; width: 10px; height: 2px; background: transparent; border-radius: unset; border: unset; background-color: rgba(255,255,255,.4); opacity: 1; margin: 0 2px!important; transition: .3s; box-shadow: unset; }
.swiper-pagination-bullet-active{ width: 40px; background: rgba(255,255,255,1); opacity: 1; }
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction{ bottom: 10px;}

.swiper-button-disabled{ opacity: .4;}
/* ==========================================================================
    #FULL-SWIPER
========================================================================== */
.full-swiper{ height: 100%; position: relative; overflow: hidden;}
.full-swiper .swiper-slide{ background-size: cover; background-repeat: no-repeat; background-position: center;}
.full-btn{position: absolute; top: calc(50% - 25px); text-align: center; font-size: 18px;  }
.full-swiper .control-wrap{ width: 384px; position: absolute; bottom: 40px; left: 0; right: 0; margin: 0 auto;}
.full-swiper .autoplay-progress { position: relative; z-index: 10; width: 100%; height: 2px; background-color: rgba(255, 255, 255, 0.4);  margin-bottom: 10px; }
.full-swiper .autoplay-progress svg {
	--progress: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	stroke-width: 1px;
	stroke: #fff;
	fill: none;
	stroke-dashoffset: calc(100 * (1 - var(--progress)));
	stroke-dasharray: 100;
}
.full-swiper .full-pag{ position: relative; left: 0; right: 0; margin: 0 auto; bottom: unset;}



/* ==========================================================================
    #ALL-FULL-SWIPER
========================================================================== */
.all-full-swiper{ height: 100%; position: relative; overflow: hidden;}
.all-full-swiper .swiper-slide{ background-size: cover; background-repeat: no-repeat; background-position: center;}
.all-full-btn{position: absolute; top: calc(50% - 25px); text-align: center;  }
.all-full-text{ opacity: 1; transition: .3s; pointer-events: none;}
.all-full-text.hide{ opacity: 0;}

/* ==========================================================================
    #SUB-TOP
    ========================================================================== */
#sub-top{ width: 100%; overflow: hidden; position: relative; }
#sub-top .bgi{ width: 100%; height: 640px; }
#sub-top .text-wrap{ padding-left: 120px; padding-top: 40px; position: relative;}
#sub-top .text-wrap .deco{  width: 20px; height: 180px; background-color: #133A0E; display: block; position: absolute; top: -90px; left: 0;}
#sub-top h3{ padding-bottom: 20px; line-height: 50.4px;}
#sub-top p{ line-height: 22.4px;}

/* ==========================================================================
    #SUB-TOP-02
    ========================================================================== */
#sub-top-02{ width: 100%; height: 420px; overflow: hidden; position: relative;}
#sub-top-02 .bgi{ width: 100%; height: 100%; opacity: 1; }
#sub-top-02 .text-wrap{ position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(34,34,34,.4); }
#sub-top-02 .text-wrap .flex-wrap{justify-content: center; align-items: flex-start; flex-wrap: wrap; flex-direction: column;}
#sub-top-02 .text-wrap h3{ padding-bottom: 20px;}    

/* ==========================================================================
    #COMM-TAB
    ========================================================================== */
#comm-tab{ position: relative; width: 100%; margin-bottom: 40px; padding-top: 40px; }
#comm-tab .flex-wrap{ justify-content: flex-start; padding-bottom: 20px; border-bottom: 1px solid rgba(34,34,34,.2);}
#comm-tab a{ margin-right: 20px; transition: .3s;}
#comm-tab a.active{ color: #89AE89;  }
#comm-tab a:hover{ color: #89AE89;}


/* =================== 1024px =================== */
@media (max-width: 1024px) {
    /* ==========================================================================
    **MOBILE**#FONT
   ========================================================================== */
    .mf12{ font-size: 12px;}
    .mf14{ font-size: 14px; line-height: 22.4px;}
    .mf16{ font-size: 16px; }
    .mf20{ font-size: 20px; line-height: 24px;}
    .mf32{ font-size: 32px; line-height: 38.4px;}


    /* ==========================================================================
    **MOBILE**#COL
   ========================================================================== */
    .m-col-1{ width: 100%;}
    .m-col-2{ width: 50%;}
    .m-col-3{ width: calc(100%/3);}



    /* ==========================================================================
    **MOBILE**#BTN
    ========================================================================== */
    #btn01{ height: 40px; line-height: 38px; width: 139px; font-size: 14px;}


    body{ font-family: 'SUIT', sans-serif; overflow-x: hidden; position: relative;  }
    body > section{ width: 100%; min-width: unset; height: auto; position: relative; overflow: hidden; box-sizing: border-box;}
    .none-mo{ display: none!important;}
    .none-pc{ display: inline-block!important;}
    .wrap1200{ width: 100%; padding: 0 40px; position: relative; margin: 0 auto; box-sizing: border-box; }



    /* swiper */
    .swiper-button-prev, .swiper-button-next { width: 23px; height: 23px; line-height: 23px; font-size: 12px; }
    .swiper-button-prev{ left: 20px;}
    .swiper-button-next{ right: 20px;}

    .swiper-pagination-bullet{width: 10px; height: 2px; margin: 0 1px!important; }
    .swiper-pagination-bullet-active{ width: 40px; background: rgba(255,255,255,1); opacity: 1; }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom, .swiper-pagination-fraction{ bottom: 0;}

   /* ==========================================================================
    #FULL-SWIPER
    ========================================================================== */
    .full-swiper{ height: 56.27vw; position: relative; overflow: hidden;}
    .full-swiper .swiper-slide{ background-size: cover; background-repeat: no-repeat; background-position: center;}
    .full-swiper .full-btn{ top: 50%; font-size: 12px;}
    .full-swiper .control-wrap{ width: 191px; bottom: 10px; }
    .full-swiper .autoplay-progress{ margin-bottom: 5px;}


    /* ==========================================================================
    #ALL-SWIPER
    ========================================================================== */
    .all-btn{width: 65px; height: 7px; background-size: contain;  }
    .all-btn-wrap{ position: absolute; bottom: 60px; width: 150px; height: 10px;}
    .all-swiper .swiper-button-prev, .all-swiper .swiper-button-next{ left: unset; right: unset;}

    /* ==========================================================================
    #ALL-FULL-SWIPER
    ========================================================================== */
    .all-full-swiper{ height: 100%; position: relative; overflow: hidden;}
    .all-full-swiper .swiper-slide{ background-size: cover; background-repeat: no-repeat; background-position: center;}
    .all-full-btn{ display: none; }
    .all-full-text{ display: none;}


   /* ==========================================================================
    #SUB-TOP
    ========================================================================== */
    #sub-top .bgi{ width: 100%; height: 75.20vw; }
    #sub-top .text-wrap{ padding-left: 35px; padding-top: 22px; position: relative;}
    #sub-top .text-wrap .deco{ height: 120px; top: -60px; left: -20px;}
    #sub-top h3{ padding-bottom: 20px; line-height: 38.4px;}

    /* ==========================================================================
    #SUB-TOP-02
    ========================================================================== */
    #sub-top-02{ width: 100%; height: auto; overflow: hidden; position: relative; }
    #sub-top-02 .bgi{ width: 100%; height: 64.00vw; opacity: 1; }
    #sub-top-02 .text-wrap{ position: relative; width: 100%; height: 100%; background-color: unset; padding-top: 40px; text-align: center; }
    #sub-top-02 .text-wrap .flex-wrap{align-content: center;}
    #sub-top-02 .text-wrap h3{ width: 100%; padding-bottom: 20px; color: #222; text-align: center;}    
    #sub-top-02 .text-wrap p{ color: #222; width: 100%;}


    /* ==========================================================================
    #COMM-TAB
    ========================================================================== */
    #comm-tab{ position: relative; width: 100%; margin-bottom: 40px; padding-top: 60px; }
    #comm-tab .flex-wrap{ padding: 0; width: calc(100% - 80px); left: 0; right: 0; margin: 0 auto; justify-content: center; padding-bottom: 10px; }
    #comm-tab a{ margin-right: 10px; margin-left: 10px; }

}