/* header */
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  header .header-area{ background-color: #F5F5F5;}
  header .header-area h1 .st0{fill:#89AE89; opacity: 1;}
  header .header-area h1 .st1{fill:#1A311D;}
  header .header-area h1 .st2{fill:#FF665C;}
  #panelbtn span{ background-color: #222;}
}

/* section01 */
#section01{ width: 100%; height: 100vh; position: relative; }
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section01{ margin-top: 68px; height: auto; }
}

/* section02 */
#section02{ padding: 60px 0 140px; overflow: hidden; font-size: 0; }
#section02 .wrap1200 .flex-wrap{ align-items: flex-start;}
#section02 .wrap1200 .flex-wrap .left{ width: 511px; padding: 40px 0; }
#section02 .wrap1200 .flex-wrap .right{ width: calc(100% - 511px); padding: 40px 0 40px 100px; border-left: 1px solid rgba(34,34,34,.2);}
#section02 .wrap1200 .flex-wrap .left h3{ padding-bottom: 20px;}
#section02 .wrap1200 .flex-wrap .left h4{ padding-bottom: 60px;}
/* =================== 1240px =================== */
@media (max-width: 1240px) {
  #section02 .wrap1200 .flex-wrap .left{ width: 45%;  }
  #section02 .wrap1200 .flex-wrap .right{ width: 55%; }
}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section02{ padding: 40px 0 120px;  }
  #section02 .wrap1200 .flex-wrap .left{ width: 100%; padding: 0; }
  #section02 .wrap1200 .flex-wrap .right{ width: 100%; padding: 0; border-left: unset;}
  #section02 .wrap1200 .flex-wrap .left h3{ padding-bottom: 10px;}
  #section02 .wrap1200 .flex-wrap .left h4{ padding-bottom: 40px;}
  #section02 .wrap1200 .flex-wrap .right .con{ padding-bottom: 80px;}
  #section02 .a-wrap{ text-align: left; width: 100%;}
  #section02 .a-wrap a{ margin: 0; width: calc(50% - 8px);}
  #section02 .a-wrap a:first-child{ margin-right: 16px;}
}


