
/* section01 */
#section01{ width: 100%; position: relative; overflow: hidden; padding: 80px 0 90px; }
#section01 .wrap1200 a{ display: block; width: calc(33.33% - 16px); height: auto; margin-right: 24px; padding-bottom: 80px;}
#section01 .wrap1200 a:nth-child(3n){ margin-right: 0;}
#section01 .wrap1200 a .img-wrap{ width: 100%; height: 384px; position: relative; margin-bottom: 20px;}
#section01 .wrap1200 a .text-wrap{ padding-left: 10px;}
#section01 .wrap1200 a:hover .img{ opacity: .8;}
#section01 .wrap1200 a .text-wrap span{ padding-bottom: 10px;}
#section01 .wrap1200 a .text-wrap h3{ padding-bottom: 10px;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section01{ padding: 60px 0 60px; }
  #section01 .wrap1200 a{ width: 100%; padding-bottom: 60px; margin-right: 0;}
  #section01 .wrap1200 a .img-wrap{ width: 100%; height: 78.67vw; position: relative; margin-bottom: 20px;}
}



















