/* section01 */
#section01{ width: 100%; position: relative; overflow: hidden; padding: 120px 0 60px; background-color: #F8F5F1; }
#section01 .wrap1200 .flex-wrap{ padding-bottom: 120px; align-items: flex-end;}
#section01 .wrap1200 .flex-wrap .img-wrap{ width: calc(100% - 384px); height: 705px; position: relative;}
#section01 .wrap1200 .flex-wrap .img-wrap .img{ position: absolute; top: 0; right: -78px; width: 1254px; height: 100%; object-fit: cover;}
#section01 .wrap1200 .flex-wrap:hover .img-wrap .img{ opacity: .8;}
#section01 .wrap1200 .flex-wrap .text-wrap{ width: 384px; z-index: 10; text-align: right;}
#section01 .wrap1200 .flex-wrap .text-wrap > i{ display: block; padding-bottom: 20px;}
#section01 .wrap1200 .flex-wrap .text-wrap > span{ display: block; padding-bottom: 20px;}
#section01 .wrap1200 .flex-wrap .text-wrap > h3{ line-height: 50.4px; padding-bottom: 20px;}
#section01 .wrap1200 .flex-wrap .text-wrap > h4{ padding-bottom: 40px;}
#section01 .wrap1200 .flex-wrap .text-wrap > p{ padding-bottom: 20px; line-height: 22.4px;}
#section01 .wrap1200 .flex-wrap .text-wrap > .con{ width: 282px; line-height: 22.4px; padding-bottom: 125px; display: inline-block; word-break: keep-all;}
#section01 .wrap1200 .flex-wrap .text-wrap > .more-btn{ text-decoration: underline; display: block;}
#section01 .wrap1200 .flex-wrap .text-wrap ul{ border-top: 1px solid rgba(34,34,34,.2);}
#section01 .wrap1200 .flex-wrap .text-wrap li a{ width: 100%; height: 45px; display: flex; align-items: center; justify-content: space-between; padding: 0 13px; border-bottom: 1px solid rgba(34,34,34,.2); color: rgba(34,34,34,.2); transition: .3s;}
#section01 .wrap1200 .flex-wrap .text-wrap li a:hover{ color: #222; padding: 0 0 0 13px; }
#section01 .wrap1200 .flex-wrap:nth-child(2n-1) .img-wrap{ order: 0;}
#section01 .wrap1200 .flex-wrap:nth-child(2n-1) .text-wrap{ order: 1;}
#section01 .wrap1200 .flex-wrap:nth-child(2n-1) .img-wrap .img{  right: -78px; left: unset;}
#section01 .wrap1200 .flex-wrap:nth-child(2n) .img-wrap{ order: 1;}
#section01 .wrap1200 .flex-wrap:nth-child(2n) .text-wrap{ order: 0; text-align: left;}
#section01 .wrap1200 .flex-wrap:nth-child(2n) .img-wrap .img{  left: -78px; right: unset;}

/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section01{ padding: 60px 0 60px;  }
  #section01 .wrap1200 .flex-wrap{ padding-bottom: 60px;}
  #section01 .wrap1200 .flex-wrap .img-wrap{ width: 100%; height: 50.40vw; position: relative;}
  #section01 .wrap1200 .flex-wrap .img-wrap .img{ width: calc(100% + 40px); }
  #section01 .wrap1200 .flex-wrap .text-wrap{ width: 100%; padding-top: 20px;}
  #section01 .wrap1200 .flex-wrap .text-wrap > h3{ line-height: 38.4px; }
  #section01 .wrap1200 .flex-wrap .text-wrap > .con{ width: 100%; padding-bottom: 20px; display: block;}
  #section01 .wrap1200 .flex-wrap:nth-child(2n) .img-wrap{ order: 0; }
  #section01 .wrap1200 .flex-wrap:nth-child(2n) .text-wrap{ order: 1; text-align: left;}
  #section01 .wrap1200 .flex-wrap:nth-child(2n) .text-wrap ul{ position: relative; left: 0;}
  #section01 .wrap1200 .flex-wrap:nth-child(2n) .text-wrap li a{ height: 32px; padding: 0 60px 0 20px; }
  #section01 .wrap1200 .flex-wrap:nth-child(2n) .text-wrap li a:hover{ padding: 0 50px 0 20px; }
  #section01 .wrap1200 .flex-wrap:nth-child(2n-1) .img-wrap .img{  right: 0; left: unset;}
  #section01 .wrap1200 .flex-wrap:nth-child(2n) .img-wrap .img{  left: 0; right: unset;}
}
