

/* section01 */
#section01{ padding: 80px 0 180px; width: 100%;}
#section01 .wrap1200 .service-con{ padding-bottom: 50px;}
#section01 .wrap1200 .left{ width: 690px; position: relative; height: 388px;}
#section01 .wrap1200 .left .swiper-container{ width: 100%; height: 100%; overflow: hidden; position: relative;}
#section01 .wrap1200 .left .service-btn{ width: 11px; height: 18px; font-size: 18px;}
#section01 .wrap1200 .right{ width: calc(100% - 690px); padding-left: 120px;}
#section01 .wrap1200 .right .text-wrap{ width: 100%;  }
#section01 .wrap1200 .right .text-wrap i{ padding-bottom: 10px;}
#section01 .wrap1200 .right .text-wrap h3{ padding-bottom: 10px;}
#section01 .wrap1200 .right .text-wrap h4{ padding-bottom: 32px;}
#section01 .wrap1200 .a-wrap{ width: 100%; text-align: center; padding-top: 70px;}

/* =================== 1024px =================== */
@media (max-width: 1024px) {
    #section01{ padding: 60px 0 120px; width: 100%;}
    #section01 .wrap1200{ padding: 0;}
    #section01 .wrap1200 .service-con{ padding-bottom: 60px;}
    #section01 .wrap1200 .left{ width: 100%; position: relative; height: 56.00vw;}
    #section01 .wrap1200 .left .swiper-container{ width: 100%; height: 100%; overflow: hidden; position: relative;}
    #section01 .wrap1200 .left .service-btn{ width: 12px; height: 12px; font-size: 12px; top: calc(50% - 6px); margin-top: 0;}
    #section01 .wrap1200 .right{ width: 100%; padding-left: 0; text-align: center; padding-top: 40px;}
    #section01 .wrap1200 .right .text-wrap i{ padding-bottom: 15px;}
    #section01 .wrap1200 .right .text-wrap h3{ padding-bottom: 10px;}
    #section01 .wrap1200 .right .text-wrap h4{ padding-bottom: 20px;}
    #section01 .a-wrap{ padding: 20px 40px 0; text-align: left; width: 100%;}
    #section01 .a-wrap a{ margin: 0; width: calc(50% - 8px);}
    #section01 .a-wrap a.color{ width: 100%; margin-top: 20px;}
    #section01 .a-wrap a:first-child{ margin-right: 12px;}
}
