/* ==========================================================================
    #RESET
   ========================================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'SCoreDream';
    -webkit-text-size-adjust: none;
    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{border: none;} 
address{font-style: normal;}
fieldset{border: none;} 
legend{position: absolute;left: -999em;} 
input[type=button],
input[type=submit],
input[type=reset],
input[type=image],
button, a, select{cursor: pointer; outline: none;} 
input{ outline: none;}

label.away{position: absolute;left: -999em;} 
/* ==========================================================================
    #FONT
   ========================================================================== */
/* 
    font-family: "futura-pt", sans-serif;
    font-family: 'SCoreDream';
*/

.en{ font-family: "futura-pt", sans-serif; font-style: normal; }

.book{ font-weight: 400;}
.demi{ font-weight: 600;}
.hv{ font-weight: 700;}
.ita{ font-style: italic;}
.re{ font-weight: 400;}
.med{ font-weight: 500;}

.f10{ font-size: 10px;}
.f12{ font-size: 12px;}
.f13{ font-size: 13px;}
.f14{ font-size: 14px;}
.f15{ font-size: 15px;}
.f16{ font-size: 16px;}
.f20{ font-size: 20px;}
.f28{ font-size: 28px;}
.f34{ font-size: 34px;}
.f40{ font-size: 40px;}
.f50{ font-size: 50px;}
.f200{ font-size: 200px;}

.upp{ text-transform: uppercase; }
.cap{ text-transform: capitalize; }
.t-shadow{  text-shadow: 3px 0px 5px rgba(0,0,0,.2); }


/* ==========================================================================
    #COLOR
========================================================================== */
.color1{color: #28b8d8;}
.color2{ color: #e92626;}
.c2{color: #222; }
.c7{ color: #777;}
.c8{ color: #888;}
.c9{ color: #999;}
.ca{ color: #aaa;}
.cf{color: #fff; }

.op2{ opacity: .2;}
.op5{ opacity: .5;}

::selection{ background-color: #28b8d8; color: #fff;}


/* ==========================================================================
    #COL
    ========================================================================== */
.col-1{ width: 100%;}
.col-2{ width: 50%;}
.col-3{ width: 33.33%;}
.col-4{ width: 25%;}
.col-5{ width: 20%;}
.col-7{ width: calc(100%/7);}


/* ==========================================================================
    #BTN
    ========================================================================== */
#btn01{ display: inline-block; transition: .3s;}
#btn01:hover{ color: #28b8d8; letter-spacing: 0.2rem;}

#btn02{ display: inline-block; width: 180px; height: 46px; line-height: 44px; text-align: center; border: 1px solid #ccc; transition: .3s;}
#btn02:hover{ background-color: #28b8d8;border: 1px solid #28b8d8; color: #fff;}
#btn02.active{background-color: #28b8d8;border: 1px solid #28b8d8; color: #fff;}
/* =================== 1660px =================== */
@media (max-width: 1660px) {
    #btn_02{ display: inline-block; width: 21.69vw; height: 5.42vw; line-height: 5.30vw; text-align: center; font-size: 1.20vw; color: #fff;}
}

/* ==========================================================================
    #SCROLLBAR
    ========================================================================== */
body::-webkit-scrollbar { width: 7px; }
body::-webkit-scrollbar-thumb{ height: 17%; background-color: #28b8d8; border-radius: 2px; }
body::-webkit-scrollbar-track{ background-color: #fff; }


/* ==========================================================================
    #FLOAT
    ========================================================================== */
.fl{ float: left;}
.fr{float: right;}
.clb{ clear: both; font-size: 0;}




body{  font-family: 'SCoreDream'; font-weight: 400; font-size: 16px; overflow-x: hidden; }
.wrap1400{ width: 100%; max-width: 1440px; padding: 0 20px; height: 100%; position: relative; margin: 0 auto; box-sizing: border-box;}
.bgi{ background-size: cover; background-position: center; background-repeat: no-repeat; }
.v-middle{ width: 100%; height: 100%; display: table-cell; vertical-align: middle;}
.img{ width: 100%; height: 100%; background-size: cover; background-position: center; background-repeat: no-repeat;  position: absolute; top: 0; left: 0; transition: .5s;}
.none-mo{ display: inline-block!important;}
.none-pc{ display: none!important;}
.flex-wrap{ display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;}


/* swiper */
.swiper-button-prev, .swiper-button-next {outline: none !important; background-image: unset!important; width: 71px; height: 71px; border-radius: 50%; line-height: 71px; transition: .3s;}
.swiper-button-prev{ left: 30px;}
.swiper-button-next{ right: 30px;}
.swiper-button-next:hover, .swiper-container-rtl .swiper-button-prev:hover,
.swiper-button-prev:hover, .swiper-container-rtl .swiper-button-next:hover{  transition: .3s; }
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{ opacity: .4;}
.swiper-button-next:after, .swiper-button-prev:after{ position: absolute; top: -999em; }

.swiper-pagination-progressbar{ background-color: #dfdfdf; position: relative; height: 4px; border-radius: 2px;}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{ background: #777;}

.swiper-pagination-bullet{ position: relative; width: 10px; height: 10px; background: transparent; border: 1px solid #fff; opacity: 1; margin: 0 10px!important; transition: .3s; box-shadow: 2px 0 4px rgba(0,0,0,.2); }
.swiper-pagination-bullet-active{ background: rgba(255,255,255,1); opacity: 1; }
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction{ bottom: 30px;}

/* ==========================================================================
    #FULL-SWIPER
========================================================================== */
.full-swiper{ height: 100%; position: relative; overflow: hidden;}
.full-swiper .swiper-slide{ background-size: cover; background-repeat: no-repeat; background-position: center;}
.full-btn{position: absolute; top: calc(50% - 40px); text-align: center; width: 80px; height: 80px; line-height: 78px; border-radius: 50%; border: 1px solid rgba(255,255,255,.4); }
.full-btn:hover{ background-color: #28b8d8; border: 1px solid #28b8d8; }
.full-pag{ bottom: 70px!important;}
.full-slogan{ opacity: 1; transition: .3s; pointer-events: none; position: absolute; top: calc(50% - 100px); z-index: 10; text-align: center; width: fit-content; left: 0; right: 0; margin: 0 auto;  }
.full-slogan img{ width: 100%; max-width: 737px; display: block; margin-bottom: 20px; }
.full-slogan p{ width: 100%;}
.full-slogan.hide{ opacity: 0;}

/* ==========================================================================
    #ROOMS-SWIPER
========================================================================== */
.rooms-wrap .top{ width: 100%; position: relative; padding-bottom: 20px; display: flex; justify-content: space-between; align-items: center;}
.rooms-wrap .top .tab a{ display: inline-block; padding-right: 36px; }
.rooms-wrap .top .tab a.active{ color: #222; font-weight: 500;}
.rooms-wrap .top .btn-wrap{ position: relative; width: 110px; height: 50px;}
.rooms-btn{ width: 50px; height: 50px; line-height: 50px; background-color: #222;}
.rooms-btn:hover{ background-color: #28b8d8;}
.rooms-next{ right: 0;}
.rooms-prev{ left: 0;}
.rooms-swiper{ width: 100%; overflow: hidden; position: relative;}
.rooms-swiper .img-wrap{ width: 100%; height: 260px; overflow: hidden; position: relative;}
.rooms-swiper .swiper-slide:hover .img-wrap .img{ transform: scale(1.1);}
.rooms-swiper .swiper-slide.hide{ display: none;}
.rooms-swiper .img-wrap p{ position: absolute; bottom: 20px; width: 100%; text-align: center; z-index: 10; letter-spacing: 0.1rem;}
.rooms-swiper h3{ padding: 15px 0;}
.rooms-swiper h4{ padding-bottom: 15px;}
.rooms-swiper .swiper-slide:hover > p{ letter-spacing: 0.2rem; color: #28b8d8;}


/* ==========================================================================
    #SUB-TOP
    ========================================================================== */
#sub-top{ position: relative; width: 100%; height: 600px; background-color: #181818; }
#sub-top > .img{ opacity: .3;}
#sub-top .text-wrap{ position: absolute; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; top: 0; z-index: 10;}
#sub-top h3{ padding-bottom: 20px;}
#sub-top h4{ padding-bottom: 50px;}

/* ==========================================================================
    #COMM-TAB
    ========================================================================== */
#comm-tab{ position: relative; width: 100%; display: flex; justify-content: center; margin-bottom: 70px; }
#comm-tab a{ width: 50%; height: 75px; text-align: center; line-height: 75px; display: inline-block; font-size: 16px; transition: .3s; border-bottom: 1px solid #ddd; color: #999; }
#comm-tab a:hover{ border-bottom: 1px solid #133e6e; color: #133e6e;} 
#comm-tab a.active{ border-bottom: 1px solid #133e6e; color: #133e6e;}


/* =================== 1024px =================== */
@media (max-width: 1024px) {

    .mf10{ font-size: 10px;}
    .mf12{ font-size: 12px;}
    .mf14{ font-size: 14px;}
    .mf15{ font-size: 15px;}
    .mf20{ font-size: 20px;}
    .mf22{ font-size: 22px;}
    .mf25{ font-size: 25px;}
    .mf30{ font-size: 30px;}
    
    /* ==========================================================================
    **MOBILE**#COL
   ========================================================================== */
    .m-col-1{ width: 100%;}
    .m-col-2{ width: 50%;}
    .m-col-3{ width: calc(100%/3);}



    /* ==========================================================================
    **MOBILE**#BTN
    ========================================================================== */
    #btn02{ width: 130px; height: 40px; line-height: 38px; }


    body{ font-family: 'SCoreDream'; overflow-x: hidden; position: relative;  }
    body > section{ width: 100%; min-width: unset; height: auto; position: relative; overflow: hidden; box-sizing: border-box;}
    .none-mo{ display: none!important;}
    .none-pc{ display: inline-block!important;}
    .wrap1400{ width: 100%; padding: 0 15px; position: relative; margin: 0 auto; box-sizing: border-box; }



    /* swiper */
    .swiper-button-prev, .swiper-button-next { width: 23px; height: 23px; line-height: 23px; font-size: 12px; }
    .swiper-button-prev{ left: 15px;}
    .swiper-button-next{ right: 15px;}

    .swiper-pagination-bullet{width: 8px; height: 8px; margin: 0 4px!important; }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom, .swiper-pagination-fraction{ bottom: 15px;}

   /* ==========================================================================
    #FULL-SWIPER
    ========================================================================== */
    .full-swiper{ height: 100%; position: relative; overflow: hidden;}
    .full-swiper .swiper-slide{ background-size: cover; background-repeat: no-repeat; background-position: center;}
    .full-slogan{ top: calc(50% - 30px); }
    .full-btn{ display: none; }
    .full-text{ display: none;}
    .full-pag{ bottom: 15px!important;}


    /* ==========================================================================
    #ROOMS-SWIPER
    ========================================================================== */
    .rooms-wrap .top{ padding-bottom: 15px; }
    .rooms-wrap .top .tab a{ padding-right: 10px; }
    .rooms-wrap .top .btn-wrap{ position: relative; width: 80px; height: 35px;}
    .rooms-btn{ width: 35px; height: 35px; line-height: 35px; background-color: #222;}
    .rooms-next{ right: 0;}
    .rooms-prev{ left: 0;}
    .rooms-swiper .img-wrap{ height: 52.80vw;}
    .rooms-swiper .img-wrap p{ bottom: 10px; }
    .rooms-swiper h3{ padding: 12px 0;}
    .rooms-swiper h4{ padding-bottom: 12px;}

    /* ==========================================================================
    #ALL-FULL-SWIPER
    ========================================================================== */
    .all-full-swiper{ height: 100%; position: relative; overflow: hidden;}
    .all-full-swiper .swiper-slide{ background-size: cover; background-repeat: no-repeat; background-position: center;}
    .all-full-btn{ display: none; }
    .all-full-text{ display: none;}


    /* ==========================================================================
    #SUB-TOP
    ========================================================================== */
    #sub-top{ height: 53.33vw; margin-top: 50px;}
    #sub-top h3{ padding-bottom: 10px;}
    #sub-top h4{ padding-bottom: 25px;}

    /* ==========================================================================
    #COMM-TAB
    ========================================================================== */
    #comm-tab{ position: relative; width: 100%; display: flex; justify-content: center; margin-bottom: 35px; }
    #comm-tab a{ height: 40px; line-height: 40px; font-size: 14px; }

}