/* header */
.panel{ display: none;}

header{ position: fixed; top: 0; left: 0; right: 0; margin: 0 auto; z-index: 1000; width: 100%; height: 85px; transition: .3s; padding-left: 20px; border-bottom: 1px solid rgba(255,255,255,.2); }
header .logo{ width: 186px; height: 46px; transition: .3s; position: relative; overflow: hidden; margin: 19px 0;}
header .logo img{ position: absolute; top: 0; left: 0; width: 100%; object-fit: cover;}
header .logo img.logo-color{ opacity: 0;}
header .logo img.logo-img{ opacity: 1;}
header .gnb-top{ margin-left: 75px; display: flex; justify-content: flex-start; align-items: center; height: 85px; text-align: center; line-height: 85px; }
header .gnb-top a{ display: inline-block; padding: 0 25px; transition: .3s;}
header .gnb-top a:hover{ color: #28b8d8!important;}

header .gnb-btm{ width: 100%; height: 260px; position: fixed; top: 85px; left: 0; background-color: rgba(255,255,255,.9); opacity: 0; pointer-events: none; transition: .3s; }
header .gnb-btm.show{ opacity: 1; pointer-events: inherit;}
header .gnb-btm li.flex-wrap{ opacity: 0; pointer-events: none; transition: .3s; width: 100%; height: 260px; justify-content: flex-start; position: absolute; top: 0; left: 0;}
header .gnb-btm li.flex-wrap.active{ opacity: 1; pointer-events: inherit;}
header .gnb-btm li.flex-wrap img{ width: 280px; height: 180px; object-fit: cover; margin-right: 50px;}
header .gnb-btm .subnav li{ display: inline-block; }
header .gnb-btm .subnav li a{ display: inline-block; padding: 0 10px; transition: .3s;}
header .gnb-btm .subnav li a:hover{ color: #28b8d8;}

header .head-btn-wrap{ position: absolute; right: 0; top: 0; height: 85px; display: flex; justify-content: flex-end; align-items: center; text-align: center;}
header .head-btn-wrap a{ display: block; padding: 0 25px; position: relative;  transition: .3s;}
header .head-btn-wrap a:hover{ color: #28b8d8!important;}
header .head-btn-wrap a:after{ content: '|'; display: block; font-size: 11px; color: #fff; position: absolute; left: 0; top: 0;}
header .head-btn-wrap a:first-child:after{ content: '';}
header .head-btn-wrap .reser-btn{ height: 100%; width: 85px; border-left: 1px solid rgba(255,255,255,.2); display: flex; align-items: center; flex-direction: column;justify-content: center; margin-left: 15px; padding: 0; transition: .3s;}
header .head-btn-wrap .reser-btn:after{ content: '';}
header .head-btn-wrap .reser-btn i{ padding-bottom: 5px;}
header .head-btn-wrap .reser-btn:hover{ background-color: #28b8d8!important;}

/* header-hover */
header:hover{ background-color: #fff; box-shadow: 2px 0 6px rgba(0,0,0,.2);}
header:hover .logo img.logo-color{ opacity: 1;}
header:hover .logo img.logo-img{ opacity: 0;}
header:hover .gnb-top a{ color: #222;  text-shadow: unset;}
header:hover .head-btn-wrap a{ color: #222; text-shadow: unset;}
header:hover .head-btn-wrap a:after{ color: #222; }
header:hover .head-btn-wrap .reser-btn{ background-color: #222;}


/* header-scroll */
header.scroll{ z-index: 1000; height: 85px; width: 100%; transition: .3s;  animation-name: headfix; animation-duration: 1.3s; animation-fill-mode:forwards; }
@keyframes headfix {
    0% { top: 0; }
    50%{ top: -100px; background-color: transparent;}
    100% { top: 0; background-color:rgba(255, 255, 255, 1); box-shadow: 2px 0 6px rgba(0,0,0,.2);}
  }
header.scroll .gnb-top a{ color: #222; text-shadow: unset;}
header.scroll .logo img.logo-color{ opacity: 1;}
header.scroll .logo img.logo-img{ opacity: 0;}
header.scroll .head-btn-wrap a{ color: #222; text-shadow: unset;}
header.scroll .head-btn-wrap a:after{ color: #222; }
header.scroll .head-btn-wrap .reser-btn{ background-color: #222;}


header .none-pc{ display: none!important;}
header .none-mo{ display: inline-block!important;}


/* footer */
footer{width: 100%; text-align: left; overflow: hidden; background-color: #222;}
footer .f-top{ height: 60px; background-color: #28b8d8; }
footer .f-top .wrap1400{justify-content: flex-end;}
footer .f-top .wrap1400 a{ padding-left: 40px;}

footer .f-mid{ padding: 80px 0;}
footer .f-mid .wrap1400{ justify-content: flex-start; position: relative; align-items: flex-start;}
footer .f-mid img{ width: 186px; object-fit: cover; margin-right: 90px;}
footer .f-mid .text-wrap{ text-align: left; line-height: 18px; }
footer .f-mid .text-wrap ul{ display: block; font-size: 0;}
footer .f-mid .text-wrap li{ position: relative; display: inline-block; padding: 0 8px 0 5px; font-size: 12px; color: rgba(255,255,255,.5);}
footer .f-mid .text-wrap li:after{ content: '|'; font-size: 11px; position: absolute; top: 0; right: 0; color: rgba(255,255,255,.5);}
footer .f-mid .text-wrap li.pl0{ padding-left: 0;}
footer .f-mid .text-wrap li.after-x:after{ display: none;}
footer .f-mid .flex-wrap > a{ position: absolute; top: 0; right: 0; display: block; width: 60px; height: 60px; line-height: 60px; text-align: center; border-radius: 50%; border: 1px solid rgba(255,255,255,.3); color: rgba(255,255,255,.5); transition: .3s;}
footer .f-mid .flex-wrap > a:hover{ background-color: #28b8d8; border: 1px solid #28b8d8; color: #fff;}
footer .f-mid .pb30{ padding-bottom: 30px;}
footer .f-mid .pb10{ padding-bottom: 10px;}
footer .f-mid .text-wrap > p{ font-size: 12px; color: rgba(255,255,255,.5);}

footer .f-btm{ border-top: 1px solid rgba(255,255,255,.2); text-align: right; padding: 30px 0 40px;}
footer .f-btm .wrap1400 > p{ opacity: .2; font-size: 12px; order: 0;}
footer .f-btm .wrap1400 > ul{ font-size: 0; order: 1;}
footer .f-btm li{ display: inline-block; padding: 0 12px; position: relative; font-size: 12px;}
footer .f-btm li:after{ content:'|'; font-size: 10px; position: absolute; right: 0; top: 0; color: #948f8d;}
footer .f-btm li:last-child{ padding: 0 0 0 12px;}
footer .f-btm li:last-child:after{ content: '';}
footer .f-btm li a{ color: #948f8d;}
footer .f-btm li a.cf{ color: #fff;}
#blackbg{display: none;}
/* =================== 1200px =================== */
@media (max-width: 1200px) {
  #blackbg{display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.4); z-index: 100;}
  header .none-pc{ display: inline-block!important;}
  header .none-mo{ display: none!important;}
  header{ height: 50px; transition: .3s; padding: 0 15px; border-bottom: 1px solid rgba(255,255,255,.2); background-color: #fff; }
  header .logo{ width: 102px; height: 25px;  margin: 12px 0;}
  header .logo img{ position: absolute; top: 0; left: 0; width: 100%; object-fit: cover;}
  header .logo img.logo-color{ opacity: 1;}
  header .logo img.logo-img{ opacity: 0;}


  header .head-btn-wrap{ right: 60px; height: 50px; }
  header .head-btn-wrap a{ padding: 0 ; color: #222; text-shadow: none;}
  header .head-btn-wrap a:hover{ color: #28b8d8!important;}
  header .head-btn-wrap a:after{ content: ''; }
  header .head-btn-wrap a i{ padding-right: 5px;}
  header .head-btn-wrap .reser-btn{ display: none;}

  /* hover */
  header:hover{ background-color: #fff; box-shadow: unset;}

  /* header scroll */
  header.scroll{ height: 50px; z-index: 1000; background-color: #fff; padding-top: 0; top: 0; animation-name: unset; }

  /* panel */
  .panel{ position: fixed; top: 50px; right: -80%; width: 80%; height: calc(100% - 50px); background-color: #fff; z-index: 999; display: block; transition: .3s;}
  .panel::-webkit-scrollbar {display: none; }
  .panel.active{ top: 50px; right: 0;}
  .panel.active + header{ background-color: #222; border-bottom: 1px solid rgba(255,255,255,.2);}
  .panel.active + header .logo img.logo-color{ opacity: 0;}
  .panel.active + header .logo img.logo-img{ opacity: 1;}
  .panel.active + header .head-btn-wrap a{ color: #fff;}
  .panel.active + header.scroll{ background-color: #222; padding-top: 0; top: 0; }
  .panel.active + header.scroll .logo img.logo-color{ opacity: 0;}
  .panel.active + header.scroll .logo img.logo-img{ opacity: 1;}


  .panel .panel-top{ padding: 25px 0; background-color: #222; justify-content: space-around;}
  .panel .panel-top a{ display: flex; width: calc(100%/3); flex-direction: column; align-items: center; justify-content: center; position: relative;}
  .panel .panel-top a:after{ content: ''; width: 1px; height: 100%; position: absolute; right: 0; top: 0; background-color: rgba(255,255,255,.2);}
  .panel .panel-top a:last-child:after{ display: none;}
  .panel .panel-top a i{ padding-bottom: 10px;}

  .mNav > ul > li{ width: 100%; overflow: hidden; text-align: left; }
  .mNav > ul > li > a{ display: block; width: 100%; height: 55px; box-sizing: border-box; line-height: 55px; transition: .3s; padding: 0 15px; border-bottom: 1px solid #ccc; }
  .mNav > ul > li > a.active{ background-color:#28b8d8; color: #fff; border-bottom: 1px solid #28b8d8;}
  .mNav > ul > li > a i{ transition: .3s; position: relative; top: 18px;}
  .mNav > ul > li > a.active i{ transform: rotate(180deg); color: #fff;}
  .mNav .subNav{ padding: 10px 30px; overflow: hidden; background-color: #eee; }
  .mNav .subNav li a{ display: block; position: relative; font-size: 12px; height: 30px; line-height: 30px; transition: .3s;}

  #panelbtn{ position: absolute; width: 26px; height: 18px; margin: 16px 0;  padding: 0; overflow: hidden; top: 0; right: 15px; z-index: 1100;  }
  #panelbtn a{ display: block; width: 100%; height: 100%; position: relative; }
  #panelbtn span{ display: block; width: 23px; height: 2px; border-radius: 1px; background-color: #222; position: absolute; left: 0; transition: 0.3s;} 
  #panelbtn .line01{top: 1px;}
  #panelbtn .line02{top: 8px;}
  #panelbtn .line03{top: 15px;}
    

  /*active클래스 활성화 - x처리*/
  #panelbtn.scroll span{ background-color: #fff;}


  #panelbtn.active span{ background-color: #fff;}
  #panelbtn.active .line02{ transform: scaleX(0); }
  #panelbtn.active .line01{  transform-origin: left top; left: 5px; transform: rotate(45deg); }
  #panelbtn.active .line03{  transform-origin: left bottom; left: 5px; transform: rotate(-45deg); top: 17px; }
}
/* =================== 1188px =================== */
@media (max-width: 1188px) {
  footer .f-mid img{ margin-bottom:50px;}
}

/* =================== 1024px =================== */
@media (max-width: 1024px) {
  footer .f-top{ display: none; }
  
  footer .f-mid{ padding: 50px 0;}
  footer .f-mid .wrap1400{ padding: 0 5px 0 15px; flex-direction: column;}
  footer .f-mid img{ width: 130px; margin-right: unset; margin-bottom: 50px;}
  footer .f-mid .text-wrap{ text-align: left; }
  footer .f-mid .text-wrap ul{ display: block; font-size: 0;}
  footer .f-mid .text-wrap li{ position: relative; display: inline-block; padding: 0 8px 0 5px; font-size: 12px; color: rgba(255,255,255,.5);}
  footer .f-mid .text-wrap li:after{ content: '|'; font-size: 11px; position: absolute; top: 0; right: 0; color: rgba(255,255,255,.5);}
  footer .f-mid .text-wrap li.pl0{ padding-left: 0;}
  footer .f-mid .text-wrap li.mpl0{ padding-left: 0;}
  footer .f-mid .text-wrap li.mpr0{ padding-right: 0;}
  footer .f-mid .text-wrap li.after-x:after{ display: none;}
  footer .f-mid .text-wrap li.m-after-x:after{ display: none;}
  footer .f-mid .flex-wrap > a{ display: none;}
  footer .f-mid .pb30{ padding-bottom: 20px;}
  footer .f-mid .pb10{ padding-bottom: 20px;}

  footer .f-btm{  padding: 25px 0 30px; text-align: center;}
  footer .f-btm .wrap1400{ justify-content: center; flex-direction: column;}
  footer .f-btm .wrap1400 > p{ opacity: .2; font-size: 12px; order: 1;}
  footer .f-btm .wrap1400 > ul{ font-size: 0; order: 0; padding-bottom: 25px;}
  footer .f-btm li{ display: inline-block; padding: 0 10px; position: relative; font-size: 12px; line-height: 20px;}
  footer .f-btm li:after{ content:'|'; font-size: 10px; position: absolute; right: 0; top: 0; color: #948f8d;}
  footer .f-btm li:last-child{ padding: 0 0 0 12px;}
  footer .f-btm li:last-child:after{ content: '';}
  footer .f-btm li:nth-child(4):after{ content: '';}
  footer .f-btm li a{ color: #948f8d;}
  footer .f-btm li a.cf{ color: #fff;}
}

/* =================== 480px =================== */
@media (max-width: 480px) {
  .panel{right: -100%; width: 100%; }

}