/* section01 */
#section01, #section08{ overflow: hidden; position: relative; width: 100%; height: 100vh; background-color: #444; }
#section01 > .img, #section08 > .img{ opacity: .8; }
#section08{ width: 100%; height: 0; padding-top: 56.25%; position: relative;}
#section01 .videoWrap, #section08 .videoWrap {position:absolute; width: 100%; height:100%; top: 0; left: 0; margin:0; pointer-events: none;}
#section01 .videoWrap iframe, #section01 .videoWrap object, #section01 .videoWrap embed,
#section08 .videoWrap iframe, #section08 .videoWrap object, #section08 .videoWrap embed{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    object-fit: cover;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    display: block;
 }
#section01 .control{ z-index: 1; font-size: 0; position: absolute; bottom: 100px; left: 0; right: 0; margin: 0 auto; width: 170px; text-align: center; z-index: 100;}
#section01 .control li{ display: inline-block; padding: 0 5px;}
#section01 .control li a{ display: block; font-size: 21px; color: #fff; width: 44px; height: 44px; line-height: 46px; border-radius: 50%; background-color: rgba(255,255,255,.8); text-align: center;}
#section01 .control li i{ color: #757575; position: relative; }
#section01 .scroll-down{ position: absolute; width: 34px; height: 23px; z-index: 10; bottom: 30px; left: 0; right: 0; margin: 0 auto;}
#section01 .play-pause a.hide{ display: none;}
#section01 .control .mute-onoff a.hide{ display: none;}
.vidbox .ratio iframe, .end-video .videoWrap iframe, #cutvideo1, #cutvideo2{pointer-events: none;}
.m-play{ display: none;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section01 { width: 100%; height: 57.73vw; margin-top: 50px; }
  #section01 .videoWrap{position:absolute; width: 100%; height:100%; top: 0; left: 0;  }
  #section01 .videoWrap, #section01 .videoWrap iframe, #section01 .videoWrap object, #section01 .videoWrap embed{ pointer-events: unset;}
  #section01 .videoWrap iframe, #section01 .videoWrap object, #section01 .videoWrap embed{ opacity: 1; }
  #section01 .full-slogan img{ width: 61.07vw; }
  #section01 .control{ bottom: 25px; }
  #section01 .control li a{ display: block; font-size: 12px; width: 28px; height: 28px; line-height: 29px; }
}


/* section02 */
#section02{ padding: 150px 0 0; position: relative; width: 100%; overflow: hidden;}
#section02 .wrap1400 .top{ align-items: flex-start; padding-bottom: 80px;}
#section02 .wrap1400 .top .left{ width: 859px; height: 537px; }
#section02 .wrap1400 .top .right{ width: calc(100% - 859px); padding-left: 80px;}
#section02 .wrap1400 .top .video-wrap{ width: 100%; height: 100%; position: relative;}
#section02 .wrap1400 .top .video-wrap iframe{ position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
#section02 .wrap1400 .text-wrap h3{ padding-bottom: 45px; line-height: 40px; }
#section02 .wrap1400 .top .text-wrap h4{ padding-bottom: 20px;}
#section02 .wrap1400 .top .text-wrap p{ line-height: 20px; padding-bottom: 55px;}
#section02 .wrap1400 .btm{ align-items: flex-start; padding-bottom: 150px;}
#section02 .wrap1400 .btm .right{ width: 680px; height: 383px; }
#section02 .wrap1400 .btm .left{ width: calc(100% - 680px); }
#section02 .wrap1400 .btm .video-wrap{ width: 100%; height: 100%; position: relative;}
#section02 .wrap1400 .btm .video-wrap iframe{ position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
#section02 > .img-wrap{ width: 100%; height: 36.46vw; position: relative;}
#section02 > h3{ text-align: center; width: 100%; padding: 140px 0 120px;}
/* =================== 1440px =================== */
@media (max-width: 1440px) {
  #section02 .wrap1400 .top .left{ width: 59.65vw; height: 37.29vw; }
  #section02 .wrap1400 .top .right{ width: calc(100% - 59.65vw); padding-left: 5.56vw;}
  #section02 .wrap1400 .btm .right{ width: 47.22vw; height: 26.60vw; }
  #section02 .wrap1400 .btm .left{ width: calc(100% - 47.22vw); }
}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section02{ padding: 60px 0 0;}
  #section02 .wrap1400 .top{ align-items: flex-start; padding-bottom: 0;}
  #section02 .wrap1400 .top .left{ width: 100%; height: 57.73vw; }
  #section02 .wrap1400 .top .right{ width: 100%; padding-left: 0; padding-top: 30px; padding-bottom: 45px;}
  #section02 .wrap1400 .text-wrap h3{ padding-bottom: 25px; line-height: 25px; }
  #section02 .wrap1400 .top .text-wrap h4{ padding-bottom: 17px;}
  #section02 .wrap1400 .top .text-wrap p{ line-height: 17px; padding-bottom: 20px;}
  #section02 .wrap1400 .btm{ align-items: flex-start; padding-bottom: 25px;}
  #section02 .wrap1400 .btm .right{ width: 100%; height: 57.73vw; order: 0;}
  #section02 .wrap1400 .btm .left{ width: 100%; order: 1; padding-top: 30px; }
  #section02 > .img-wrap{ height: 40.00vw;}
  #section02 > h3{ line-height: 30px; padding: 55px 0 50px;}
}



/* section03 */
#section03{ width: 100%; height: 100vh; position: relative; background-color: #222; overflow: hidden;}
#section03 .img-wrap{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: .5; }
#section03 .img-wrap .img{ opacity: 0; transition: .3s;}
#section03 .img-wrap .img.active{ opacity: 1;}
#section03 .text-wrap{ position: absolute; bottom: -25px; left: 0; width: 100%; text-align: center;}
#section03 .text-wrap p{ position: absolute; bottom: 0; left: 0; right: 0; margin: 0 auto; opacity: 0; transition: .3s;}
#section03 .text-wrap p.active{ opacity: .2;}
#section03 .a-wrap{ position: relative; width: 100%; height: 100%; z-index: 10; display: flex; justify-content: space-between; align-items: center;}
#section03 .a-wrap a{ display: flex; flex-direction: column; justify-content: center; align-items: center; width: calc(100%/3); height: 100%; text-align: center; opacity: .7; transition: .3s;}
#section03 .a-wrap a.active{ opacity: 1;}
#section03 .a-wrap a h3{ width: fit-content; position: relative; margin-bottom: 20px; padding: 0 5px;}
#section03 .a-wrap a h3:after{ content: ''; position: absolute; bottom: 0; left: 0; display: block; width: 100%; height: 20px; background-color: rgba(255,255,255,.4); transition: .3s; transform: scaleY(0); transform-origin: bottom;}
#section03 .a-wrap a.active h3:after{ transform: scaleX(1);}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section03{ width: 100%; height: auto; }
  #section03 .img-wrap{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: .5; }
  #section03 .text-wrap{ display: none;}
  #section03 .a-wrap{ flex-direction: column;}
  #section03 .a-wrap a{ width: calc(100% - 30px); margin: 0 15px; padding: 70px 0; border-bottom: 1px solid rgba(255,255,255,.2);}
  #section03 .a-wrap a:last-child{ border-bottom: unset;}
  #section03 .a-wrap a.active{ opacity: 1;}
  #section03 .a-wrap a h3{ width: fit-content; position: relative; margin-bottom: 8px; padding: 0 5px;}
  #section03 .a-wrap a h3:after{ height: 10px; }
}



/* section04 */
#section04{ padding: 140px 0 150px; text-align: center;}
#section04 .tit{ padding-bottom: 140px;}
#section04 .tit h3{ padding-bottom: 20px;}
#section04 .tit h4{ padding-bottom: 50px;}
#section04 .tit p{ line-height: 20px;}
#section04 .bgi{ box-shadow: 10px 0 20px rgba(34,34,34,.4);}
#section04 .top .img01{ width: 36.72vw; height: 20.68vw; order: 1; margin-right: 8.33vw; }
#section04 .top .img02{ width: 30.00vw; height: 16.88vw; order: 0; margin-top: 15.89vw; margin-left: 5.21vw;}
#section04 .btm .img03{ width: 52.08vw; height: 29.32vw; order: 1; }
#section04 .btm .img04{ width: 35.94vw; height: 20.31vw; order: 0; margin-top: 25.26vw; }
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section04{ padding: 60px 0; text-align: center;}
  #section04 .tit{ padding-bottom: 50px;}
  #section04 .tit h3{ padding-bottom: 10px;}
  #section04 .tit h4{ padding-bottom: 20px;}
  #section04 .top, #section04 .btm{ display: block; overflow: hidden;}
  #section04 .top .img01{ float: right; width: 74.67vw; height: 42.00vw; margin-right: 15px; }
  #section04 .top .img02{ float: left; width: 53.33vw; height: 29.87vw; margin-top: 40px; margin-left: 15px;}
  #section04 .btm .img03{ float: right; width: calc(100% - 15px); height:54.00vw; margin-top: 40px;  }
  #section04 .btm .img04{ float:left; width: 74.67vw; height: 42.27vw; margin-top: 40px; }
}




/* section05 */
#section05{ width: 100%; position: relative; overflow: hidden; text-align: center; padding: 140px 0;}
#section05 .wrap1400 .tit{ padding-bottom: 40px;}
#section05 .wrap1400 .tit h3{ padding-bottom: 20px;}
#section05 .wrap1400 .tit h4{ padding-bottom: 50px;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section05{ padding: 60px 0;}
  #section05 .wrap1400 .tit{ padding-bottom: 35px;}
  #section05 .wrap1400 .tit h3{ padding-bottom: 10px;}
  #section05 .wrap1400 .tit h4{ padding-bottom: 25px;}
}


/* section06 */
#section06{ padding-bottom: 150px; position: relative; overflow: hidden;}
#section06 .top{ align-items: flex-start; padding-bottom: 80px;}
#section06 .bgi{ box-shadow: 4px 0 10px rgba(34,34,34,.4);}
#section06 .text-wrap{ padding-bottom: 150px;}
#section06 .text-wrap h3{ padding-bottom: 25px; }
#section06 .text-wrap h4{ padding-bottom: 50px;}
#section06 .img01{ width: 310px; height: 174px; margin-bottom: 20px;}
#section06 .video-wrap{ width: 711px; height: 400px; position: relative;}
#section06 .video-wrap iframe{ position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
#section06 .right{ display: flex; justify-content: flex-end; flex-wrap: wrap;}
#section06 .right .text-wrap{ display: none;}
#section06 .right .bgi{ width: calc(50% - 10px); height: 310px; margin-left: 20px; margin-bottom: 20px; }
#section06 .right .bgi:first-child{ margin-left: 0;}
#section06 .wrap1400 > .bgi{ width: 100%; height: 788px; box-shadow: unset;}
/* =================== 1440px =================== */
@media (max-width: 1440px) {
  #section06 .img01{ width: 21.53vw; height: 12.08vw; margin-bottom: 1.39vw;}
  #section06 .video-wrap{ width: 49.38vw; height: 27.78vw; position: relative;}
  #section06 .right .bgi{ width: calc(50% - 10px); height: 21.53vw; margin-left: 20px; }
  #section06 .right .bgi:first-child{ margin-left: 0;}
  #section06 .wrap1400 > .bgi{ width: 100%; height: 54.72vw; }
}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section06{ padding-bottom: 60px;}
  #section06 .top{ align-items: flex-start; padding-bottom: 30px;}
  #section06 .bgi{ box-shadow: 2px 0 5px rgba(34,34,34,.4);}
  #section06 .left{ order: 1;}
  #section06 .left .text-wrap{ display: none!important;}
  #section06 .text-wrap{ width: calc(50% - 5px); height: 41.33vw; padding-bottom: 0; display: flex!important; flex-direction: column; justify-content: flex-end; align-items: flex-start;} 
  #section06 .text-wrap h3{ padding-bottom: 10px; }
  #section06 .text-wrap h4{ padding-bottom: 25px;}
  #section06 .img01{ display: none;}
  #section06 .video-wrap{ width: 100%; height: 51.73vw; position: relative;}
  #section06 .video-wrap iframe{ position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
  #section06 .right{ order: 0; display: flex; justify-content: flex-end; flex-wrap: wrap; padding-bottom: 10px;}
  #section06 .right .bgi{ width: calc(50% - 5px); height: 41.33vw; margin-left: 10px; margin-bottom: 20px; }
  #section06 .right .bgi:first-child{ margin-left: 0;}
  #section06 .wrap1400 > .bgi{ height: 51.73vw; }
}


#section07{ width: 100%; padding: 130px 0 140px; text-align: center; overflow: hidden;}
#section07 .tit{ padding-bottom: 60px;}
#section07 .tit h3{ padding-bottom: 20px;}
#section07 .tit h4{ padding-bottom: 50px;}
#section07 .btn-wrap{ width: 720px; height: 600px; position: relative; left: 0; right: 0; margin: 0 auto;}
#section07 .btn-wrap a{ display: flex; flex-direction: column; align-items: center; justify-content: center; position: absolute; width: 170px; height: 170px; z-index: 10; }
#section07 .btn-wrap a:after{ content: ''; position: absolute; width: calc(100% - 2px); height: calc(100% - 2px); border: 1px solid rgba(255,255,255,.2); background-color: rgba(34,34,34,.3); transition: .3s; transform: rotate(45deg); transform-origin: center; top: 0; left: 0; z-index: -1;}
#section07 .btn-wrap a.btn01{ left: 155px; top: 35px;}
#section07 .btn-wrap a.btn02{ right: 155px; top: 35px;}
#section07 .btn-wrap a.btn03{ left: 35px; top: 155px;}
#section07 .btn-wrap a.btn04{ right: 35px; top: 155px;}
#section07 .btn-wrap a.btn05{ left: 155px; bottom: 155px;}
#section07 .btn-wrap a.btn06{ right: 155px; bottom: 155px;}
#section07 .btn-wrap a.btn07{ left: 0; right: 0; bottom: 35px; margin: 0 auto;}
#section07 .btn-wrap a .img-wrap{ width: 68px; height: 40px; display: block; position: relative; margin-bottom: 15px;}
#section07 .btn-wrap a .img-wrap img{ position: absolute; width: 100%; height: 100%; object-fit: contain; top: 0; left: 0; right: 0; margin: 0 auto; transition: .3s; }
#section07 .btn-wrap a .img-wrap img.hover{ opacity: 0;}
#section07 .btn-wrap a h3{ padding-bottom: 5px; transition: .3s;}
#section07 .btn-wrap a p{ transition: .3s;}
#section07 .btn-wrap a > img{ opacity: 0; height: 0; transition: opacity 1s; }
/* hover */
#section07 .btn-wrap a:hover:after{ border: 1px solid rgba(255,255,255,.2); background-color: rgba(255,255,255,.9);}
#section07 .btn-wrap a:hover .img-wrap img.normal{ opacity: 0;}
#section07 .btn-wrap a:hover .img-wrap img.hover{ opacity: 1;}
#section07 .btn-wrap a:hover h3{ color: #222;}
#section07 .btn-wrap a:hover p{ padding-bottom: 15px; color: #888;}
#section07 .btn-wrap a:hover > img{ opacity: 1; height: 15px;  object-fit: cover;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section07{ padding: 65px 0 70px;}
  #section07 .tit{ padding-bottom: 30px;}
  #section07 .tit h3{ padding-bottom: 10px;}
  #section07 .tit h4{ padding-bottom: 25px;}
  #section07 .btn-wrap{ width: 92.00vw; height: 76.80vw; }
  #section07 .btn-wrap a{ width: 21.73vw; height: 21.73vw; z-index: 10; }
  #section07 .btn-wrap a.btn01{ left: 19.87vw; top: 4.53vw;}
  #section07 .btn-wrap a.btn02{ right: 19.87vw; top: 4.53vw;}
  #section07 .btn-wrap a.btn03{ left: 4.53vw; top: 19.87vw;}
  #section07 .btn-wrap a.btn04{ right: 4.53vw; top: 19.87vw;}
  #section07 .btn-wrap a.btn05{ left: 19.87vw; bottom: 19.87vw;}
  #section07 .btn-wrap a.btn06{ right: 19.87vw; bottom: 19.87vw;}
  #section07 .btn-wrap a.btn07{ left: 0; right: 0; bottom: 4.53vw; margin: 0 auto;}
  #section07 .btn-wrap a .img-wrap{ width: 8.67vw; height: 4.27vw; display: block; position: relative; margin-bottom: 5px;}
  #section07 .btn-wrap a h3{ padding-bottom: 0; transition: .3s; line-height: 12px;}
  /* hover */
  #section07 .btn-wrap a:hover h3{ color: #222; padding-bottom: 10px;}
  #section07 .btn-wrap a:hover > img{ height: 8px;}

}