
#section01{ padding: 60px 0 100px;}
#section01 .a-wrap{ padding-bottom: 60px; text-align: center;}
#section01 .a-wrap a{ margin: 0 10px;}
#section01 .reserv-calendar { width: 100%;}
#section01 .reserv-mo { width: 100%; text-align: center; margin-top: 20px; }
#section01 .icon-cal {display: inline-block; width:68px; height: 68px; border-radius: 50%; background: #28b8d8; color: #fff; font-size: 30px; line-height: 64px;}
#section01 .icon-cal i{ position: relative; top: 1px;}
#section01 .reserv-mo p {margin: 17px 0 30px; font-size: 13px; line-height: 22px; }
#section01 .reserv-btn {display: inline-block; width: 100%; height: 45px; line-height: 45px; letter-spacing: 0.04em; color: #fff; text-align: center; background: #28b8d8;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
    #section01{ padding: 30px 0 60px;}
    #section01 .a-wrap{ padding-bottom: 30px; text-align: center;}
    #section01 .a-wrap a{ margin: 0 5px;}
    #section01 #sub-tab a{ height: 40px; line-height: 40px;}
}

/* charge */
#section01.charge .charge-tit{ width: 100%; padding-bottom: 10px; }
#section01.charge .flex-box{ display: flex; position: relative; text-align: left;}
#section01.charge .flex-box .line{ width: 200%; height: 1px; background-color: #ccc; position: absolute; top: 75px; left: -50%;}
#section01.charge .flex-box .charge-tit{ border: 0;}
#section01.charge .flex-box .content{ width: 100%; padding-bottom: 60px;}
#section01.charge .table-wrap{ text-align: left; position: relative;}
#section01.charge .table-wrap .charge-tit{ border: 0;}
#section01.charge .content{ line-height: 24px; margin-bottom: 60px;}

#section01.charge table {width: 100%;margin: 0 auto;text-align: center;border-top: 1px solid #d8d8d8;border-bottom: 1px solid #d8d8d8;}
#section01.charge table tr {line-height: 50px;  border-bottom: 1px solid #efefef;}
#section01.charge table th {font-size: 16px;color: #666666;font-weight: 500; width:calc(100%/11);  background-color: #F6F6F6;}
#section01.charge table td {font-size: 14px;color: #333; width:calc(100%/11); background-color: #fff;}

/* =================== 1024px =================== */
@media (max-width: 1024px) {
    #section01.charge .content-wrap{ text-align: left; padding: 0;}
    #section01.charge .img-wrap{ height: 56.41vw; }
    #section01.charge .flex-box{ flex-direction: column; padding: 0!important;}
    #section01.charge .flex-box .line{ display: none;}
    #section01.charge .flex-box .content{ padding: 0 20px 30px;}
    #section01.charge .table-wrap .line01{ width: 200%; height: 1px; background-color: #ccc; position: absolute; top: 45px; left: -50%;}
    #section01.charge .content{ line-height: 24px; margin-bottom: 40px;}

    .ch-block.last{padding-bottom: 50px}
    #section01.charge table{width: 1025px;}
    .refund {overflow-x: scroll;overflow-y: hidden;}
    .refund::-webkit-scrollbar { width: 5px; height: 5px; }
    .refund::-webkit-scrollbar-thumb{ height: 17%; background-color: #28b8d8; border-radius: 2px; }
    .refund::-webkit-scrollbar-track{ background-color: #fff; }

    .comm3_wrap #inner{ height: 700px!important;}
    
}

/* comm */
#section01.comm .content-wrap{ padding: 0 100px 0;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
    #section01.comm .content-wrap{ padding: 0 20px 0;}
}