#section01{ padding: 150px 0 95px;}
#section01 .wrap1400 > h3, #section01 .wrap1400 > h4{ line-height: 40px; padding-bottom: 80px;}
#section01 .wrap1400 > h3 i, #section01 .wrap1400 > h4 i{  padding-left: 20px;}

#section01 .wrap1400 > h4{ padding-top: 85px;}
#section01 .rooms-wrap{ justify-content: flex-start;}
#section01 .rooms-wrap.pool .dong-4589443{ display: none;}
#section01 .rooms-wrap.kids .dong-4589444{ display: none;}
#section01 .rooms-wrap a{ display: block; width: calc(33.33% - 14px); margin-right: 20px; text-align: center; margin-bottom: 55px;}
#section01 .rooms-wrap a:nth-child(3n){ margin-right: 0;}
#section01 .rooms-wrap a .img-wrap{ width: 100%; height: 260px; overflow: hidden; position: relative;}
#section01 .rooms-wrap a:hover .img-wrap .img{ transform: scale(1.1);}
#section01 .rooms-wrap a .img-wrap p{ position: absolute; bottom: 20px; width: 100%; text-align: center; z-index: 10; letter-spacing: 0.1rem;}
#section01 .rooms-wrap a h3{ padding: 15px 0;}
#section01 .rooms-wrap a h4{ padding-bottom: 15px;}
#section01 .rooms-wrap a:hover > p{ letter-spacing: 0.2rem; color: #28b8d8;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
    #section01{ padding: 60px 0 25px;}
    #section01 .wrap1400 > h3, #section01 .wrap1400 > h4{ line-height: 22px; padding-bottom: 35px;}
    #section01 .wrap1400 > h3 i, #section01 .wrap1400 > h4 i{  padding-left: 20px;}

    #section01 .wrap1400 > h4{ padding-top: 30px;}
    #section01 .rooms-wrap a{ width: 100%; margin-right: 0; margin-bottom: 25px;}
    #section01 .rooms-wrap a .img-wrap{ height: 52.80vw;}
    #section01 .rooms-wrap a .img-wrap p{ bottom: 15px; }
    #section01 .rooms-wrap a h3{ padding: 15px 0;}
    #section01 .rooms-wrap a h4{ padding-bottom: 10px;}
}















