#section01{ overflow: hidden; position: relative; width: 100%; height: 100vh; background-color: #444; }
#section01 .full-slogan{ top: calc(50% - 50px);}
#section01 .full-slogan h3{ padding-bottom: 15px;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
    #section01 { width: 100%; height: 57.73vw; margin-top: 50px; }
}


#section02{ padding: 100px 0 150px; overflow: hidden;}
#section02 .tit{ padding-bottom: 60px; border-bottom: 1px solid #ccc; position: relative;}
#section02 .tit:after{ content: ''; position: absolute; width: 40px; height: 7px; background-color: #28b8d8; display: block; bottom: -3px; left: 0;}
#section02 .tit > span{ display: block; padding-bottom: 25px;}
#section02 .tit h3{ padding-bottom: 15px;}
#section02 .tit h4{ padding-bottom: 30px;}
#section02 .tit div.con{ line-height: 24px; padding-bottom: 60px;}
#section02 .tit .a-wrap a{ margin-right: 10px;}
#section02 .content{ align-items: flex-start; padding: 60px 0 65px;} 
#section02 .content li{ padding-bottom: 35px;}
#section02 .content li span{ padding-bottom: 10px;}
#section02 .content li p{ line-height: 28px;}
#section02 .deco01{ width: 100%; height: 500px; position: relative; margin-bottom: 20px;}
#section02 .deco02{ width: calc(50% - 10px); height: 380px; position: relative; margin-bottom: 20px;}
#section02 .deco03{ width: calc(50% - 10px); height: 380px; position: relative; margin-bottom: 20px;}
/* =================== 1440px =================== */
@media (max-width: 1440px) {
    #section02 .deco01{ width: 100%; height: 34.72vw; position: relative; margin-bottom: 1.39vw;}
    #section02 .deco02{ width: calc(50% - 0.69vw); height: 26.39vw; position: relative; margin-bottom: 1.39vw;}
    #section02 .deco03{ width: calc(50% - 0.69vw); height: 26.39vw; position: relative; margin-bottom: 1.39vw;}
}

/* =================== 1024px =================== */
@media (max-width: 1024px) {
    #section02{ padding: 60px 0;}
    #section02 .tit:after{ width: 50px; height: 3px; bottom: -1px; }
    #section02 .tit > span{ padding-bottom: 10px;}
    #section02 .tit h3{ padding-bottom: 5px;}
    #section02 .tit h4{ padding-bottom: 25px;}
    #section02 .tit div.con{ line-height: 20px; padding-bottom: 25px;}
    #section02 .tit .a-wrap a{ margin-right: 10px;}
    #section02 .tit .a-wrap p{ display: none;}
    #section02 .content{ padding: 60px 0 55px;} 
    #section02 .content li{ padding-bottom: 25px;}
    #section02 .content li span{ padding-bottom: 5px;}
    #section02 .content li p{ line-height: 20px;}
    #section02 .deco01{ height: 40.00vw; margin-bottom: 10px;}
    #section02 .deco02{ width: calc(50% - 5px); height: 32.00vw; margin-bottom: 10px;}
    #section02 .deco03{ width: calc(50% - 5px); height: 32.00vw; margin-bottom: 10px;}
}


.deco04{ width: 100%; height: 56.25vw; position: relative;}



/* section05 */
#section03{ width: 100%; position: relative; overflow: hidden; text-align: center; padding: 140px 0;}
#section03 .wrap1400 .tit{ padding-bottom: 40px;}
#section03 .wrap1400 .tit h3{ padding-bottom: 20px;}
#section03 .wrap1400 .tit h4{ padding-bottom: 50px;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
    #section03{ padding: 60px 0;}
    #section03 .wrap1400 .tit{ padding-bottom: 35px;}
    #section03 .wrap1400 .tit h3{ padding-bottom: 10px;}
    #section03 .wrap1400 .tit h4{ padding-bottom: 25px;}
}




















