#section01{ overflow: hidden; position: relative; width: 100%; height: auto; padding-bottom: 150px;}
#section01 .top{ padding: 55px 0 15px; }
#section01 #tab{ justify-content: flex-start;}
#section01 #tab a{ display: block; width: fit-content; padding-right: 30px;}
#section01 #tab a.active{ color: #222;}
#section01 .tit{ padding: 90px 0 55px; border-top: 1px solid #ccc; position: relative;}
#section01 .tit:after{ content: ''; position: absolute; width: 40px; height: 7px; background-color: #28b8d8; display: block; top: -3px; right: 0; }
#section01 .tit h3{ padding-bottom: 15px;}
#section01 .tit p{ position: absolute; right: 0; bottom: 55px;}
#section01 .tit p i{ padding-right: 5px;}
#section01 .full-swiper{ height: 788px;}
#section01 .full-pag{ bottom: 30px!important;}
#section01 p.info{ padding: 60px 0 40px;}
#section01 .content{ line-height: 26px;} 
/* =================== 1024px =================== */
@media (max-width: 1024px) {
    #section01{ padding-bottom: 60px;}
    #section01 .mo-pad{ padding: 0 0 0 15px;}
    #section01 .top{ padding: 25px 0; }
    #section01 .scroll-wrap{ width: 100%; overflow-y: scroll;}
    #section01 .scroll-wrap::-webkit-scrollbar{ display: none;}
    #section01 #tab{ width: max-content;}
    #section01 #tab a{ width: fit-content; padding-right: 15px;}
    #section01 .tit{ padding: 55px 0 25px; }
    #section01 .tit:after{ width: 50px; height: 3px; bottom: -1px; }
    #section01 .tit p{ position: absolute; right: 0; bottom: 25px;}
    #section01 .tit p i{ padding-right: 5px;}
    #section01 .full-swiper{ height: 51.73vw;}
    #section01 .full-pag{ bottom: 10px!important;}
    #section01 p.info{ padding: 30px 0 15px;}
    #section01 .content{ line-height: 20px; } 
}













