/* ========== reset ============== */

/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    -webkit-text-size-adjust: none;
    line-height: 1.6;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{border: none;} 
address{font-style: normal;}
fieldset{border: none;} 
legend{position: absolute;left: -999em;} 
input[type=button],
input[type=submit],
input[type=reset],
input[type=image],
button, a, select{cursor: pointer; outline: none;} 
input{ outline: none;}

label.away{position: absolute;left: -999em;} 



/* ==========================================================================
#FONT
========================================================================== */
@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 700;
    src: local('Spoqa Han Sans Neo Bold'),
    url('../font/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('../font/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 500;
    src: local('Spoqa Han Sans Neo Medium'),
    url('../font/SpoqaHanSansNeo-Medium.woff') format('woff'),
    url('../font/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    src: local('Spoqa Han Sans Neo Regular'),
    url('../font/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('../font/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 300;
    src: local('Spoqa Han Sans Neo Light'),
    url('../font/SpoqaHanSansNeo-Light.woff') format('woff'),
    url('../font/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 100;
    src: local('Spoqa Han Sans Neo Thin'),
    url('../font/SpoqaHanSansNeo-Thin.woff') format('woff'),
    url('../font/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}

.thin{ font-weight: 100;}
.lig{ font-weight: 300;}
.reg{ font-weight: 400;}
.med{ font-weight: 500;}
.bold{ font-weight: 700;}

.upp{text-transform: uppercase;}
.cap{text-transform: capitalize;}
.t-shadow{text-shadow: 2px 0 4px rgba(0,0,0,.3);}
.b-shadow{box-shadow: 2px 0 4px rgba(0,0,0,.3);}


/* ==========================================================================
#COLOR
========================================================================== */
.cf{color: #fff; }
.c2{ color: #222;}
.color1{ color: #AB6333;}
.op6{ opacity: .6;}

::selection{ background-color: #AB6333; color: #fff;}


/* ==========================================================================
#SCROLLBAR
========================================================================== */
body::-webkit-scrollbar { width: 7px; }
body::-webkit-scrollbar-thumb{ height: 17%; background-color: #AB6333; border-radius: 2px; }
body::-webkit-scrollbar-track{ background-color: #fff; }
    
    
/* ==========================================================================
#FLOAT
========================================================================== */
.fl{ float: left;}
.fr{float: right;}
.clb{ clear: both; font-size: 0;}

/* ==========================================================================
#COL
========================================================================== */
.col-1{ width: 100%;}
.col-2{ width: 50%;}
.col-3{ width: 33.33%;}
.col-4{ width: 25%;}
.col-5{ width: 20%;}
.col-7{ width: calc(100%/7);}

/* ==========================================================================
#FONT-SIZE
========================================================================== */
.f40{ font-size: 40px;}
.f24{ font-size: 24px;}
.f18{ font-size: 18px;}
.f16{ font-size: 16px;}
.f14{ font-size: 14px;}
.f12{ font-size: 12px;}

/* ==========================================================================
#COMMON
========================================================================== */
body{ font-family: 'Spoqa Han Sans Neo', 'sans-serif'; font-weight: 300; font-size: 14px; overflow-x: hidden; }
.wrap1400{ width: 100%; max-width: 1440px; padding: 0 20px; height: 100%; position: relative; margin: 0 auto; box-sizing: border-box;}
.wrap1046{ width: 100%; max-width: 1086px; padding: 0 20px; height: 100%; position: relative; margin: 0 auto; box-sizing: border-box;}
.v-middle{ width: 100%; height: 100%; display: table-cell; vertical-align: middle;}
.img{ width: 100%; height: 100%; background-size: cover; background-position: center; background-repeat: no-repeat;  position: absolute; top: 0; left: 0; transition: .5s;}
.bgi{ background-size: cover; background-repeat: no-repeat; background-position: center;}
.t-right{ text-align: right;}
.t-center{ text-align: center;}
.t-left{ text-align: left;}
.none-mo{ display: inline-block!important;}
.none-pc{ display: none!important;}
.flex-wrap{ display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;}
#bg-fix{ width: 100%; height: 600px; }

#tit{ padding-bottom: 60px;}
#tit h3{ padding-bottom: 20px;}
#tit p{ padding-bottom: 20px;}
#tit a{ width: 456px; height: 38px; line-height: 36px; border: 1px solid #222; text-align: center; display: inline-block; transition: .5s;}
#tit a:hover{ background-color: #222; color: #fff;}
/* main-tit */
#main-tit{ padding-bottom: 40px;}
#main-tit h3{ padding-bottom: 25px; font-size: 32px; line-height: 48px;}
#main-tit h4{ font-size: 16px; line-height: 26px;}


/* swiper */
.swiper-button-prev.box-btn, .swiper-button-next.box-btn {outline: none !important; background-image: unset!important; width: 64px; height: 64px; line-height: 64px; transition: .5s; margin-top: 0; background-color: #222; text-align: center; color: #fff; font-size: 40px; font-weight: 500;}
.swiper-button-prev.circle-btn, .swiper-button-next.circle-btn {outline: none !important; background-image: unset!important; width: 64px; height: 64px; line-height: 64px; border-radius: 50%; transition: .5s; margin-top: 0; background-color: #fff; text-align: center; color: #222; font-size: 24px; font-weight: 500;}
.swiper-button-prev.box-btn{ left: -64px;}
.swiper-button-next.box-btn{ right: -64px;}
.swiper-button-prev.circle-btn{ left: 40px;}
.swiper-button-next.circle-btn{ right: 40px;}
.swiper-button-next:hover, .swiper-container-rtl .swiper-button-prev:hover,
.swiper-button-prev:hover, .swiper-container-rtl .swiper-button-next:hover{  transition: .3s; }
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{ opacity: 1;}
.swiper-button-next:after, .swiper-button-prev:after{ position: absolute; top: -999em; }
.swiper-button-prev:hover, .swiper-button-next:hover{ opacity: 1;}

.swiper-pagination-bullet{ position: relative; width: 4px; height: 4px; border-radius: 2px; background: #fff; opacity: .5; margin: 0 2px!important; transition: .3s; }
.swiper-pagination-bullet-active{ background: #fff; opacity: 1; width: 30px; border-radius: 2px;}

.swiper-pagination-custom{ width: max-content; font-size: 16px; color: #fff; font-weight: 500; font-family: 'Spoqa Han Sans Neo', 'sans-serif';}
.swiper-pagination-custom span.number{ color: #fff; font-size: 16px;}
.swiper-pagination-custom span.bar{ padding: 0 10px;}

.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, 
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, 
.swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{ top: unset;}
.swiper-pagination-progressbar{ background: rgba(0,0,0,.2); height: 2px!important; top: unset; bottom: 0;}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{ background: #000!important;}


#num-pag{ position: absolute; display: block; left: 0; right: 0; margin: 0 auto; z-index: 10;}
#num-pag .bar{ padding: 0 5px;}
#full-num-pag{ position: absolute; display: block; left: 0; right: 0; margin: 0 auto; z-index: 10;}
#full-num-pag .bar{ padding: 0 5px;}

/* ==========================================================================
    #ROOM-SWIPER
========================================================================== */
.rooms-swiper{ width: 100%; height: auto; position: relative; overflow: hidden; text-align: center; }
.rooms-swiper .img-wrap{ width: 100%; height: 800px; position: relative; overflow: hidden; margin-bottom: 40px;}
.rooms-swiper .text-wrap h3{ padding-bottom: 20px;}
.rooms-swiper .rooms-pag{ bottom: 170px; left: 0; right: 0; margin: 0 auto;}
/* =================== 1440px =================== */
@media (max-width: 1440px) {
    .rooms-swiper .img-wrap{ height: 55.56vw; }
    .rooms-swiper .rooms-pag{ bottom: calc(130px + 2.78vw); left: 0; right: 0; margin: 0 auto;}
}


/* ==========================================================================
    #SERVICE-SWIPER
========================================================================== */
.service-swiper{ width: 100%; height: auto; position: relative; overflow: hidden; text-align: center;}
.service-swiper .swiper-slide{ position: relative;}
.service-swiper .img-wrap{ width: 100%; height: 338px; position: relative; overflow: hidden; margin-bottom: 20px;}
.service-swiper .swiper-slide:hover .img-wrap .img{ transform: scale(1.1);}
.service-btn{ top: calc(50% - 64px);}

/* ==========================================================================
    #TRAVEL-SWIPER
========================================================================== */
.travel-swiper{ width: 100%; height: auto; position: relative; overflow: hidden; text-align: center;}
.travel-swiper .swiper-slide{ position: relative;}
.travel-swiper .img-wrap{ width: 100%; height: 338px; position: relative; overflow: hidden; margin-bottom: 20px;}
.travel-swiper .swiper-slide:hover .img-wrap .img{ transform: scale(1.1);}
.travel-btn{ top: calc(50% - 64px);}


/* ==========================================================================
    #FULL-SWIPER
========================================================================== */
.full-swiper{ width: 100%; height: 100vh; position: relative; overflow: hidden;}
.full-swiper .swiper-slide{ width: 100%; height: 100%;}
.full-swiper .full-pag{ display: block; bottom: 20px; left: 0; right: 0; margin: 0 auto;}


/* ==========================================================================
    #SUB-TOP
========================================================================== */
#sub-top{ width: 100%; height: 36.46vw; position: relative; margin-top: 100px; border-bottom: 1px solid rgba(34,34,34,.6); box-sizing: border-box;}
#sub-top .bgi{ height: calc(36.46vw - 1px);}
#sub-top .text-wrap{ position: relative; text-align: left; padding-left: 6.25vw;}
#sub-top h3{ padding-bottom: 40px;}


/* ==========================================================================
    #COMM-TOP
========================================================================== */
#comm-top{ width: 100%; background-color: #222; height: 700px; position: relative;}
#comm-top .img{ opacity: .6;}
#comm-top h3{ position: absolute; top: calc(50% - 20px); width: 100%; text-align: center; z-index: 10;}


/* ==========================================================================
    #COMM-BTN
========================================================================== */
#comm-btn{ width: 100%; height: 100px; line-height: 99px; border-bottom: 1px solid rgba(34,34,34,.6); justify-content: center;}
#comm-btn a{ margin: 0 30px; position: relative; padding-bottom: 0; transition: .5s;}
#comm-btn a:after{ content: ''; width: 100%; height: 1px; background-color: #AB6333; position: absolute; bottom: 0; left: 0; display: block; transition: .5s; transform: scaleX(0);}
#comm-btn a.active{ color: #AB6333; }
#comm-btn a.active:after{ transform: scaleX(1);}
#comm-btn a:hover{ color: #AB6333; }
#comm-btn a:hover:after{ transform: scaleX(1);}

/* =================== 1024px =================== */
@media (max-width: 1024px) {

    
    /* ==========================================================================
    **MOBILE**#COL
   ========================================================================== */
    .m-col-1{ width: 100%;}
    .m-col-2{ width: 50%;}
    .m-col-3{ width: calc(100%/3);}

    /* ==========================================================================
    **MOBILE**#FONT-SIZE
    ========================================================================== */
    .mf24{ font-size: 24px;}
    .mf16{ font-size: 16px;}
    .mf14{ font-size: 14px;}
    .mf12{ font-size: 12px;}

    /* ==========================================================================
    **MOBILE**#BTN
    ========================================================================== */
    body{ font-family: 'Spoqa Han Sans Neo', 'sans-serif'; overflow-x: hidden; position: relative;  }
    body > section{ width: 100%; min-width: unset; height: auto; position: relative; overflow: hidden; box-sizing: border-box;}
    .none-mo{ display: none!important;}
    .none-pc{ display: inline-block!important;}
    .wrap1400{ width: 100%; padding: 0 15px; position: relative; margin: 0 auto; box-sizing: border-box;}
    .wrap1046{ width: 100%; padding: 0 15px; position: relative; margin: 0 auto; box-sizing: border-box;}
    #bg-fix{ width: 100%; height: 53.33vw; }
    #tit{ padding-bottom: 40px;}
    #tit a{ width: 100%; height: 40px; line-height: 38px; }

    /* main-tit */
    #main-tit{ padding-bottom: 40px;}
    #main-tit h3{ padding-bottom: 20px; font-size: 20px; line-height: 30px;}
    #main-tit h4{ font-size: 14px; line-height: 24px;}

    /* swiper */
    .swiper-button-prev, .swiper-button-next { width: 25px; height: 40px; font-size: 40px; }
    .swiper-button-prev{ left: 15px;}
    .swiper-button-next{ right: 15px;}
    .swiper-pagination, .swiper-pagination .number, .swiper-pagination .bar{font-size: 14px; }


    /* ==========================================================================
    #ROOM-SWIPER
    ========================================================================== */
    .rooms-swiper{ padding-bottom: 40px;}
    .rooms-swiper .img-wrap{ width: 100%; height: 92.00vw; position: relative; overflow: hidden; margin-bottom: 20px;}
    .rooms-swiper .rooms-pag{ top: unset; bottom: 0; left: 0; right: 0; margin: 0 auto;}
    .rooms-swiper #num-pag{ bottom: calc(170px + 2.78vw);}


    /* ==========================================================================
    #SERVICE-SWIPER
    ========================================================================== */
    .service-swiper{ padding-bottom: 40px;}
    .service-swiper .img-wrap{ height: 44.80vw; margin-bottom: 10px;}
    .service-swiper .service-pag{ top: unset; bottom: 0; left: 0; right: 0; margin: 0 auto;}


    /* ==========================================================================
    #TRAVEL-SWIPER
    ========================================================================== */
    .travel-swiper{ padding-bottom: 40px;}
    .travel-swiper .img-wrap{ height: 44.80vw; margin-bottom: 10px;}
    .travel-swiper .text-wrap p{ float: unset; clear: both; display: block; padding-top: 10px; text-align: left;}
    .travel-swiper .travel-pag{ top: unset; bottom: 0; left: 0; right: 0; margin: 0 auto;}


    /* ==========================================================================
    #FULL-SWIPER
    ========================================================================== */
    .full-swiper{ width: 100%; height: calc(74.93vw + 20px); position: relative; overflow: hidden; padding-bottom: 20px;}
    .full-swiper .swiper-slide{ width: 100%; height:74.93vw;}
    .full-swiper .full-pag{ display: block; bottom: 0; left: 0; right: 0; margin: 0 auto; width: calc(100% - 40px);}
    .full-swiper #full-num-pag{ bottom: 30px; text-align: center;}

    /* ==========================================================================
        #SUB-FULL-SWIPER
    ========================================================================== */
    .sub-full-swiper{ height: 56.41vw; }
    .con .swiper-button-next, .con .swiper-button-prev{ top: 0; margin-top: 0;}
    .con .swiper-button-next{ right: 0;}
    .con .swiper-button-prev{ left: 0;}

    /* ==========================================================================
    #SUB-TOP
    ========================================================================== */
    #sub-top{ width: 100%; height: auto; position: relative; margin-top: 60px; }
    #sub-top .bgi{ height: 73.60vw;}
    #sub-top .text-wrap{ position: relative; text-align: left; padding: 40px 20px 60px;}
    #sub-top h3{ padding-bottom: 20px;}

    /* ==========================================================================
    #COMM-TOP
    ========================================================================== */
    #comm-top{ width: 100%; background-color: #222; height: 73.60vw; position: relative; margin-top: 60px;}
    #comm-top h3{ top: calc(50% - 12px); }


    /* ==========================================================================
    #COMM-BTN
    ========================================================================== */
    #comm-btn{ width: 100%; height: 60px; line-height: 59px; }
    #comm-btn a{ margin: 0 10px; }


}