/* header */
header{ background: #fff; box-shadow: 2px 0 6px rgba(0,0,0,.2); border-bottom: 1px solid #ddd;}
header .nav-wrap .gnb > ul > li > a{ color: #222;}
header .nav-wrap .tel-btn{ color: #222;}
header .nav-wrap .gnb > ul > li > a.active{ color:#AB6333;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
    header{ background-color: #222; border-bottom: unset;}
}

#section01{ padding-bottom: 60px;}
#section01 .con{ width: 100%; padding: 120px 0 120px; border-bottom: 1px solid rgba(34,34,34,.6);}
#section01 .con:last-child{ border-bottom: unset;}
#section01 .con .wrap1400{ overflow: hidden;}
#section01 .con .text-wrap{ padding-top: 180px; float: left; padding-left: 120px;}
#section01 .con:nth-child(2n) .text-wrap{ float: right; padding-left: 0;}
#section01 .con .text-wrap h3{ padding-bottom: 40px;}
#section01 .con .text-wrap .content{ padding-bottom: 40px;}
#section01 .con .text-wrap a{ display: block; width: 456px; height: 38px; line-height: 36px; text-align: center; border: 1px solid #222; transition: .5s;}
#section01 .con .text-wrap a:hover{ background-color: #222; color: #fff;}
#section01 .con .img-wrap{ display: block; width: 574px; height: 765px; background-color: #222; position: relative; overflow: hidden;}
#section01 .con .img-area{ float: right;}
#section01 .con:nth-child(2n) .img-area{ float: left;}
#section01 .con .img-wrap p{ position: absolute; top: calc(50% - 12px); left: 0; right: 0; margin: 0 auto; text-align: center; z-index: 10; opacity: 0; transition: .5s;}
#section01 .con .img-wrap:hover .img{ opacity: .6; transform: scale(1.1);}
#section01 .con .img-wrap:hover p{ opacity: 1;}
/* =================== 1440px =================== */
@media (max-width: 1440px) {
    #section01 .con .img-wrap{ display: block; width: 39.86vw; height: 53.13vw; background-color: #222; position: relative; overflow: hidden;}
    #section01 .con .text-wrap{ padding-top: 12.50vw; float: left; padding-left: 8.33vw;}
    #section01 .con .text-wrap a{ display: block; width: 31.67vw;}
}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
    #section01 .con{ padding: 60px 0 60px; }
    #section01 .con .text-wrap{ padding-top: 40px; float: unset; padding-left: 0;}
    #section01 .con:nth-child(2n) .text-wrap{ float: unset; padding-left: 0;}
    #section01 .con .text-wrap h3{ padding-bottom: 20px;}
    #section01 .con .text-wrap a{ width: 100%; height: 40px; line-height: 38px; }
    #section01 .con .img-wrap{ display: block; width: 100%; height: 122.40vw; }
    #section01 .con .img-area{ float: unset;}
    #section01 .con:nth-child(2n) .img-area{ float: unset;}
}


