/* header */
header{ background: #fff; box-shadow: 2px 0 6px rgba(0,0,0,.2); border-bottom: 1px solid #ddd;}
header .nav-wrap .gnb > ul > li > a{ color: #222;}
header .nav-wrap .tel-btn{ color: #222;}
header .nav-wrap .gnb > ul > li > a.active{ color:#AB6333;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
    header{ background-color: #222; border-bottom: unset;}
}

section.rooms-section{ padding: 120px 0 60px; border-bottom: 1px solid rgba(34,34,34,.6);}
section.rooms-section .wrap1400{ overflow: hidden;}
section.rooms-section .wrap1400 > .room-info{ height: 1096px; position: relative;}
#section02 .wrap1400 > .room-info{ padding-left: 120px;}
section.rooms-section .wrap1400 > div > .text-wrap > h3{ padding-bottom: 40px;}
section.rooms-section .wrap1400 > div > .text-wrap > p{ padding-bottom: 60px;}
section.rooms-section .wrap1400 > div > .text-wrap li{ padding-bottom: 20px;}
section.rooms-section .wrap1400 > div > .text-wrap li span, section.rooms-section .text-wrap li p{ display: inline-block; line-height: 24px;}
section.rooms-section .wrap1400 > div > .text-wrap li i{ width: 47px; font-size: 24px; position: relative; top: 3px; vertical-align: top;}
section.rooms-section .wrap1400 > div > .text-wrap li span{ width: 72px; vertical-align: top;}
section.rooms-section .text-wrap li p{ width: calc(100% - 126px );}
section.rooms-section .wrap1400 > div > .img-wrap{ width: 692px; height: 480px; position: absolute; bottom: 60px; left: 0;}
#section02 .wrap1400 > div > .img-wrap{ left: 24px;}
section.rooms-section .flex-wrap a{ width: 338px; display: block; height: auto; padding-bottom: 60px;}
section.rooms-section .flex-wrap a .img-wrap{ width: 100%; height: 440px; position: relative; overflow: hidden; margin-bottom: 10px;}
section.rooms-section .flex-wrap a .text-wrap{ overflow: hidden;}
section.rooms-section .flex-wrap a .text-wrap p{ position: relative; top: 3px;}
section.rooms-section .flex-wrap a .text-wrap p span{ padding-right: 5px;}
section.rooms-section .flex-wrap a:hover .img-wrap .img{ transform: scale(1.1);}


/* =================== 1440px =================== */
@media (max-width: 1440px) {
    section.rooms-section .wrap1400 > .room-info{ height: 76.11vw; position: relative;}
    #section02 .wrap1400 > .room-info{ padding-left: 8.33vw;}
    section.rooms-section .wrap1400 > div > .img-wrap{ width: 48.06vw; height: 33.33vw; position: absolute; bottom: 60px; left: 0;}
    section.rooms-section .flex-wrap a{ width: 23.47vw; display: block; height: auto; padding-bottom: 60px;}
    section.rooms-section .flex-wrap a .img-wrap{ height: 30.56vw; }
}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
    section.rooms-section{ padding: 60px 0 20px; }
    #section03{ padding-bottom: 180px;}
    section.rooms-section .wrap1400 > .room-info{ height: auto; position: relative; padding-bottom: 60px;}
    #section02 .wrap1400 > .room-info{ padding-left: 0;}
    section.rooms-section .wrap1400 > div > .text-wrap > h3{ padding-bottom: 20px;}
    section.rooms-section .wrap1400 > div > .text-wrap > p{ padding-bottom: 40px;}
    section.rooms-section .wrap1400 > div > .text-wrap ul{ padding-bottom: 40px;}
    section.rooms-section .wrap1400 > div > .text-wrap li span, section.rooms-section .text-wrap li p{ line-height: 20px;}
    section.rooms-section .wrap1400 > div > .text-wrap li i{ width: 42px; font-size: 20px; position: relative; top: 2px;}
    section.rooms-section .wrap1400 > div > .text-wrap li span{ width: 72px;}
    section.rooms-section .wrap1400 > div > .img-wrap{ width: 100%; height: 64.00vw; bottom: 0; left: 0; position: relative;}
    #section02 .wrap1400 > div > .img-wrap{ left: 0;}
    section.rooms-section .flex-wrap a{ width: calc(50% - 5px); padding-bottom: 40px;}
    section.rooms-section .flex-wrap a .img-wrap{ height: 58.67vw; }
    section.rooms-section .flex-wrap a .text-wrap{ overflow: hidden;}
    section.rooms-section .flex-wrap a .text-wrap p{ position: relative; top: 3px;}
    section.rooms-section .flex-wrap a:hover .img-wrap .img{ transform: scale(1.1);}
}


































