/* header */
header{ background: #fff; box-shadow: 2px 0 6px rgba(0,0,0,.2); border-bottom: 1px solid #ddd;}
header .nav-wrap .gnb > ul > li > a{ color: #222;}
header .nav-wrap .tel-btn{ color: #222;}
header .nav-wrap .gnb > ul > li > a.active{ color:#AB6333;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
    header{ background-color: #222; border-bottom: unset;}
}

#section01{ padding: 120px 0 70px;}
#section01 .flex-wrap{ align-items: flex-start;}
#section01 .con{ width: calc(50% - 8px); padding-bottom: 100px;}
#section01 .con .img-wrap{ display: block; width: 100%; height: 574px; position: relative; }
#section01 .con .text-wrap{ padding-top: 40px;}
#section01 .con .text-wrap h3{ padding-bottom: 40px;}

/* =================== 1440px =================== */
@media (max-width: 1440px) {
    #section01 .con .img-wrap{ height: 39.86vw}

}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
    #section01{ padding: 0 0 50px;}
    #section01 .con{ width: 100%; padding: 60px 0 80px; border-bottom: 1px solid rgba(34,34,34,.6); }
    #section01 .con:last-child{ border-bottom: unset;}
    #section01 .con .img-wrap{ display: block; width: 100%; height: 122.40vw; }
    #section01 .con .text-wrap{ padding-top: 40px;}
    #section01 .con .text-wrap h3{ padding-bottom: 20px;}
}





