/* header */
/* =================== 1024px =================== */
@media (max-width: 1024px) {
    header{ background-color: #222; border-bottom: unset;}
}

/* =================== 1024px =================== */
@media (max-width: 1024px) {
    #section01{ margin-top: 60px; } 
}


#section02{ text-align: center; padding: 120px 0; border-bottom: 1px solid rgba(34,34,34,.6);}
#section02 h3{ padding-bottom: 40px;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
    #section02{ text-align: left; padding: 40px 0 60px; border-bottom: 1px solid rgba(34,34,34,.6);}
    #section02 h3{ padding-bottom: 20px;}
}

#section03{ padding: 180px 0; width: 100%; text-align: center;}
#section03 #tit h3, #section03 #tit p{ padding-bottom: 40px;}
#section03 .slide-wrap{ position: relative;}
#section03 .swiper-slide.active-pag{ pointer-events: none;}
#section03 .swiper-slide.active-pag .img{ opacity: .4;}
#section03 .swiper-slide.active-pag .text-wrap h3{ color: #AB6333; text-decoration: underline;text-underline-position:under;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
    #section03{ padding: 60px 0 170px; }
    #section03 #tit h3, #section03 #tit p{ padding-bottom: 20px;}
}






















