/* font */
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
@font-face { font-family: 'NeoDunggeunmo'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff'); font-weight: normal; font-style: normal; }
/*
    font-family: 'Bungee', cursive;
    font-family: 'Inconsolata', monospace;
*/



/* base */
*{  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 12px; color: #666; 
    font-family: 'Bungee', 'NeoDunggeunmo', '맑은 고딕',sans-serif; 
    line-height: 1.2;
    }
li{ list-style: none; } 
a{ text-decoration: none; } 
img{ border: none; } 
table{ border-collapse: collapse; border-spacing: 0; } 
address{ font-style: normal; } 
fieldset{ border: none; } 
legend{ position: absolute; left: -999em; } 
input[type=button], input[type=submit], input[type=reset], input[type=image], button, select{ cursor: pointer; } 
label.away{ position: absolute; left: -999em; } 


/*===================== common =====================*/
/* fullpage */
#fullpage > div{ width: 100%; /*height: 100%;*/ font-size: 50px; text-align: center; color: #fff; }
.content{ width: 100%; overflow: hidden; margin: 0 auto; background-color: #1D1E22; }

/* header */
header{ width: 100%; height: 100px; margin: 0 auto; position: fixed; z-index: 3000; background-color: rgba(29,30,34,0.7); }
.gnb{ width: 800px; height: 100px; float: right; position: relative; z-index: 4000; text-align: center; }
.gnb li{ width: 200px; height: 100px; float: left; }
.gnb a{ font-size: 18px; display: block; width: 180px; height: 100px; }
.gnb img{ width: 50px; height: 50px; margin: 0 65px 20px; position: relative; top: 20px;}
.menu li.active .first{ color: rgb(255,255,73); }
.menu li.active .second{ color: rgb(255,25,73); }
.menu li.active .third{ color: rgb(255,35,251); }
.menu li.active .fourth{ color: rgb(102,249,255); }


h3{ padding: 100px 0 30px; color: #fff; font-size: 50px; }


/* main */
#main{ display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100vh;}
.main{align-items: center; }
.main .word{ color: #fff; font-family: "Bungee", cursive; font-weight: bold; padding-bottom: 80px;}
.main p{ position: relative; left: 150px; top: -50px; color: #fff; font-family: 'NeoDunggeunmo', Inconsolata, source code pro, consolas, monospace; transform: translateX(-6em); font-weight: normal; height: 50px; line-height: 50px;  }
.scroll p{color: #fff; }

/*about me*/
.aboutarea{ width: 800px; height: 300px; margin: 0 auto; padding-bottom: 10px; display: flex; justify-content: space-between; align-items: center; }
.aboutarea img{ width: 300px; height: 300px; }
.about{ text-align: left; width: 450px; padding: 25px 0;}
table{ height: 250px; }
.about th{ width: 150px; color: #999; font-size: 14px }
.about td{ color: #fff; font-size: 14px; font-weight: 100; line-height: 1.2; word-break: keep-all; }


.skill{ height: auto; margin: 0 auto; padding: 90px 0 50px; box-sizing: border-box; text-align: center; }
.skill ul{ text-align: center; }
.skill li{ display: inline-block; }

.box{ position: relative; width: 200px; height: 200px; border: 20px solid #f0f0f0; box-sizing: border-box; border-radius: 100px; margin: 25px;  }
.box .title01, .box .title02, .box .title03, .box .title04{ display: block; width: 100%; height: 100%; text-align: center; line-height: 20px; font-size: 14px; font-weight: bold; position: absolute; top: -70px; left: 0; }
.box .text01, .box .text02, .box .text03, .box .text04{ display: block; width: 100%; height: 100%; text-align: center; line-height: 160px; font-size: 30px; font-weight: bold; position: absolute; top: 0; left: 0; }
.box .title01{ color: rgb(255,255,73); }
.box .title02{ color: rgb(255,25,73); }
.box .title03{ color: rgb(255,35,251); }
.box .title04{ color: rgb(102,249,255); }
.box .text01{ color: rgb(255,255,73); }
.box .text02{ color: rgb(255,25,73); }
.box .text03{ color: rgb(255,35,251); }
.box .text04{ color: rgb(102,249,255); }

.box svg{ width: 200px; height: 200px; position: absolute; top: -20px; left: -20px; }
.box circle{
    fill: transparent; /* 투명하게 처리 */
    stroke: #333; stroke-width: 20px;

    stroke-dasharray: 565px; /* 스트로크를 점선으로 만들어주는 속성 */
    stroke-dashoffset: 565px !important; /* 스크로크의 시작점 */
    /* 위 두속성 값이 같으면 테두리 안보임 : 시작간격이 밀려서 */

    transform: rotate(-90deg); /* 시작상단으로 돌리기 위해 사용 */
    transform-origin: center center; /* 반드시 작성 */

    transition: stroke-dashoffset 1s; /* 대쉬(점선)의 시작점 위치만 시간차 변화 */
}

.box .text01 + svg circle{ stroke: rgb(255,255,73); }
.box .text02 + svg circle{ stroke: rgb(255,25,73); }
.box .text03 + svg circle{ stroke: rgb(255,35,251); }
.box .text04 + svg circle{ stroke: rgb(102,249,255); }


/* hover시 스크로크 처리 */
.box.active .text01 + svg circle{ stroke-dashoffset: 30px !important; }
.box.active .text02 + svg circle{ stroke-dashoffset: 30px !important; }
.box.active .text03 + svg circle{ stroke-dashoffset: 90px !important; }
.box.active .text04 + svg circle{ stroke-dashoffset: 50px !important; }


/* portfolio  */
#portfolio{ position: relative; }
#portfolio .textImg{ position: absolute; top: 300px; left: 0; right: 0; margin: 0 auto; z-index: 1000; pointer-events: none; }
#portfolio .textImg img{ width: 200px; height: 200px; opacity: 0.7; }
#portfolio .wrap{ display: flex; flex-wrap: wrap; max-width: 1400px; width: 100%; margin: 0 auto; position: relative; z-index: 1001;}
#portfolio .wrap a{ width: 33.33%; height: auto; padding: 10px; transition: .3s; text-align: left;}
#portfolio .wrap a .img-wrap{ width: 100%; height: 20vw; overflow: hidden; margin-bottom: 15px;}
#portfolio .wrap a .img-wrap img{ width: 100%; height: 100%; object-fit: cover; transform: scale(1); transition: .5s;}
#portfolio .wrap a:hover .img-wrap img{ transform: scale(1.1); }
#portfolio .wrap a h4{ font-size: 18px; color: #f0f0f0;}
#portfolio .wrap a p{ position: relative; color: #999; padding-bottom: 10px;}
#portfolio .wrap p.text{ font-size: 14px; line-height: 20px; color: #ddd; word-break: keep-all;}


/* contact */
#contact h3{ padding-top: 150px;}
#contact .wrap{ height: 300px; margin-bottom: 100px; display: flex; justify-content: center; text-align: center; align-items: center;}
#contact .wrap a{ padding: 0 30px;}
#contact .wrap h4{ font-size: 18px; color: #fff;}
#contact .wrap p{ color: #999;}
/*===================== common =====================*/



/*===================== desktop =====================*/
@media screen and (min-width: 1024px){
    /* main */
    .main .word{ font-size: 160px; padding-bottom: 50px; }
    .main p{ font-size: 28px; }
    .main span{ font-size: 28px; }
}
/*===================== desktop =====================*/



/*================= large desktop ===================*/
@media screen and (min-width: 1200px){
    
}
/*================= large desktop ===================*/



/*==================== tablet ======================*/
@media screen and (max-width: 1023px){
    /* header */
    .gnb{ width: 600px; height: 100px; float: right; position: relative; z-index: 1000; text-align: center; }
    .gnb li{ width: 150px; height: 100px; float: left; }
    .gnb a{ font-size: 18px; display: block; width: 180px; height: 100px; }
    .gnb img{ width: 40px; height: 40px; margin: 0 45px 20px; position: relative; top: 20px;}

    #fullpage > div{ padding: 0 15px;}
    /* main */
    .main .word{ font-size: 100px; padding-bottom: 30px;}
    .main p{ font-size: 24px; top: 0; }
    .main span{ font-size: 24px; }

    /*about me*/
    .aboutarea{ width: 100%; height: auto; padding: 0 10px 10px; flex-direction: column; justify-content: center; align-items: center; }
    .about{ width: fit-content;}
    .about th{ width: 30%;}

    /* portfolio  */
    #portfolio .wrap a{ width: 50%; padding: 10px; transition: .3s; }
    #portfolio .wrap a .img-wrap{ width: 100%; height: 30vw; overflow: hidden; margin-bottom: 10px;}
    #portfolio .wrap a h4{ font-size: 16px; color: #f0f0f0;}
    #portfolio .wrap a p{ position: relative; top: 0; color: #999; padding-bottom: 5px;}
    #portfolio .wrap p.text{ font-size: 12px; line-height: 20px; color: #ddd;}
}
/*==================== tablet ======================*/


/*==================== mobile ======================*/
@media screen and (max-width: 767px){
    /* header */
    .gnb{ width: 280px; height: 100px; position: relative; z-index: 1000; text-align: center; }
    .gnb li{ width: 70px; height: 100px; float: left; }
    .gnb a{ font-size: 11px; font-weight: 100; display: block; width: 100%; height: 100px; }
    .gnb img{ width: 20px; height: 20px; margin: 0 20px 20px; position: relative; top: 20px; }
    
    /* main */
    #main{ height: 100vh;}
    .main .word{ font-size: 48px; }
    .main p{ font-size: 14px; left: 80px;}
    .main span{ font-size: 14px; }

    /*about me*/
    .skill{ height: auto; margin: 0 auto; padding: 90px 0 50px; box-sizing: border-box; text-align: center; }


    /* contact */
    #contact .wrap{ flex-direction: column;}
    #contact .wrap a{ padding-bottom: 30px;}
}
/*==================== mobile ======================*/

@media screen and (max-width: 490px){
    h3{ font-size: 40px;}
    /* portfolio  */
    #portfolio .wrap a{ width: 100%; height: auto; padding: 10px; transition: .3s; margin-bottom: 0; }
    #portfolio .wrap a .img-wrap{ width: 100%; height: 56.25vw;}
    #portfolio .wrap a h4{ font-size: 16px; color: #f0f0f0;}
    #portfolio .wrap a p{ position: relative; color: #999; }
    #portfolio .wrap p.text{ font-size: 12px; line-height: 20px; color: #ddd;}
}