/* ========== reset ============== */

/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'SUIT';
    -webkit-text-size-adjust: none;
    line-height: 1.6;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{border: none;} 
address{font-style: normal;}
fieldset{border: none;} 
legend{position: absolute;left: -999em;} 
input[type=button],
input[type=submit],
input[type=reset],
input[type=image],
button, a, select{cursor: pointer; outline: none;} 
input{ outline: none;}

label.away{position: absolute;left: -999em;} 



/* ==========================================================================
#FONT
========================================================================== */
.thin{ font-weight: 100;}
.lig{ font-weight: 300;}
.reg{ font-weight: 400;}
.med{ font-weight: 500;}
.sbold{ font-weight: 600;}
.bold{ font-weight: 700;}

.upp{text-transform: uppercase;}
.cap{text-transform: capitalize;}
.t-shadow{text-shadow: 2px 0 4px rgba(0,0,0,.3);}
.b-shadow{box-shadow: 2px 0 4px rgba(0,0,0,.3);}


/* ==========================================================================
#COLOR
========================================================================== */
:root{
    /* color */
    --color-point1:#67533A;
    --color-scrollbar:#67533A;

    --color-black:#555;
    --color-white:#fff;

}
.cf{color: var(--color-white); }
.c5{ color: var(--color-black);}
.c2{ color: #222;}
.point{ color: var(--color-point1);}
.op6{ opacity: .6;}
::selection{ background-color: var(--color-point1); color: var(--color-white); }


/* ==========================================================================
#SCROLLBAR
========================================================================== */
body::-webkit-scrollbar { width: 7px; }
body::-webkit-scrollbar-thumb{ height: 17%; background-color: var(--color-scrollbar); border-radius: 2px; }
body::-webkit-scrollbar-track{ background-color: var(--color-white); }
    
    
/* ==========================================================================
#FLOAT
========================================================================== */
.fl{ float: left;}
.fr{float: right;}
.clb{ clear: both; font-size: 0;}

/* ==========================================================================
#COL
========================================================================== */
.col-1{ width: 100%;}
.col-2{ width: 50%;}
.col-3{ width: 33.33%;}
.col-4{ width: 25%;}
.col-5{ width: 20%;}
.col-7{ width: calc(100%/7);}

/* ==========================================================================
#FONT-SIZE
========================================================================== */
.f52{ font-size: 52px;}
.f36{ font-size: 36px;}
.f32{ font-size: 32px;}
.f24{ font-size: 24px;}
.f20{ font-size: 20px;}
.f18{ font-size: 18px;}
.f16{ font-size: 16px;}
.f14{ font-size: 14px;}
.f12{ font-size: 12px;}

/* ==========================================================================
#COMMON
========================================================================== */
body{ font-family: 'SUIT'; font-weight: 300; font-size: 14px; overflow-x: hidden; }
.wrap1400{ width: 100%; max-width: 1440px; padding: 0 20px; height: 100%; position: relative; margin: 0 auto; box-sizing: border-box;}
.v-middle{ width: 100%; height: 100%; display: table-cell; vertical-align: middle;}
.img{ width: 100%; height: 100%; background-size: cover; background-position: center; background-repeat: no-repeat;  position: absolute; top: 0; left: 0; transition: .5s;}
.bgi{ background-size: cover; background-repeat: no-repeat; background-position: center;}
.t-right{ text-align: right;}
.t-center{ text-align: center;}
.t-left{ text-align: left;}
.none-mo{ display: inline-block!important;}
.none-pc{ display: none!important;}
.flex-wrap{ display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;}
#bg-fix{ width: 100%; height: 600px; }


#tit h4{ padding-bottom: 20px; }
#tit h3{ padding-bottom: 40px;}
#tit .line{ width: 1px; height: 80px; background-color: #67533A; position: relative; left: 0; right: 0; margin: 20px auto 60px;}
#tit a{ display: block; border: 1px solid #67533A; width: 456px; height: 40px; line-height: 38px; text-align: center; margin-top: 40px; transition: .5s;}
#tit a.w220{ width: 220px; margin-top: 70px;}
#tit a:hover{ background-color: #67533A; color: #fff;}

/* main-tit */
#main-tit{ padding-bottom: 40px;}
#main-tit h3{ padding-bottom: 25px; font-size: 32px; line-height: 48px;}
#main-tit h4{ font-size: 16px; line-height: 26px;}


/* swiper */
.swiper-button-prev.half-btn, .swiper-button-next.half-btn {outline: none !important; background-image: unset!important; width: 50%; height: 100%; transition: .5s; margin-top: 0; top: 0; background-color: rgba(255,255,255,.4); opacity: 0; }
.swiper-button-prev.half-btn{ left: 0;}
.swiper-button-next.half-btn{ right: 0;}
.swiper-button-next.half-btn.swiper-button-disabled, .swiper-button-prev.half-btn.swiper-button-disabled{ opacity: 0;}

.swiper-button-prev.full-btn, .swiper-button-next.full-btn {outline: none !important; background-image: unset!important; width: 54px; height: 106px; transition: .5s; margin-top: 0; top: 0; opacity: 1; }
.swiper-button-prev.full-btn{ left: 0;}
.swiper-button-next.full-btn{ right: 0;}

.swiper-button-prev.arrow-btn, .swiper-button-next.arrow-btn {outline: none !important; background-image: unset!important; width: 22px; height: 45px; transition: .5s; margin-top: 0; top: calc(50% - 100px); opacity: 1; }
.swiper-button-prev.arrow-btn{ left: -120px;}
.swiper-button-next.arrow-btn{ right: -120px;}

.swiper-button-next:hover, .swiper-container-rtl .swiper-button-prev:hover,
.swiper-button-prev:hover, .swiper-container-rtl .swiper-button-next:hover{  transition: .5s; }
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{ opacity: 1;}
.swiper-button-next:after, .swiper-button-prev:after{ position: absolute; top: -999em; }
.swiper-button-prev:hover, .swiper-button-next:hover{ opacity: 1;}

.swiper-pagination-bullet{ position: relative; width: 4px; height: 4px; border-radius: 2px; background: #fff; opacity: .5; margin: 0 2px!important; transition: .3s; }
.swiper-pagination-bullet-active{ background: #fff; opacity: 1; width: 30px; border-radius: 2px;}

.swiper-pagination-custom{ width: max-content; font-size: 16px; color: #fff; font-weight: 500; font-family: 'SUIT';}
.swiper-pagination-custom span.number{ color: #fff; font-size: 16px;}
.swiper-pagination-custom span.bar{ padding: 0 5px;}

.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, 
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, 
.swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{ top: unset;}
.swiper-pagination-progressbar{ background: rgba(0,0,0,.2); height: 2px!important; top: unset; bottom: 0;}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{ background: #000!important;}


#num-pag{ position: absolute; display: block; left: 0; right: 0; margin: 0 auto; z-index: 10;}
#num-pag .bar{ padding: 0 5px;}
#full-num-pag{ position: absolute; display: block; left: 0; right: 0; margin: 0 auto; z-index: 10;}
#full-num-pag .bar{ padding: 0 5px;}

/* ==========================================================================
    #SUB-SWIPER
========================================================================== */
.sub-swiper{ width: 55%; height: 46.88vw; max-height: 900px; position: relative; overflow: hidden; text-align: center; }

/* ==========================================================================
    #ROOM-SWIPER
========================================================================== */
.rooms-swiper{ width: 100%; height: auto; position: relative; overflow: hidden; text-align: center; }
.rooms-swiper .img-wrap{ width: 100%; height: 640px; position: relative; overflow: hidden; margin-bottom: 40px;}
.rooms-swiper .img-wrap .bgi{ width: 100%; height: 100%;}
.rooms-swiper .text-wrap{ text-align: left;}
.rooms-swiper .more{ display: block; width: 220px; height: 40px; line-height: 38px; text-align: center; border: 1px solid #67533A; transition: .5s; }
.rooms-swiper .more:hover{ background-color: #67533A; color: #fff;}
.rooms-swiper .rooms-pag{ display: none;}
/* =================== 1440px =================== */
@media (max-width: 1440px) {
    .rooms-swiper .img-wrap{ height: 44.44vw; }
}

/* ==========================================================================
    #FULL-SWIPER
========================================================================== */
.full-swiper{ width: 100%; height: 800px; position: relative; overflow: hidden;}
.full-swiper .swiper-slide{ width: 100%; height: 100%;}
.full-swiper .wrap1400{ position: absolute; top: calc(50% - 50px); left: 0; right: 0; margin: 0 auto; height: 106px; z-index: 100;}
.full-swiper .wrap1400 .full-btn{ font-size: 106px;}
.full-swiper .full-pag{ display: block; bottom: 20px; left: 0; right: 0; margin: 0 auto;}

/* ==========================================================================
    #FULL-SWIPER
========================================================================== */
.sub-full-swiper{ width: 100%; height: 800px; position: relative; overflow: hidden;}
.sub-full-swiper .swiper-slide{ width: 100%; height: 100%;}
.sub-full-swiper .wrap1400{ position: absolute; top: calc(50% - 50px); left: 0; right: 0; margin: 0 auto; height: 106px; z-index: 100;}
.sub-full-swiper .wrap1400 .full-btn{ font-size: 106px;}
.sub-full-swiper .sub-full-pag{ display: block; bottom: 20px; left: 0; right: 0; margin: 0 auto;}


/* ==========================================================================
    #SUB-TOP
========================================================================== */
#sub-top{ width: 100%; height: 800px; position: relative; box-sizing: border-box;}

/* ==========================================================================
    #SUB-TAB
========================================================================== */
#sub-tab{ width: 100%; height: 100px; background-color: #F8F6F2; justify-content: center;}
#sub-tab a{ margin: 0 40px; position: relative;}
#sub-tab a:after{ content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background-color: #67533A; transition: .3s; transform-origin: left; transform: scaleX(0);}
#sub-tab a:hover:after{ transform: scaleX(1);}
#sub-tab a.active{ pointer-events: none; cursor: pointer;}
#sub-tab a.active:after{ transform: scaleX(1);}

/* =================== 1024px =================== */
@media (max-width: 1024px) {

    
    /* ==========================================================================
    **MOBILE**#COL
   ========================================================================== */
    .m-col-1{ width: 100%;}
    .m-col-2{ width: 50%;}
    .m-col-3{ width: calc(100%/3);}

    /* ==========================================================================
    **MOBILE**#FONT-SIZE
    ========================================================================== */
    .mf36{ font-size: 36px;}
    .mf32{ font-size: 32px;}
    .mf24{ font-size: 24px;}
    .mf18{ font-size: 18px;}
    .mf16{ font-size: 16px;}
    .mf14{ font-size: 14px;}
    .mf12{ font-size: 12px;}

    /* ==========================================================================
    **MOBILE**#BTN
    ========================================================================== */
    body{ font-family: 'SUIT'; overflow-x: hidden; position: relative;  }
    body > section{ width: 100%; min-width: unset; height: auto; position: relative; overflow: hidden; box-sizing: border-box;}
    .none-mo{ display: none!important;}
    .none-pc{ display: inline-block!important;}
    .wrap1400{ width: 100%; padding: 0 15px; position: relative; margin: 0 auto; box-sizing: border-box;}
    .wrap1046{ width: 100%; padding: 0 15px; position: relative; margin: 0 auto; box-sizing: border-box;}
    #bg-fix{ width: 100%; height: 53.33vw; }
    #tit{ padding-bottom: 40px;}
    #tit a{ width: 100%; height: 40px; line-height: 38px; }

    /* main-tit */
    #tit h4{ padding-bottom: 0px; }
    #tit h3{ padding-bottom: 20px;}
    #tit .line{ height: 60px; margin: 10px auto 30px;}
    #tit a{ width: 100%; height: 30px; line-height: 28px;}
    #tit a.w220{ width: 100%; margin-top: 10px;}

    /* swiper */
    .swiper-button-prev.full-btn, .swiper-button-next.full-btn { width: 24px; height: 47px; }
    .swiper-button-prev.full-btn{ left: 15px;}
    .swiper-button-next.full-btn{ right: 15px;}
    .swiper-button-prev, .swiper-button-next { width: 25px; height: 40px; font-size: 40px; }
    .swiper-button-prev{ left: 15px;}
    .swiper-button-next{ right: 15px;}
    .swiper-pagination, .swiper-pagination span.number, .swiper-pagination .bar{font-size: 14px; }

    /* ==========================================================================
    #SUB-SWIPER
    ========================================================================== */
    .sub-swiper{ width: 100%; height: 77.33vw; max-height: unset;}

    /* ==========================================================================
    #GALLRTY-SWIPER
    ========================================================================== */
    .gallery-swiper{ width: 100%; height: auto; position: relative; overflow: hidden; text-align: center; padding-bottom: 20px;}
    .gallery-swiper .gallery-pag{ top: unset; bottom: 0; left: 0; right: 0; margin: 0 auto;}

    /* ==========================================================================
    #ROOM-SWIPER
    ========================================================================== */
    .rooms-swiper .img-wrap{ height: 92.00vw; margin-bottom: 45px;}
    .rooms-swiper .right{ width: 100%; padding-top: 10px;}
    .rooms-swiper .more{ width: 100%; height: 30px; line-height: 28px; }
    .rooms-swiper .rooms-pag{ display: block; top: unset; bottom: 140px;}

    /* ==========================================================================
    #FULL-SWIPER
    ========================================================================== */
    .full-swiper{ height: 74.93vw; }
    .full-swiper .wrap1400{top: calc(50% - 24px); height: 47px; }
    .full-swiper .wrap1400 .full-btn{ font-size: 47px;}

    /* ==========================================================================
    #SUB-FULL-SWIPER
    ========================================================================== */
    .sub-full-swiper{ height: 74.93vw; }
    .sub-full-swiper .wrap1400{top: calc(50% - 24px); height: 47px; }
    .sub-full-swiper .wrap1400 .full-btn{ font-size: 47px;}

    /* ==========================================================================
    #SUB-TOP
    ========================================================================== */
    #sub-top{ height: 74.93vw; margin-top: 60px;}

    /* ==========================================================================
    #SUB-TAB
    ========================================================================== */
    #sub-tab{ height: 60px; }
    #sub-tab a{ margin: 0 20px; }


    /* ==========================================================================
    #COMM-TOP
    ========================================================================== */
    #comm-top{ width: 100%; background-color: #222; height: 73.60vw; position: relative; margin-top: 60px;}
    #comm-top h3{ top: calc(50% - 12px); }


    /* ==========================================================================
    #COMM-BTN
    ========================================================================== */
    #comm-btn{ width: 100%; height: 60px; line-height: 59px; }
    #comm-btn a{ margin: 0 10px; }


}