/* ==========================================================================
#HEADER
========================================================================== */
header{ position: fixed; top: 0; left: 0; z-index: 1000; width: 100%; height: auto; transition: .3s; box-shadow: unset;}
header .header-top{ height: 120px; background-color: transparent; transition: .3s; position: relative; }
header .header-top .logo{ width: 220px;}
header .header-top .logo a{ width: 100%; height: 49px; display: block; position: relative;}
header .header-top .logo a img{ width: 100%; object-fit: cover; position: absolute; left: 0; top: 0; transition: .3s; opacity: 0;}
header .header-top .logo a img.logo-normal{ opacity: 1;}
header .header-top .right a{ transition: .3s; }
header .header-top .right a i{ padding-left: 5px;}
header .header-top .right a.plus{ display: inline-block; padding-left: 20px; width: 74px; }
header .header-top .list { position: absolute; right: 20px; bottom: 20px; transition: .3s; opacity: 0; pointer-events: none;}
header .header-top .list a{ padding: 0 5px;}

header .header-btm{ width: 100%; height: 80px; position: relative; opacity: 0; pointer-events: none; transition: .3s; }
header .header-btm:before{ content: ''; position: absolute; top: 0; left: 0; background-color: #67533A; width: 100%; height: 40px;}
header .header-btm.active{ opacity: 1; pointer-events: inherit;}
header .header-btm .nav_bg{ width: 100%; height: 40px; position: absolute; bottom: 0; left: 0; background-color: #F8F6F2; transition: .3s; opacity: 0;}
header .header-btm .nav_bg.active{opacity: 1; }
header .gnb{ width: 100%;}
header .gnb > ul{ width: 100%; transition: .3s; display: flex; justify-content: space-between; }
header .gnb > ul > li{ position: relative; transition: .3s; display: inline-block; font-size: 0; }
header .gnb > ul > li > a{ position: relative; line-height: 40px; height: 40px;}
header .gnb > ul > li > a:after{ content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background-color: #fff; transition: .3s; transform: scaleX(0); transform-origin: left; }
header .gnb > ul > li > a.active:after{ transform: scaleX(1);}

header .gnb .subnav{ opacity: 0; pointer-events: none; }
header .gnb .subnav.active{ opacity: 1; pointer-events: inherit;}
header .gnb .subnav li{ display: inline-block; position: relative;  padding: 0 10px;}
header .gnb .subnav li a{ display: block; transition: .3s; height: 100%; line-height: 40px; transition: .5s; position: relative;}
header .gnb .subnav li:first-child{ padding-left: 0;}

/* header-btm.active */
header .header-btm.active .gnb .sub{opacity: 1; pointer-events: inherit; }

/* header-hover */
header:hover .header-top{ background-color: #fff;}
header:hover .header-top .logo a img.logo-normal{ opacity: 0;}
header:hover .header-top .logo a img.logo-scroll{ opacity: 1;}
header:hover .header-top .right a{ color: #67533A;}
header:hover .header-top .right a.plus{ display: none;}
header:hover .header-top .list { opacity: 1; pointer-events: inherit;}
header:hover .header-btm{ opacity: 1; pointer-events: inherit;}

/* header-scroll */
header.scroll{ z-index: 1000; }
header.scrolldown{top: -200px; }
header.scrollup{ top: 0;}
header.scroll .header-top{ background-color: #fff;}
header.scroll .header-top .logo a img.logo-normal{ opacity: 0;}
header.scroll .header-top .logo a img.logo-scroll{ opacity: 1;}
header.scroll .header-top .right a{ color: #67533A;}
header.scroll .header-top .right a.plus{ display: none;}
header.scroll .header-top .list { opacity: 1; pointer-events: inherit;}
header.scroll .header-btm{ opacity: 1; pointer-events: inherit;}

/* =================== 1024px =================== */
@media (max-width: 1024px) {
    header{ position: fixed!important; border-bottom: 1px solid #fff; }
    header .header-top{ height: 60px; }
    header .header-top .logo{ width: 134px;}
    header .header-top .logo a{ height: 30px; }

    #panelbtn{ width: 26px; height: 24px; padding: 0; overflow: hidden; z-index: 1100;  }
    #panelbtn a{ display: block; width: 100%; height: 100%; position: relative; }
    #panelbtn span{ display: block; width: 23px; height: 1px; border-radius: 1px; background-color: #fff; position: absolute; left: 0; transition: 0.3s;} 
    #panelbtn .line01{top: 1px;}
    #panelbtn .line02{top: 9px; }
    #panelbtn .line03{top: 17px;}
    /*active클래스 활성화 - x처리*/
    #panelbtn.active .line02{ transform: scaleX(0); }
    #panelbtn.active .line01{  transform-origin: left top; left: 5px; transform: rotate(45deg); }
    #panelbtn.active .line03{  transform-origin: left bottom; left: 5px; transform: rotate(-45deg); top: 17px; }

    /* header-hover */
    header:hover #panelbtn span{ background-color: #67533A;} 

    /* header-scroll */
    header.scrolldown{top: -60px; }
    header.scroll #panelbtn span{ background-color: #67533A;} 

    /* panel */
    #panel{ position: fixed; display: none; width: 100%; height: 100%; top: -130%; left: 0; transition: .3s; z-index: 2000; text-align: center; overflow: auto; background-color: #fff;}
    #panel.active{ display: block; top: 0;}
    #panel .top{ background-color: #fff; height: 60px; padding: 0 15px; overflow: hidden;}
    #panel .top a.close-btn{ position: relative; font-size: 24px; float: right; line-height: 60px;}
    #panel .top-con{ background-color: #fff; padding: 0 15px 10px; text-align: left;}
    #panel .top-con > img{ width: 220px; object-fit: cover; padding-bottom: 40px;}
    #panel .top-con > p{ padding-bottom: 40px;}
    #panel .top-con a{ display: flex; align-items: center; position: relative; width: 100%; height: 37px; line-height: 35px; text-align: left; font-size: 0; padding: 0 20px; margin-bottom: 10px;}
    #panel .top-con a.panel-tel{ background-color: #67533A; border: 1px solid #67533A;}
    #panel .top-con a.panel-reser{ border: 1px solid #67533A;}
    #panel .top-con a i.front{ font-size: 16px; width: 35px; display: inline-block;}
    #panel .top-con a p{ font-size: 16px; width: 75px; display: inline-block;}
    #panel .top-con a p.fr{ width: auto; position: absolute; right: 20px; top: 5px;}
    #panel .top-con a span{ font-size: 16px; width: 100px; display: inline-block;}

    #panel > ul{ width: 100%; height: 100%; padding-left: 0; padding-right: 0; text-align: left; display: flex;} 
    #panel .mnav-wrap{ width:50%; height: 100%; background-color: #fff; height: 100%;}
    #panel .mnav{ transition: .5s; background-color: #fff; height: 60px; line-height: 60px; padding: 0 15px; cursor: pointer; display: block; text-align: left; } 
    #panel .mnav span{ line-height: 60px;}
    #panel .mnav.active{ background-color: #F7F6F5; }

    #panel .snav-wrap{ background-color: #F7F6F5; position: relative; height: 100%; width: 50%;}
    #panel .snav{display: block; width: 100%; height: auto; padding-bottom: 10px; font-size: 0; overflow: hidden; position: absolute; top: 0; left: 0; padding: 30px 0 0 40px; opacity: 0; pointer-events: none; transition: .3s; }
    #panel .snav a{ display: inline-block; font-size: 14px; transition: .5s; padding-bottom: 20px; color: #67533A;}
    #panel .snav.float li{ width: 50%; float: left; text-align: center;}
    #panel .snav.active{opacity: 1; pointer-events: unset; }
}




/* footer */
footer{ padding: 60px 0; background-color: #222; text-align: left;}
footer .top{ padding-bottom: 40px; align-items: flex-start;}
footer .top a{ padding-left: 20px;}
footer .mid{ padding-bottom: 40px; align-items: flex-start;}
footer ul.info{ display: block; }
footer li{ display: inline-block; line-height: 24px;}
footer ul li:after{ content: '•'; font-size: 14px; color: #fff; opacity: .6; position: relative; padding: 5px;}
footer li span{ display: inline-block; padding-right: 5px;}
footer li p{ display: inline-block;}
footer ul li:last-child:after, footer ul.info li:nth-child(6):after, footer ul.info li:nth-child(3):after{ content: '';}
footer p{ font-size: 14px;}
/* =================== 820px =================== */
@media (max-width: 1024px) {
footer{ padding: 40px 0 60px; text-align: left; }
footer .top{ padding-bottom: 60px; align-items: flex-start;}
footer .top a{ padding-left: 10px;}
footer .top .sns{ order: 0; width: 100%; padding-bottom: 40px; text-align: right; padding-right: 22px;}
footer .top .sns img{ width: 30px;}
footer .top > img{order: 1;}

footer ul.info{ padding-bottom: 60px;}
footer ul.license{ padding-bottom: 0;}
footer ul.info li{ display: block;}
footer ul.info li:after{ content: ''; }
footer ul li:nth-child(2):after, footer ul li:nth-child(5):after{ content: '';}
footer p{ font-size: 12px;}
}