/* header */
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  header .header-area #logo-path{ fill: #222!important;}
  header #panelbtn a{ color: #222;}
}


/* section01 */
#section01{ width: 100%; height: 100vh; position: relative; background-color: #F8F5F1;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section01{ margin-top: 40px; height: auto; padding-top: 90px; }
}


/* section02 */
#section02{ padding: 80px 0 120px; overflow: hidden; font-size: 0;  background-color: #F8F5F1;}
#section02 .wrap1200{ position: relative; text-align: center;}
#section02 .wrap1200 .sec02-logo{ width: 104px; object-fit: cover; margin-bottom: 60px; display: inline-block;}
#section02 .wrap1200 h3{ line-height: 38.4px; padding-bottom: 40px;}
#section02 .wrap1200 p{ line-height: 22.4px; padding-bottom: 80px;}
#section02 .wrap1200 #map{ width: 792px; height: 340px; position: relative; left: 0; right: 0; margin: 0 auto; background-color: #222; margin-bottom: 10px;}

/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section02 .wrap1200 #map{ width: 100%; height: 58.67vw;}
}



/* section03 */
#section03{ background-color: #F8F5F1; padding-bottom: 80px; text-align: center;}
#section03 .wrap1200 h3{ line-height: 38.4px; padding-bottom: 40px;}
#section03 .wrap1200 p{ line-height: 22.4px; padding-bottom: 60px;}
#section03 .img-area a{ display: block; position: relative; width: calc(25% - 18px); height: 282px; margin-bottom: 40px;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section03{ padding-bottom: 100px; }
  #section03 .img-area a{ display: block; position: relative; width: calc(50% - 10px); height: 37.07vw; margin-bottom: 20px;}

  
}











