/* header */
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  header .header-area #logo-path{ fill: #222!important;}
  header #panelbtn a{ color: #222;}
}


/* section01 */
#section01{ width: 100%; height: 100vh; position: relative; background-color: #F8F5F1;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section01{ margin-top: 40px; height: auto; padding-top: 90px; }
}

/* section02 */
#section02{ padding: 60px 0 120px; overflow: hidden; font-size: 0; background-color: #F8F5F1;}
#section02 .wrap1200 .text-wrap p{ padding-bottom: 20px;}
#section02 .wrap1200 .text-wrap h3{ padding-bottom: 20px; line-height: 38.4px;}
#section02 .wrap1200 .text-wrap h4{ padding-bottom: 60px;}
#section02 .wrap1200 .text-wrap div.lig{ line-height: 22.4px; }
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section02 .wrap1200 .text-wrap p{ padding-bottom: 20px;}
  #section02 .wrap1200 .text-wrap h3{ padding-bottom: 10px; line-height: 38.4px;}
  #section02 .wrap1200 .text-wrap h4{ padding-bottom: 40px;}
  #section02 .wrap1200 .text-wrap div.lig{ line-height: 22.4px; }
}


#section03 { position: relative; background-color: #F8F5F1; padding-bottom: 120px;} 
#section03 .wrap1200 > a{position: absolute; top: 5px; right: 0; text-align: right; display: inline-block; text-decoration: underline;}
#section03 .wrap1200 .fac-swiper .swiper-wrap{ position: relative;}
#section03 .wrap1200 .fac-swiper .swiper-slide.active{ display: none;}
#section03 .wrap1200 .fac-swiper{ margin-top: 40px; position: relative; overflow: hidden;}
#section03 .wrap1200 .bgi{ height: 282px; margin-bottom: 10px;}
#section03 .wrap1200 p{ padding-left: 10px;}
#section03 .wrap1200 .fac-prev{ left: -50px;}
#section03 .wrap1200 .fac-next{ right: -50px;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section03{padding-bottom: 0;}
  #section03 .wrap1200{ position: relative; background-color: #F8F5F1; padding: 0 0 120px 40px;} 
  #section03 .wrap1200 > a{ top: 10px; right: 40px;}
  #section03 .wrap1200 .fac-swiper{ margin-top: 20px;}
  #section03 .wrap1200 .bgi{ height: 51.20vw; }
  #section03 .wrap1200 .fac-btn{ display: none;}
}