/* section01 */
#section01{ overflow: hidden; position: relative; width: 100%; height: 100vh; background-color: #000; }
#section01 > .img{ opacity: .9; }
#section07{ width: 100%; height: 0; padding-top: 56.25%; position: relative;}
#section01 .videoWrap{position:absolute; width: 100%; height:100%; top: 0; left: 0; margin:0; pointer-events: none;}
#section01 .videoWrap iframe, #section01 .videoWrap object, #section01 .videoWrap embed{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    object-fit: cover;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    display: block;
 }
#section01 .fullSlogan { position: absolute; top: calc(50% - 70px); left: 0; right: 0; margin: 0 auto; z-index: 10; text-align: center;}
#section01 .fullSlogan .video-logo{ display: inline-block; width: 96px; object-fit: cover;}
#section01 .fullSlogan .video-logo .st0, #section01 .fullSlogan .video-logo .st1{ fill: #fff;}
#section01 .fullSlogan p{ padding-top: 20px; line-height: 22.4px;}
#section01 .control{ z-index: 1; font-size: 0; position: absolute; bottom: 100px; left: 0; right: 0; margin: 0 auto; width: 170px; text-align: center; z-index: 100;}
#section01 .control li{ display: inline-block; padding: 0 5px;}
#section01 .control li a{ display: block; font-size: 21px; color: #fff; width: 44px; height: 44px; line-height: 46px; border-radius: 50%; background-color: rgba(255,255,255,.8); text-align: center;}
#section01 .control li i{ color: #757575; position: relative; }
#section01 .scroll-down{ position: absolute; width: 34px; height: 23px; z-index: 10; bottom: 30px; left: 0; right: 0; margin: 0 auto;}
#section01 .play-pause a.hide{ display: none;}
#section01 .control .mute-onoff a.hide{ display: none;}
.vidbox .ratio iframe, .end-video .videoWrap iframe, #cutvideo1, #cutvideo2{pointer-events: none;}
.m-play{ display: none;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section01 { width: 100%; margin-top: 40px; }
  #section01 .videoWrap{position:absolute; width: 100%; height:100%; top: 0; left: 0;  }
  #section01 .videoWrap, #section01 .videoWrap iframe, #section01 .videoWrap object, #section01 .videoWrap embed{ pointer-events: unset;}
  #section01 .videoWrap iframe, #section01 .videoWrap object, #section01 .videoWrap embed{ opacity: 1; }
  #section01 .fullSlogan { top: calc(50% - 100px); }
  #section01 .control{ bottom: 25px; }
  #section01 .control li a{ display: block; font-size: 12px; width: 28px; height: 28px; line-height: 29px; }
}


/* section02 */
#section02{ padding: 120px 0; background-color: #F8F5F1;}
#section02 .flex-wrap{ align-items: flex-start;}
/* left */
#section02 .wrap1200 .left .video-wrap{ width: 486px; height: 648px; position: relative;}
/* right */
#section02 .wrap1200 .right{ width: 588px; padding-top: 153px;}
#section02 .wrap1200 .right .text-wrap{ padding: 0 0 200px 102px;}
#section02 .wrap1200 .right .text-wrap p{ padding-bottom: 20px; line-height: 22.4px;}
#section02 .wrap1200 .right .video-wrap{ width: 100%; height: 330px; position: relative;}
/* =================== 1240px =================== */
@media (max-width: 1240px) {
  /* left */
  #section02 .wrap1200 .left .video-wrap{ width: 39.19vw; height: 52.26vw; position: relative;}
  /* right */
  #section02 .wrap1200 .right{ width: 47.42vw; padding-top: 12.34vw;}
  #section02 .wrap1200 .right .text-wrap{ padding: 0 0 16.13vw 8.23vw;}
  #section02 .wrap1200 .right .video-wrap{ width: 100%; height: 26.61vw; position: relative;}
}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section02{ padding: 80px 0; }
  #section02 .flex-wrap{ flex-direction: column;}
  /* left */
  #section02 .wrap1200 .left{ width: 100%;}
  #section02 .wrap1200 .left .video-wrap{ width: 100%; height: 104.53vw; }
  /* right */
  #section02 .wrap1200 .right{ width: 100%; padding-top: 60px;}
  #section02 .wrap1200 .right .text-wrap{ padding: 0 0 60px 0;}
  #section02 .wrap1200 .right .video-wrap{ height: 44.27vw;}
}


#banner{ background-attachment: fixed; width: 100%; height: 480px; display: flex; align-items: center; justify-content: center; text-align: center;}
#banner p{ line-height: 22.4px;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #banner{ height: 48.00vw; }
  
}

/* section03 */
#section03{ width: 100%; position: relative; overflow: hidden; padding-top: 140px; background-color: #F8F5F1; }
#section03 .tit-wrap{ text-align: center; padding-bottom: 120px;}
#section03 .tit-wrap h3{ padding-bottom: 40px;}
#section03 .tit-wrap p{ line-height: 22.4px;}
#section03 .wrap1200 .flex-wrap{ padding-bottom: 120px;}
#section03 .wrap1200 .flex-wrap .img-wrap{ width: 792px; height: 494px; position: relative;}
#section03 .wrap1200 .flex-wrap .img-wrap .img{ position: absolute; top: 0; width: 1152px; height: 100%; object-fit: cover;}
#section03 .wrap1200 .flex-wrap .text-wrap{ width: 282px;}
#section03 .wrap1200 .flex-wrap .text-wrap > h3{ padding-bottom: 20px;}
#section03 .wrap1200 .flex-wrap .text-wrap > p{ padding-bottom: 40px; line-height: 22.4px;}
#section03 .wrap1200 .flex-wrap .text-wrap ul{ border-top: 1px solid rgba(34,34,34,.2);}
#section03 .wrap1200 .flex-wrap .text-wrap li a{ width: 100%; height: 45px; display: flex; align-items: center; justify-content: space-between; padding: 0 13px; border-bottom: 1px solid rgba(34,34,34,.2); color: rgba(34,34,34,.2); transition: .3s;}
#section03 .wrap1200 .flex-wrap .text-wrap li a:hover{ color: #222; padding: 0 0 0 13px; }
#section03 .wrap1200 .flex-wrap:nth-child(2n-1) .img-wrap{ order: 0;}
#section03 .wrap1200 .flex-wrap:nth-child(2n-1) .text-wrap{ order: 1;}
#section03 .wrap1200 .flex-wrap:nth-child(2n-1) .img-wrap .img{  right: 0; left: unset;}
#section03 .wrap1200 .flex-wrap:nth-child(2n) .img-wrap{ order: 1;}
#section03 .wrap1200 .flex-wrap:nth-child(2n) .text-wrap{ order: 0;}
#section03 .wrap1200 .flex-wrap:nth-child(2n) .img-wrap .img{  left: 0; right: unset;}
/* =================== 1240px =================== */
@media (max-width: 1240px) {
  #section03 .wrap1200 .flex-wrap .img-wrap{ width: 63.87vw; }
}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section03{ padding-top: 60px;  }
  #section03 .tit-wrap{ padding-bottom: 60px;}
  #section03 .tit-wrap h3{ padding-bottom: 40px;}
  #section03 .wrap1200 .flex-wrap{ padding-bottom: 60px;}
  #section03 .wrap1200 .flex-wrap .img-wrap{ width: 100%; height: 50.13vw; position: relative;}
  #section03 .wrap1200 .flex-wrap .img-wrap .img{ width: calc(100% + 40px); }
  #section03 .wrap1200 .flex-wrap .text-wrap{ width: 100%; padding-top: 20px;}
  #section03 .wrap1200 .flex-wrap .text-wrap ul{ box-sizing: border-box; border-top: 1px solid rgba(34,34,34,.2); width: calc(100% + 40px); position: relative; left: -40px;}
  #section03 .wrap1200 .flex-wrap .text-wrap li a{ box-sizing: border-box; height: 32px; padding: 0 20px 0 60px; }
  #section03 .wrap1200 .flex-wrap .text-wrap li a:hover{ padding: 0 10px 0 60px; }
  #section03 .wrap1200 .flex-wrap:nth-child(2n) .img-wrap{ order: 0; }
  #section03 .wrap1200 .flex-wrap:nth-child(2n) .text-wrap{ order: 1; text-align: right;}
  #section03 .wrap1200 .flex-wrap:nth-child(2n) .text-wrap ul{ position: relative; left: 0;}
  #section03 .wrap1200 .flex-wrap:nth-child(2n) .text-wrap li a{ height: 32px; padding: 0 60px 0 20px; }
  #section03 .wrap1200 .flex-wrap:nth-child(2n) .text-wrap li a:hover{ padding: 0 50px 0 20px; }
}



/* section04 */
#section04{ padding: 120px 0; width: 100%; background-color: #F8F5F1;}
#section04 .wrap1200 .top{ padding-bottom: 120px;}
#section04 .wrap1200 .top .img-wrap{ width: 100%; height: 514px; position: relative;}
#section04 .wrap1200 .top .img-wrap p{ position: relative; z-index: 10; top: 80px; left: 0; right: 0; margin: 0 auto; text-align: center; line-height: 22.4px;}
#section04 .wrap1200 .btm .img-wrap{ width: calc(50% - 12px); height: 537px; position: relative;}
#section04 .wrap1200 .btm .img-wrap .img{ opacity: 0;}
#section04 .wrap1200 .btm .img-wrap .img.active{ opacity: 1;}
#section04 .wrap1200 .btm .text-wrap{ width: calc(50% - 12px); height: 537px; background-color: #fff; padding: 60px 78px; margin-top: 60px;}
#section04 .wrap1200 .btm .text-wrap .tit-wrap > h3{ padding-bottom: 20px;}
#section04 .wrap1200 .btm .text-wrap .tit-wrap > p{ padding-bottom: 20px; line-height: 22.4px;}
#section04 .wrap1200 .btm .text-wrap .tit-wrap > a{ padding-bottom: 60px; display: block; }
#section04 .wrap1200 .btm .text-wrap .tit-wrap > a i{padding-left: 15px; transition: .3s;}
#section04 .wrap1200 .btm .text-wrap .tit-wrap > a:hover i{padding-left: 20px; transition: .3s;}
#section04 .wrap1200 .btm .text-wrap ul{ width: 100%; height: 228px; overflow: hidden; overflow-y: scroll; }
#section04 .wrap1200 .btm .text-wrap ul a{ display: block; border-bottom: 1px solid rgba(34,34,34,.2); height: 45px; line-height: 45px; padding: 0 15px; color: rgba(34,34,34,.2); transition: .3s;}
#section04 .wrap1200 .btm .text-wrap ul li:first-child a{ border-top: 1px solid rgba(34,34,34,.2);}
#section04 .wrap1200 .btm .text-wrap ul a i{ padding-right: 10px;}
#section04 .wrap1200 .btm .text-wrap ul a:hover{ color: #D2B6B1;}
#section04 .wrap1200 .btm .text-wrap ul a.active{ color: #D2B6B1;}

/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section04{ padding: 0 0 80px; width: 100%;}
  #section04 .wrap1200{ padding: 0;}
  #section04 .wrap1200 .top{ padding-bottom: 80px;}
  #section04 .wrap1200 .top .img-wrap{ height: 100vw; }
  #section04 .wrap1200 .btm{ padding: 0 40px;}
  #section04 .wrap1200 .btm .tit-wrap{ width: 100%; text-align: center;}
  #section04 .wrap1200 .btm .tit-wrap > h3{ padding-bottom: 20px;}
  #section04 .wrap1200 .btm .tit-wrap > p{ padding-bottom: 20px; line-height: 22.4px;}
  #section04 .wrap1200 .btm .tit-wrap > a{ padding-bottom: 60px; display: block; }
  #section04 .wrap1200 .btm .tit-wrap > a i{padding-left: 15px; transition: .3s;}
  #section04 .wrap1200 .btm .tit-wrap > a:hover i{padding-left: 20px; transition: .3s;}
  #section04 .wrap1200 .btm .img-wrap{ width: 100%; height: calc(100vw - 80px); position: relative;}
  #section04 .wrap1200 .btm .text-wrap{ width: 100%; height: calc(100vw - 80px); background-color: #fff; padding: 20px; margin-top: 0;}
  #section04 .wrap1200 .btm .text-wrap ul{ width: 100%; height: 100%; overflow: hidden; overflow-y: scroll; }
  #section04 .wrap1200 .btm .text-wrap ul a{ display: block; border-bottom: 1px solid rgba(34,34,34,.2); height: 45px; line-height: 45px; padding: 0 15px; color: rgba(34,34,34,.2); transition: .3s;}
  #section04 .wrap1200 .btm .text-wrap ul li:first-child a{ border-top: 1px solid rgba(34,34,34,.2);}
  #section04 .wrap1200 .btm .text-wrap ul a i{ padding-right: 10px;}
}



#section05{ width: 100%; position: relative; padding: 120px 0; background-color: #F8F5F1; }
#section05 .top{ align-items: flex-start; padding-bottom: 80px;}
#section05 .top .img-wrap {width: 816px; height: 720px;}
#section05 .top .text-wrap { width: calc(100% - 816px); padding-top: 60px;}
#section05 .top .text-wrap h3{ line-height: 76.8px; position: relative; left: -30px; padding-bottom: 40px;}
#section05 .top .text-wrap h4{ position: relative; left: -30px; padding-bottom: 140px;}
#section05 .top .text-wrap a{ display: block; text-align: right; }
#section05 .top .text-wrap a i{ padding-left: 10px; position: relative; right: 0; transition: .3s;}
#section05 .top .text-wrap a:hover i{right: -5px; }
#section05 .btm .main-fac-swiper{ width: 100%; overflow: hidden; position: relative;}
#section05 .btm .main-fac-swiper .swiper-slide{ display: flex; justify-content: space-between; align-items: center; opacity: 0!important; transition: .5s; pointer-events: none;}
#section05 .btm .main-fac-swiper .swiper-slide-active{ opacity: 1!important; pointer-events: inherit;}
#section05 .btm .main-fac-swiper .swiper-slide .img-wrap{ width: 690px; height: 388px; order: 1;}
#section05 .btm .main-fac-swiper .swiper-slide .text-wrap{ order: 0; background-color: #F8F5F1; width: calc(100% - 690px); height: 388px; display: flex; flex-direction: column; justify-content: center; padding: 0 102px 0 78px;}
#section05 .btm .main-fac-swiper .swiper-slide .text-wrap p{ padding-bottom: 20px;}
#section05 .btm .main-fac-swiper .swiper-slide .text-wrap h3{ padding-bottom: 20px; line-height: 38.4px;}
#section05 .btm .main-fac-swiper .swiper-slide .text-wrap h4{ padding-bottom: 40px;}
#section05 .btm .main-fac-swiper .swiper-slide .text-wrap p.lig{ line-height: 22.4px; padding-bottom: 50px;}
#section05 .btm .main-fac-swiper .swiper-slide .text-wrap a{ text-align: right; display: inline-block; text-decoration: underline;}
#section05 .btm .main-fac-swiper .main-fac-next{ height: 100%; width: 345px; background-color: rgba(255,255,255,.2); border-radius: unset; top: 0; right: 0; margin-top: 0;}
#section05 .btm .main-fac-swiper .main-fac-next:hover{ background-color: rgba(255,255,255,.3);}
/* =================== 1240px =================== */
@media (max-width: 1240px) {
  #section05 .top .img-wrap {width: 65.81vw; }
  #section05 .top .text-wrap { width: calc(100% - 65.81vw); }
  #section05 .btm .main-fac-swiper .swiper-slide .img-wrap{ width: 55.65vw; order: 1;}
#section05 .btm .main-fac-swiper .swiper-slide .text-wrap{ width: calc(100% - 55.65vw); padding: 0 8.23vw 0 6.29vw;}
}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section05{ padding: 80px 0 45px; }
  #section05 .top{ align-items: flex-start; padding-bottom: 20px; }
  #section05 .top .img-wrap {width: 75.47vw; height: 66.13vw; position: relative; left: -40px;}
  #section05 .top .text-wrap { width: 100%; padding-top: 0; top: -40px; position: relative; text-align: right;}
  #section05 .top .text-wrap h3{ line-height: 51.2px; position: relative; left: unset; padding-bottom: 20px;}
  #section05 .top .text-wrap h4{ left: unset; padding-bottom: 40px;}
  #section05 .btm .main-fac-swiper{ width: calc(100% + 40px); overflow: hidden; position: relative; left: 0;}
  #section05 .btm .main-fac-swiper .swiper-slide{ align-items: flex-start; flex-direction: column;}
  #section05 .btm .main-fac-swiper .swiper-slide .img-wrap{ width: 100%; height: 50.13vw; order: 0;}
  #section05 .btm .main-fac-swiper .swiper-slide .text-wrap{ order: 1; background-color: #F8F5F1; width: 100%; height: auto; padding: 20px 40px 0 0;}
  #section05 .btm .main-fac-swiper .swiper-slide .text-wrap p{ padding-bottom: 20px;}
  #section05 .btm .main-fac-swiper .swiper-slide .text-wrap h3{ padding-bottom: 12px; }
  #section05 .btm .main-fac-swiper .swiper-slide .text-wrap h4{ padding-bottom: 20px;}
  #section05 .btm .main-fac-swiper .swiper-slide .text-wrap p.lig{ padding-bottom: 45px;}
  #section05 .btm .main-fac-swiper .main-fac-next{ display: none;}
}


#section06{ padding: 120px 0; width: 100%; background-color: #F8F5F1;}
#section06 .wrap1200 .top{ padding-bottom: 80px;}
#section06 .wrap1200 .top .img-wrap{ width: 588px; height: 388px; position: relative;}
#section06 .wrap1200 .top .text-wrap{ width: calc(100% - 588px); padding-left: 120px;}
#section06 .wrap1200 .top .text-wrap h3{ padding-bottom: 20px;}
#section06 .wrap1200 .top .text-wrap p{ padding-bottom: 40px; line-height: 22.4px;}
#section06 .wrap1200 .top .text-wrap a{ display: block; }
#section06 .wrap1200 .top .text-wrap a i{padding-left: 15px; transition: .3s;}
#section06 .wrap1200 .top .text-wrap a:hover i{padding-left: 20px; transition: .3s;}
#section06 .btm{ text-align: right;}
#section06 .btm .img-wrap{ width: 996px; height: 514px; display: inline-block; }
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section06{ padding: 80px 0; }
  #section06 .wrap1200 .top{ padding-bottom: 60px; flex-direction: column; align-items: flex-start;}
  #section06 .wrap1200 .top .img-wrap{ width: calc(100% + 40px); height: 58.67vw; left: -40px;}
  #section06 .wrap1200 .top .text-wrap{ width: 100%; padding-left: 0; text-align: right; padding-top: 60px;}
  #section06 .btm{ text-align: right;}
  #section06 .btm .img-wrap{ width: calc(100% + 40px); height: 58.67vw; display: inline-block; }
}





