/* header */
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  header .header-area #logo-path{ fill: #222!important;}
  header #panelbtn a{ color: #222;}
}


/* section01 */
#section01{ width: 100%; height: 100vh; position: relative; background-color: #F8F5F1;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section01{ margin-top: 40px; height: auto; padding-top: 90px; }
}

/* section02 */
#section02{ padding: 120px 0; overflow: hidden; font-size: 0; background-color: #F8F5F1;}
#section02 .wrap1200 > .flex-wrap{ align-items: flex-start; padding-bottom: 120px;}
#section02 .left{ width: 588px; }
#section02 .right{ width: 486px;}
#section02 .left .text-wrap{ padding: 60px 100px; text-align: left;}
#section02 .left .text-wrap span{ padding-bottom: 20px; display: block;}
#section02 .left .text-wrap h3{ padding-bottom: 12px;}
#section02 .left .text-wrap h4{ padding-bottom: 40px;}
#section02 .left .text-wrap p{ line-height: 22.4px;}
#section02 .left .img-wrap{ width: 100%; height: 853px;}
#section02 .right .img-wrap{ width: 100%; height: 598px; margin-bottom: 40px;}
#section02 .right .text-wrap{ text-align: left;}
#section02 .right .text-wrap h3{ padding-bottom: 40px;}
#section02 .right .text-wrap li{ padding-bottom: 10px;}
#section02 .right .text-wrap li.pb20{ padding-bottom: 20px;}
#section02 .right .text-wrap span{ display: inline-block; width: 100px; line-height: 22.4px;}
#section02 .right .text-wrap p{ display: inline-block; width: calc(100% - 103px); line-height: 22.4px;}
#section02 .right .text-wrap li.display span{ display: block; width: 100%; padding-bottom: 10px; }
#section02 .right .text-wrap li.display p{ display: block; width: 100%;}
#section02 .a-wrap{ text-align: center;}

/* =================== 1240px =================== */
@media (max-width: 1240px) {
  #section02 .left{ width: 47.42vw; }
  #section02 .right{ width: 39.19vw;}
}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section02{ padding: 60px 0 120px; }
  #section02 .wrap1200 > .flex-wrap{ flex-direction: column; padding-bottom: 60px;}
  #section02 .left{ width: 100%; }
  #section02 .right{ width: 100%;}
  #section02 .left .text-wrap{ padding: 162px 0 60px; text-align: left; position: relative; z-index: 10;}
  #section02 .left .img-wrap{ width: 61.87vw; height: 61.87vw; max-width: 348px; max-height: 348px; position: absolute; top: 0; right: 0;}
  #section02 .right .img-wrap{ width: 75.47vw; height: 100.80vw; max-width: 425px; max-height: 568px; margin-bottom: 60px; position: relative; left: -40px;}
  #section02 .a-wrap #btn01{ height: 40px; line-height: 38px; max-width: 139px; width: calc(50% - 8px); font-size: 14px; margin: 0;}
  #section02 .a-wrap a:first-child{margin-right: 15px!important;}
}

