/* header */
header{ z-index: 1000; }
header .header .top{ background-color: rgba(255,255,255); border-bottom: 1px solid #FAFAF8; }
header .header .top > a{color: #51504B;}
header .header .top > a:after{ background-color: #51504B;}
header .header .logo img.scroll{ opacity: 1;}
header .header .logo img.normal{ opacity: 0;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  header .header .top{ border-bottom: 1px solid #DDDDDB; }
}


#section01{ width: 100%; position: relative; padding: 60px 0 80px; margin-top: 65px; text-align: center; overflow: hidden; background-color: #fff; }
#section01 h3{ padding-bottom: 40px;}
#section01 p.last{ padding-top: 20px;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
  #section01{ padding: 40px 0 60px; margin-top: 100px; text-align: left;}
}


#section02{ position: relative; padding-bottom: 100px; overflow: hidden; background-color: #fff;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
    #section02{ position: relative; padding-bottom: 80px; overflow: hidden;}
}