/* header */
/* =================== 1024px =================== */
@media (max-width: 1024px) {
    header{ background-color: #fff; border-bottom: unset;}
    header .header-top .logo a img.logo-normal{ opacity: 0;}
    header .header-top .logo a img.logo-scroll{ opacity: 1;}
    header #panelbtn span{ background-color: #67533A;} 
}


/* =================== 1024px =================== */
@media (max-width: 1024px) {
    #section01{ margin-top: 60px; } 
}



#section02{ padding: 100px 0 180px; position: relative; overflow: hidden;}
#section02 #tit{ text-align: center; padding-bottom: 80px;}
#section02 .wrap .tit{ padding-bottom: 20px; border-bottom: 1px solid #707070; margin-bottom: 47px;}
#section02 .wrap li{ font-size: 0; padding-bottom: 49px;}
#section02 .wrap li.pad100{ padding-bottom: 100px;}
#section02 .wrap li.pad70{ padding-bottom: 70px;}
#section02 .wrap li.pad120{ padding-bottom: 120px;}
#section02 .wrap li span{ display: inline-block; width: 101px; vertical-align: top;}
#section02 .wrap li p{ display: inline-block; width: calc(100% - 101px);}
#section02 .wrap1400 > img{ width: 100%; object-fit: cover; margin-bottom: 120px;}
#section02 .wrap1400 .a-wrap{ width: 100%; display: flex; justify-content: space-between;}
#section02 .wrap1400 .a-wrap a{ width: calc(50% - 8px); display: block; height: 40px; line-height: 38px; border: 1px solid #67533A; text-align: center; transition: .5s;}
#section02 .wrap1400 .a-wrap a:hover{ background-color: #67533A; color: #fff;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
    #section02{ padding: 60px 0 100px; }
    #section02 #tit{ padding-bottom: 40px;}
    #section02 .wrap .tit{ padding-bottom: 20px; margin-bottom: 40px;}
    #section02 .wrap li{ font-size: 0; padding-bottom: 40px;}
    #section02 .wrap li.pad100{ padding-bottom: 40px;}
    #section02 .wrap li.pad70{ padding-bottom: 40px;}
    #section02 .wrap li.pad120{ padding-bottom: 60px;}
    #section02 .wrap li span{ width: 100%; }
    #section02 .wrap li p{ width: 100%;}
    #section02 .wrap1400 > img{  margin-bottom: 40px;}
    #section02 .wrap1400 .a-wrap{ flex-direction: column;}
    #section02 .wrap1400 .a-wrap a{ width: 100%; height: 30px; line-height: 28px;}
    #section02 .wrap1400 .a-wrap a:first-child{ margin-bottom: 20px;}
}











