#trigger01{ position: absolute; top: 10vh;}
#btn-scroll-down{ top: calc(100vh - 110px); left: 0; right: 0; margin: 0 auto; z-index: 10; position: fixed;}
#btn-scroll-down.hide{ opacity: 0; pointer-events: none;}


/* #section01 */
#section01{margin-top: 100vh; padding: 150px 0; text-align: center; border-bottom: 1px solid rgba(255,255,255,.1);}
#section01 .bgi{ opacity: 0; background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-position: center; position: fixed; top: 0; left: 0; width: 100%; height: 100%; }
#section01 .top{ padding-bottom: 60px; border-bottom: 1px solid #ddd;}
#section01 .top h3{ padding-bottom: 15px;}
#section01 .top h4{ padding-bottom: 30px;}
#section01 .top p{ line-height: 3.2rem;}
#section01 .mid{ padding: 150px 0; border-bottom: 1px solid #ddd; margin-bottom: 60px;}
#section01 a.book{ display: inline-block; width: 180px; height: 50px; line-height: 48px; text-align: center; border: 1px solid #222; background-color: #222; margin-bottom: 170px;}
#section01 .swiper-wrap{ width: 100%; padding-bottom: 40px; overflow: hidden; position: relative;}
#section01 .scroll-wrap{ margin-top: 50vh; padding: 75px 0 0; background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-position: center;}
#section01 .scroll-wrap .wrap1520{ height: 2740px;}
#section01 .scroll-wrap .wrap1520 .con{ position: absolute; text-align: left; opacity: 0;}
#section01 .scroll-wrap .wrap1520 .con .trigger{ position: absolute; top: -400px;}
#section01 .scroll-wrap .wrap1520 .con img{ width: 100%; height: 100%; object-fit: cover;}
#section01 .scroll-wrap .wrap1520 .con .text-wrap{ padding-top: 60px;}
#section01 .scroll-wrap .wrap1520 .con .text-wrap h3{ padding-bottom: 15px;}
#section01 .scroll-wrap .wrap1520 .con .text-wrap h4{ padding-bottom: 30px;}
#section01 .scroll-wrap .wrap1520 .con .text-wrap p{ line-height: 30px;}
#section01 .scroll-wrap .wrap1520 .con01{ top: 0; left: 0;}
#section01 .scroll-wrap .wrap1520 .con01 .img-wrap{ width: 420px; height: 420px; overflow: hidden;}
#section01 .scroll-wrap .wrap1520 .con02{ top: 275px; right: 0;}
#section01 .scroll-wrap .wrap1520 .con02 .img-wrap{ width: 860px; height: 580px; overflow: hidden;}
#section01 .scroll-wrap .wrap1520 .con03{ top: 1200px; left: 210px;}
#section01 .scroll-wrap .wrap1520 .con03 .img-wrap{ width: 640px; height: 420px; overflow: hidden;}
#section01 .scroll-wrap .wrap1520 .con04{ bottom: 0; right: 0;}
#section01 .scroll-wrap .wrap1520 .con04 .img-wrap{ width: 640px; height: 564px; overflow: hidden;}

@media screen and (max-width:1560px) {
    #section01 .scroll-wrap .wrap1520{ height: 175.64vw;}
    #section01 .scroll-wrap .wrap1520 .con .trigger{ position: absolute; top: -25.64vw;}
    #section01 .scroll-wrap .wrap1520 .con01 .img-wrap{ width: 26.92vw; height: 26.92vw; overflow: hidden;}
    #section01 .scroll-wrap .wrap1520 .con02{ top: 17.63vw; right: 0;}
    #section01 .scroll-wrap .wrap1520 .con02 .img-wrap{ width: 55.13vw; height: 37.18vw; overflow: hidden;}
    #section01 .scroll-wrap .wrap1520 .con03{ top: 76.92vw; left: 13.46vw;}
    #section01 .scroll-wrap .wrap1520 .con03 .img-wrap{ width: 41.03vw; height: 26.92vw; overflow: hidden;}
    #section01 .scroll-wrap .wrap1520 .con04 .img-wrap{ width: 41.03vw; height: 36.15vw; overflow: hidden;}
}
/*-------------- Responsive ---------------*/
/* Mobile */
@media screen and (max-width:1024px) {
    #section01{padding: 75px 0; }
    #section01 .top{ padding-bottom: 35px; }
    #section01 .top h4{ padding-bottom: 25px;}
    #section01 .top p{ line-height: 20px;}
    #section01 .mid{ padding: 75px 0; margin-bottom: 40px;}
    #section01 a.book{ width: 150px; height: 40px; line-height: 38px; margin-bottom: 75px;}
    #section01 .swiper-wrap{ padding-bottom: 30px;}
    #section01 .scroll-wrap{ margin-top: 30vh; padding: 75px 0 0;}
    #section01 .scroll-wrap .wrap1520{ height: 404.00vw;}
    #section01 .scroll-wrap .wrap1520 .con .trigger{ position: absolute; top: -300px;}
    #section01 .scroll-wrap .wrap1520 .con .text-wrap{ padding-top: 25px;}
    #section01 .scroll-wrap .wrap1520 .con .text-wrap h3{ padding-bottom: 10px;}
    #section01 .scroll-wrap .wrap1520 .con .text-wrap h4{ padding-bottom: 20px;}
    #section01 .scroll-wrap .wrap1520 .con .text-wrap p{ line-height: 20px;}
    #section01 .scroll-wrap .wrap1520 .con01{ left: 15px;}
    #section01 .scroll-wrap .wrap1520 .con01 .img-wrap{ width: 58.67vw; height: 58.67vw;}
    #section01 .scroll-wrap .wrap1520 .con02{ top: 109.33vw; right: 0;}
    #section01 .scroll-wrap .wrap1520 .con02 .img-wrap{ width: 84.00vw; height: 57.87vw;}
    #section01 .scroll-wrap .wrap1520 .con03{ top: 217.33vw; left: 8.00vw;}
    #section01 .scroll-wrap .wrap1520 .con03 .img-wrap{ width: 69.33vw; height: 45.33vw; }
    #section01 .scroll-wrap .wrap1520 .con04{ bottom: 0; right: 15px;}
    #section01 .scroll-wrap .wrap1520 .con04 .img-wrap{ width: 61.33vw; height: 53.87vw; }

}























