#sub-top .text-wrap{ text-shadow: 10px 10px 10px rgba(194,241,255,.1);}
#sub-top { height: 610px;}


/* section01 */
#section01{ padding: 150px 0;}
#section01 .top{ padding-bottom: 150px; text-align: center; }
#section01 .top > h3{ padding-bottom: 10px;}
#section01 .top > h4{ padding-bottom: 30px;}
#section01 .top > p{ line-height: 32px; padding-bottom: 25px;}
#section01 .top > p.lig{padding-bottom: 60px; border-bottom: 1px solid #ddd;}
#section01 .a-wrap{ display: flex; align-items: center; justify-content: center; padding-top: 60px;}
#section01 .a-wrap a{ margin: 0 15px;}
#section01 .swiper-wrap{ width: 100%; padding-bottom: 40px; overflow: hidden; position: relative; }

/* section02 */
#section02{ padding: 150px 0; background-color: #f8f8f8;}
#section02 .flex-wrap{ width: 100%; max-width: 1920px; left: 0; right: 0; margin: 0 auto;}
#section02 .flex-wrap a{ display: block; width: calc(25% - 15px); /*height: 27.08vw; max-height: 520px;*/ height: 520px; position: relative; overflow: hidden;}
#section02 .flex-wrap a .img{ position: absolute; width: 100%; height: 100%; transform-origin: center; top: 0; left: 0; background-size: cover; background-repeat: no-repeat; background-position: center; transition: .3s;}
#section02 .flex-wrap a:hover .img{ transform: scale(1.1);}
#section02 .flex-wrap a .text-wrap{ position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(34,34,34,.8); padding: 75px 30px; opacity: 0; transition: .3s;}
#section02 .flex-wrap a .text-wrap h3{ padding-bottom: 15px;}
#section02 .flex-wrap a .text-wrap p{ line-height: 30px; opacity: .7;}
#section02 .flex-wrap a .text-wrap #btn-text{ position: absolute; bottom: 40px; left: 30px;}
#section02 .flex-wrap a .text-wrap #btn-text p{ opacity: 1;}
#section02 .flex-wrap a:hover .text-wrap{ opacity: 1;}

/*-------------- Responsive ---------------*/
/* Mobile */
@media screen and (max-width:1024px) {
    #sub-top { height: 500px;}

    /* section01 */
    #section01{ padding: 75px 0;}
    #section01 .top{ padding-bottom: 75px; }
    #section01 .top > h3{ padding-bottom: 15px;}
    #section01 .top > h4{ padding-bottom: 35px;}
    #section01 .top > p{ line-height: 20px; padding-bottom: 15px;}
    #section01 .top > p.lig{padding-bottom: 40px; }
    #section01 .a-wrap{ padding-top: 40px;}
    #section01 .a-wrap a{ margin: 0 12px;}
    #section01 .swiper-wrap{ padding-bottom: 30px; }
    
    /* section02 */
    #section02{ padding: 75px 0 45px; }
    #section02 .flex-wrap{padding: 0 15px;}
    #section02 .flex-wrap a{ width: calc(50% - 5px); height: auto; }
    #section02 .flex-wrap a .img{ position: relative; width: 100%; height: 50.00vw;}
    #section02 .flex-wrap a:hover .img{ transform: scale(1);}
    #section02 .flex-wrap a .text-wrap{ position: relative; background-color: transparent; padding: 10px 0 30px; opacity:1; }
    #section02 .flex-wrap a .text-wrap h3{ padding-bottom: 0; color: #222;}
    #section02 .flex-wrap a .text-wrap #btn-text{ display: none;}
}