@charset "UTF-8";

/* video-fullscreen */
.video-fullscreen {position:relative;width:100%;height:100vh;overflow:hidden;background-color:#222;}
.video-fullscreen::before {position:absolute;width:100%;height:100%;content:"";display:block;z-index:1;}
.video-fullscreen .ttl {position:absolute;top:70%;left:50%;text-align:left;transform:translate3d(-50%, -50%, 0);z-index:3;}
.video-fullscreen .ttl h2 {color:#fff;font-weight:400;text-shadow:0 1px 2px rgb(0 0 0 / 40%);}
.video-fullscreen .ttl h1 {line-height:6rem;color:#fff;font-weight:700;text-shadow:0 1px 2px rgb(0 0 0 / 40%);padding-bottom: 40px;}
.video-fullscreen .ttl p{ font-size: 1.4rem;line-height:3rem;color:#fff;font-weight: 400;padding-bottom:40px;opacity: .7;}
.video-fullscreen .ttl a{ display:block;width: 180px;height:44px;line-height:44px;background-color:#ee720d;font-size: 1.4rem;color:#fff;text-align: center;}
.video-fullscreen .frame {width:calc(100vh * 16 / 9);height:calc(100vw * 16 / 9);min-width:100%;min-height:100%;display:block;overflow:hidden;opacity:.5;}
.video-fullscreen .frame {position:absolute;top:50%;left:50%;transform:translate3d(-50%, -50%, 0);object-fit:cover;z-index:1;}
.video-fullscreen .frame .video {width:100%;height:100%;display:block;object-fit:cover;}

/*-------------- Responsive ---------------*/
@media screen and (max-width:1024px) {
    .video-fullscreen .ttl {transform:translate3d(-50%, -50%, 0);}
}
@media screen and (max-width: 480px) {
    .video-fullscreen .ttl h2 {padding-bottom: 10px;}
    .video-fullscreen .ttl h1 {padding-bottom: 20px;}
    .video-fullscreen .ttl p{ padding-bottom: 35px;}
    .video-fullscreen .ttl a{ width: 150px;height:38px;line-height:38px;font-size: 12px;}
}

/* section01 */
#section01 {background-color: #f8f8f8;padding-bottom: 150px;}
#section01 .content {width: 1520px;background-color: #fff;position:relative;left:0;right:0;margin:0 auto 30px;top:-50px;padding:80px 50px;z-index:10;box-shadow:0 1px 2px rgb(0 0 0 / 20%);font-size:0;}
#section01 .content .left{ width: 820px; }
#section01 .content .left img{ width: 400px;}
#section01 .content .right{ width: calc(100% - 820px);padding-left: 100px; display: flex; height: 590px; flex-direction: column; justify-content: center;}
#section01 .content .right h3{line-height: 5rem;padding-bottom: 40px;}
#section01 .content .right p{line-height: 3rem;padding-bottom: 50px;}
#section01 .content .right a{ width: 180px;height: 44px;line-height: 44px;}
#section01 > p{ text-align: center;line-height: 3.4rem;padding-bottom: 80px;}
@media screen and (max-width:1560px) {
    #section01 .content {width: 97.44vw;background-color: #fff;position:relative;left:0;right:0;margin:0 auto 1.92vw;top:-3.21vw;padding:5.13vw 3.21vw;z-index:10;box-shadow:0 0.06vw 0.13vw rgb(0 0 0 / 20%);font-size:0;}
    #section01 .content .left{ width: 52.56vw; }
    #section01 .content .left img{ width: 25.64vw;}
    #section01 .content .right{ width: calc(100% - 52.56vw);padding-left: 6.41vw; display: flex; height: 37.82vw; flex-direction: column; justify-content: center;}
    #section01 .content .right h3{line-height: 5rem;padding-bottom: 2.56vw;}
    #section01 .content .right p{line-height: 3rem;padding-bottom: 3.21vw;}
    #section01 .content .right a{ width: 11.54vw;height: 2.82vw;line-height: 2.82vw;}
    #section01 .wrap1520.flex-wrap img{ width: 31.60vw; object-fit: cover;}

}


/* section02 */
#section02{ padding: 0 0 50px; }
#section02 .scroll-wrap{ display: flex; height: 1080px; overflow: hidden;}
#section02 .scroll-wrap .text-wrap{width: 50%;height:100%;position: absolute;top: 0;left: 0;display: flex;justify-content: space-between;flex-direction: column;font-size: 0;}
#section02 .scroll-wrap .text-wrap .content{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding:130px 30px 0 10.42vw; background-color: #fff;}
#section02 .scroll-wrap .text-wrap .content ul{ display: block; text-align: right;  padding-bottom: 100px;}
#section02 .scroll-wrap .text-wrap .content ul li{ display: inline-block; opacity: .2;padding-left: 30px;}
#section02 .scroll-wrap .text-wrap .content ul li.active{ opacity: 1;}
#section02 .scroll-wrap .text-wrap .content > h3{ position: relative; display: inline-block; padding-bottom: 40px; }
#section02 .scroll-wrap .text-wrap .content > p{line-height: 3rem; padding-bottom: 90px;}
#section02 .scroll-wrap .text-wrap .more-btn{ display: inline-block; width: 160px; height: 50px; line-height: 48px; border: 1px solid #F15E43; text-align: center; color: #F15E43; font-size: 14px; transition: .5s; letter-spacing: 0.02em;}
#section02 .scroll-wrap .text-wrap .more-btn:hover{ color: #fff;}
#section02 .scroll-wrap .img-area{ position: absolute;top: 0;right: 0;width: 50%;height:100%;display: flex;justify-content: space-between;flex-direction: column;font-size: 0;}
#section02 .scroll-wrap .img-wrap{ position: absolute; width: 100%; top: 0; left: 0; height: 100%;}
#section02 .scroll-wrap .img-wrap img{ height: 100%; object-fit: cover;}
#section02 .scroll-wrap .bottom-img{ position: absolute; width: 50%; height: calc(50% - 100px); object-fit: cover; bottom: 0;left: 0;font-size: 0;overflow: hidden;}

#trigger01{ position: relative;top: -350px;}
#trigger02{ position: relative;top: -50px;}

#section-top-circle-wrap{ width: 100%; height: 200vw; position: absolute; overflow: hidden; }
#section-top-circle-wrap .section-top-circle{ position: fixed; width: 200vw; height:200vw;left: -50%; background-color: #222; border-radius: 50%;}

/* section03 */
#section03{ position: relative; background-color: #222;margin-top: 315px; text-align: center; padding-bottom: 150px; overflow: hidden;}
#section03 .wrap1620{ padding-bottom: 150px;}
#section03 .wrap1620 > h3{ line-height: 12rem; padding-bottom: 50px;}
#section03 .wrap1620 > h4{ line-height: 5rem; padding-bottom: 40px;}
#section03 .wrap1620 > p{ line-height: 3rem; opacity: .5; padding-bottom: 70px;}
#section03 .wrap1620 > a{ margin-bottom: 150px;}
#section03 .wrap1620 > img{ width: 100%; object-fit: cover;}


#calendar-area{ padding-bottom: 150px;}
/* day-info */
#day-info{ position: fixed;font-size: 0; top: 0; left: 0; width: 100%; height: 100%; background-color: #222; z-index: 4000; padding: 100px 0; overflow-y: scroll; transition: .3s; opacity: 0; pointer-events: none;}
#day-info.show{ opacity: 1; pointer-events: inherit;}
#day-info::-webkit-scrollbar{ display: none;}
#day-info a.close-info{ position: absolute; top: 30px; right: 30px; font-size: 30px; width: 30px; height: 30px; color: #fff;}
#day-info .info-wrap > h3{ padding-bottom: 60px;}
#day-info a{ width: calc(25% - 3px); height: 400px; margin-bottom: 4px; overflow: hidden; position: relative; }
#day-info a .img-wrap{ position: relative; width: 100%; height: 100%;  opacity: .5; background-size: cover; background-position: center; background-repeat: no-repeat;}
#day-info a .img-wrap .fliter{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; -webkit-backdrop-filter: grayscale(80%); backdrop-filter: grayscale(80%); filter: contrast(140%);}
#day-info a .text-wrap{ position: absolute; bottom: 0; left: 0; width: 100%; height: 55%;}
#day-info a .text-wrap .text{ position: absolute; bottom: 30px; left: 30px;}
#day-info a .text-wrap .text h3{ padding-bottom: 20px;}
#day-info a .text-wrap .text p{ line-height: 20px; text-align: left;}
#day-info a .text-wrap .text p i{ font-size: 20px; padding-right: 10px; position: relative; top: 3px;}
#day-info a.party{ background-color: #96134a;}
#day-info a.event{ background-color: #147765;}
#day-info a.discount{ background-color: #3e5c89;}
#day-info a.party .text-wrap{
    background: -moz-linear-gradient(top,  rgba(150,19,74,0) 0%, rgba(150,19,74,1) 34%, rgba(150,19,74,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(150,19,74,0) 0%,rgba(150,19,74,1) 34%,rgba(150,19,74,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(150,19,74,0) 0%,rgba(150,19,74,1) 34%,rgba(150,19,74,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#day-info a.event .text-wrap{
    background: -moz-linear-gradient(top,  rgba(150,19,74,0) 0%, rgba(20,119,101,1) 34%, rgba(20,119,101,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(150,19,74,0) 0%,rgba(20,119,101,1) 34%,rgba(20,119,101,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(150,19,74,0) 0%,rgba(20,119,101,1) 34%,rgba(20,119,101,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#day-info a.discount .text-wrap{
    background: -moz-linear-gradient(top,  rgba(150,19,74,0) 0%, rgba(62,92,137,1) 34%, rgba(62,92,137,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(150,19,74,0) 0%,rgba(62,92,137,1) 34%,rgba(62,92,137,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(150,19,74,0) 0%,rgba(62,92,137,1) 34%,rgba(62,92,137,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
/* calendar-detail */
#calendar-detail{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(34,34,34,.8); z-index: 5000; padding: 60px 0; overflow-y: scroll; opacity: 0; transition: .3s; pointer-events: none;}
#calendar-detail.show{ opacity: 1; pointer-events: inherit;}
#calendar-detail::-webkit-scrollbar{ display: none;}
#calendar-detail .detail-wrap{ width: 1000px; padding: 100px 0 60px; border-radius: 16px; background-color: #fff; position: relative; left: 0; right: 0; margin: 0 auto;}
#calendar-detail .detail-wrap .close-detail{ position: absolute; top: 30px; right: 30px; font-size: 30px; color: #222;}
#calendar-detail .detail-wrap .top h3{ padding-bottom: 20px;}
#calendar-detail .detail-wrap .top p{ padding-bottom: 60px;}
#calendar-detail .detail-wrap .img{ width: 100%; height: 800px; position: relative; overflow: hidden; margin-bottom: 50px;}
#calendar-detail .detail-wrap .img img{ height: 100%; width: 100%; object-fit: cover; }
#calendar-detail .detail-wrap .btm{ width: 100%; padding: 0 100px; text-align: left;}
#calendar-detail .detail-wrap h4{ padding-bottom: 30px;}
#calendar-detail .detail-wrap .content{ line-height: 28px;}

#section03 .wrap1520 .scroll-wrap{ height: 1910px; position: relative;}
#section03 .wrap1520 .scroll-wrap .img-wrap{ position: absolute; overflow: hidden;}
#section03 .wrap1520 .scroll-wrap .img-wrap img{ position: absolute; width: 100%; height: 100%; object-fit: cover; top: 0; left: 0; right: 0; transition: .5s;}
#section03 .wrap1520 .scroll-wrap .img-wrap img.pattern{ z-index: 10;}
#section03 .wrap1520 .scroll-wrap .img-wrap img.img{ transform: scale(1.2);}
#trigger03{ position: absolute; top: 0;}
#section03 .wrap1520 .scroll-wrap .img-wrap.img01{ width: 420px; height: 520px; right: 0; top: 0;}
#trigger04{ position: absolute; top: 150px;}
#section03 .wrap1520 .scroll-wrap .img-wrap.img02{ width: 860px; height: 800px; top: 150px; left:0; z-index: 10;}
#trigger05{ position: absolute; top: 805px;}
#section03 .wrap1520 .scroll-wrap .img-wrap.img03{ width: 640px; height: 800px; top: 805px; right:220px; z-index: 1;}
#trigger06{ position: absolute; bottom: 520px;}
#section03 .wrap1520 .scroll-wrap .img-wrap.img04{ width: 420px; height: 520px; bottom: 0; left:0;}
#section03 .wrap1520 .scroll-wrap .right-show.active img.pattern{ left: unset; right: -100%;}
#section03 .wrap1520 .scroll-wrap .img-wrap.active img.img{ transform: scale(1.1);}
#section03 .wrap1520 .scroll-wrap .left-show.active img.pattern{ right: unset; left: -100%;}
#section03 .wrap1520 .scroll-wrap .deco-text{ display: inline-block; width: fit-content; position: absolute;}
#section03 .wrap1520 .scroll-wrap .deco-text.f400{ font-size: 400px; font-weight: 700; line-height: 250px;}
#section03 .wrap1520 .scroll-wrap .deco-text.gray{ color: #696969; opacity: .1;}
#text01-trigger{ top: 0;}
#section03 .wrap1520 .scroll-wrap .deco-text.text01{ top: 0; left: 80px;}
#text02-trigger{ top: 420px;}
#section03 .wrap1520 .scroll-wrap .deco-text.text02{ top: 420px; right: 480px;}
#text03-trigger{ top: 620px;}
#section03 .wrap1520 .scroll-wrap .deco-text.text03{ top: 620px; right: 330px; z-index: 20;}
#text04-trigger{ top: 808px;}
#section03 .wrap1520 .scroll-wrap .deco-text.text04{ bottom: 500px; left: 470px; }
#text05-trigger{ top: 472px;}
#section03 .wrap1520 .scroll-wrap .deco-text.text05{ bottom: 180px; right: -500px; z-index: 0;}
#text06-trigger{ top: 690px;}
#section03 .wrap1520 .scroll-wrap .deco-text.text06{ text-align: left; line-height: 5rem; bottom: 590px; left: 0;}
#text07-trigger{ top: 244px;}
#section03 .wrap1520 .scroll-wrap .deco-text.text07{ text-align: left; line-height: 3rem; bottom: 150px; left: 658px; opacity: .5;}
@media screen and (max-width:1560px) {
    #section03 .wrap1520 .scroll-wrap{ height: 122.44vw; position: relative;}
    #section03 .wrap1520 .scroll-wrap .img-wrap.img01{ width: 26.92vw; height: 33.33vw; right: 0; top: 0;}
    #trigger04{ position: absolute; top: 9.62vw;}
    #section03 .wrap1520 .scroll-wrap .img-wrap.img02{ width: 55.13vw; height: 51.28vw; top: 9.62vw; left:0; z-index: 10;}
    #trigger05{ position: absolute; top: 51.60vw;}
    #section03 .wrap1520 .scroll-wrap .img-wrap.img03{ width: 41.03vw; height: 51.28vw; top: 51.60vw; right:14.10vw;}
    #trigger06{ position: absolute; bottom: 33.33vw;}
    #section03 .wrap1520 .scroll-wrap .img-wrap.img04{ width: 26.92vw; height: 33.33vw; bottom: 0; left:0;}
    #section03 .wrap1520 .scroll-wrap .deco-text.f400{ font-size: 25.64vw; font-weight: 700; line-height: 16.03vw;}
    #text01-trigger{ top: 0;}
    #section03 .wrap1520 .scroll-wrap .deco-text.text01{ top: 0; left: 5.13vw;}
    #text02-trigger{ top: 26.92vw;}
    #section03 .wrap1520 .scroll-wrap .deco-text.text02{ top: 26.92vw; right: 30.77vw;}
    #text03-trigger{ top: 39.74vw;}
    #section03 .wrap1520 .scroll-wrap .deco-text.text03{ top: 39.74vw; right: 21.15vw; z-index: 20;}
    #text04-trigger{ top: 51.79vw;}
    #section03 .wrap1520 .scroll-wrap .deco-text.text04{ bottom: 32.05vw; left: 30.13vw; }
    #text05-trigger{ top: 30.26vw;}
    #section03 .wrap1520 .scroll-wrap .deco-text.text05{ bottom: 11.54vw; right: -32.05vw;}
    #text06-trigger{ top: 44.23vw;}
    #section03 .wrap1520 .scroll-wrap .deco-text.text06{ text-align: left; line-height: 5rem; bottom: 37.82vw; left: 0;}
    #text07-trigger{ top: 15.64vw;}
    #section03 .wrap1520 .scroll-wrap .deco-text.text07{ text-align: left; line-height: 3rem; bottom: 9.62vw; left: 42.18vw; opacity: .5;}
}

/* section04 */
#section04{ width: 100%; height: 100vh; background-size: cover;background-repeat: no-repeat;background-position: center;}

/*-------------- Responsive ---------------*/
/* Mobile */
@media screen and (max-width:1024px) {
    /* section01 */
    #section01 { padding-bottom: 40px;}
    #section01 .content {width: calc(100% - 30px);margin:0 auto 20px;top:-30px;padding:50px 15px;}
    #section01 .content .left{ width: 100%; }
    #section01 .content .left img{ width: calc(50% - 5px);}
    #section01 .content .right{ width: 100%;padding: 35px 0 0; height: unset; }
    #section01 .content .right h3{line-height: 32px;padding-bottom: 15px;}
    #section01 .content .right p{line-height: 25px;padding-bottom: 35px;}
    #section01 .content .right a{ width: 150px;height: 38px;line-height: 38px;}
    #section01 > p{ line-height:25px;padding-bottom: 50px;}
    #section01 .wrap1520.flex-wrap img{ width: 100%; height: 175px; object-fit: cover; margin-bottom: 10px;}
    
    /* section02 */
    #section02{ padding: 60px 0 0; }
    #section02 .scroll-wrap{ display: none;}
    #section02 .content ul{ padding-bottom: 50px;}
    #section02 .content li{ text-align: right;padding-bottom: 10px;opacity: .2;}
    #section02 .content li.active{ opacity: 1;}
    #section02 .content > h3{ padding-bottom: 20px;}
    #section02 .content > p{ padding-bottom: 35px; line-height: 20px;}
    #section02 .content > a{ margin-bottom: 40px;}
    #section02 .content > img{ width: 100%; object-fit: cover; margin-bottom: 50px;}

    #trigger01{ position: relative;top: -550px;}

    /* section03 */
    #section03{ margin-top: 110px; padding-bottom: 75px; }
    #section03 .wrap1620{ padding-bottom: 70px;}
    #section03 .wrap1620 > h3{ line-height: 50px; padding-bottom: 30px;}
    #section03 .wrap1620 > h4{ line-height: 25px; padding-bottom: 30px;}
    #section03 .wrap1620 > p{ line-height: 20px; opacity: .5; padding-bottom: 30px;}
    #section03 .wrap1620 > a{ margin-bottom: 75px;}
    #section03 .wrap1620 > img{ width: 100%; height: calc(100vw - 30px);}

    #calendar-area{ padding-bottom: 75px;}
    /* day-info */
    #day-info{padding: 90px 0 75px; }
    #day-info a.close-info{ top: 15px; right: 15px; font-size: 25px; width: 25px; height: 25px;}
    #day-info .info-wrap > h3{ padding-bottom: 30px;}
    #day-info a{ width: calc(50% - 2px); height:46vw; margin-bottom: 5px; }
    #day-info a .text-wrap .text{ left: 20px;}
    #day-info a .text-wrap .text h3{ padding-bottom: 15px;}
    #day-info a .text-wrap .text p{ line-height: 15px; text-align: left;}
    #day-info a .text-wrap .text p i{ font-size: 15px;top: 1px;}
    /* calendar-detail */
    #calendar-detail{ padding: 0;}
    #calendar-detail .detail-wrap{ width: 100%; padding: 90px 0 75px; border-radius: 0; }
    #calendar-detail .detail-wrap .close-detail{ top: 15px; right: 15px; font-size: 25px; }
    #calendar-detail .detail-wrap .top h3{ padding-bottom: 15px;}
    #calendar-detail .detail-wrap .top p{ padding-bottom: 30px;}
    #calendar-detail .detail-wrap .img{ height: 133.33vw; margin-bottom: 25px;}
    #calendar-detail .detail-wrap .btm{ padding: 0 15px; }
    #calendar-detail .detail-wrap h4{ padding-bottom: 20px;}
    #calendar-detail .detail-wrap .content{ line-height: 20px;}


    #section03 .wrap1520 .scroll-wrap{ height: 297.33vw; position: relative;}
    #trigger03{ position: absolute; top: 0;}
    #section03 .wrap1520 .scroll-wrap .img-wrap.img01{ width: 40.00vw; height: 49.33vw; right: 4.00vw; top: 0; z-index: 1;}
    #trigger04{ position: absolute; top: 64.00vw;}
    #section03 .wrap1520 .scroll-wrap .img-wrap.img02{ width: 78.67vw; height: 73.33vw; top: 64.00vw; left:0; z-index: 30;}
    #trigger05{ position: absolute; top: 128.00vw;}
    #section03 .wrap1520 .scroll-wrap .img-wrap.img03{ width: 60.00vw; height: 76.00vw; top: 128.00vw; right:0;}
    #trigger06{ position: absolute; bottom: 60.00vw;}
    #section03 .wrap1520 .scroll-wrap .img-wrap.img04{ width: 48.00vw; height: 59.47vw; bottom: 0; left:0;}
    #section03 .wrap1520 .scroll-wrap .deco-text.f400{ font-size: 37.33vw; line-height: 21.33vw;}
    #text01-trigger{ top: 45.33vw;}
    #section03 .wrap1520 .scroll-wrap .deco-text.text01{ top: 45.33vw; left: unset; right: 0;}
    #text02-trigger{ top: 116.00vw;}
    #section03 .wrap1520 .scroll-wrap .deco-text.text02{ top: 116.00vw; right: 4.00vw; z-index: 20;}
    #text03-trigger{ top: 136.00vw;}
    #section03 .wrap1520 .scroll-wrap .deco-text.text03{ top: 136.00vw; right: -10.67vw; z-index: 20;}
    #text04-trigger{ top: 160.00vw;}
    #section03 .wrap1520 .scroll-wrap .deco-text.text04{ bottom: 104.00vw; left: 13.87vw; }
    #text05-trigger{ bottom: 102.67vw;}
    #section03 .wrap1520 .scroll-wrap .deco-text.text05{ bottom: 74.67vw; right: -53.33vw;}
    #text06-trigger{ top: 184.00vw;}
    #section03 .wrap1520 .scroll-wrap .deco-text.text06{ text-align: left; line-height: 7.20vw; bottom: 66.67vw; left: 0;}
    #section03 .wrap1520 .scroll-wrap .deco-text.text07{ display: none;}

    /* section04 */
    #section04{ height: 74.93vw;}
}


/* Custom */
@media screen and (max-width:1560px) {

}
@media screen and (max-width:992px) {

}
@media screen and (max-width:768px) {

}
@media screen and (max-width:480px) {
    #day-info a{ width: 100%; height:93.33vw; margin-bottom: 5px; }
}

