@charset "UTF-8";

/* offer-list */
#section01.offer-list{background-color: #181818; border-bottom: 1px solid rgba(255,255,255,.1); padding-bottom: 150px;}
#section01.offer-list .content{position: relative; }
#section01.offer-list .content .text-wrap{ width: max-content; text-align: left; position: absolute; top: -400px; right: 35px;}
#section01.offer-list .content .text-wrap h3{ line-height: 5rem; padding-bottom: 30px;}
#section01.offer-list .content .list .img-wrap{ width: 640px; height: 420px; position: relative; }
#section01.offer-list .content .list .img-wrap img{ width: 100%; height: 100%; object-fit: cover; opacity: 0;}
#section01.offer-list .content .list li{ padding-bottom: 100px; position: relative;}
#section01.offer-list .content .list li:nth-of-type(even){float: right;}
#section01.offer-list .content .list li:nth-of-type(odd){clear: both;}
#section01.offer-list .content .list li a{ position: absolute; display: block; width: 100%; top: 420px; padding: 50px 0 0; opacity: 0;}
#section01.offer-list .content .list li a > h3{ padding-bottom: 20px;}
#section01.offer-list .content .list li a > p{ padding-bottom: 50px; opacity: .5;}
#section01.offer-list .content .list .trigger{ position: absolute; top: -100px;}
#section01.offer-list .content .list .texttrigger{ position: absolute; top: -100px;}
#section01.offer-list #js-btn-wrap{ width: 180px; height: 50px; line-height: 48px; text-align: center; border: 1px solid rgba(255,255,255,.3); background-color: transparent; display: block; left: 0; right: 0; margin: 0 auto; cursor: pointer;}

/* offer-view */
#section01.offer-view{background-color: #fff; padding: 150px 0;}
#section01.offer-view .img-wrap{ width: 100%; border: 1px solid #ccc; font-size: 0; margin-bottom: 80px;}
#section01.offer-view .img-wrap img{ width: 100%; height: auto; object-fit: cover;}
#section01.offer-view .content{ border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 70px 40px; margin-bottom: 80px;}
#section01.offer-view .content h3{ padding-bottom: 20px;}
#section01.offer-view .content h4{ padding-bottom: 50px;}
#section01.offer-view .content .text{ line-height: 28px;}
#section01.offer-view .a-wrap{font-size: 0; width: fit-content; left: 0; right: 0; margin: 0 auto;}
#section01.offer-view a{ display: inline-block; width: 180px; height: 50px; line-height: 48px; text-align: center; margin: 0 10px; border: 1px solid #ccc;}
#section01.offer-view a.book{ border: 1px solid #222; background-color: #222;}


/*-------------- Responsive ---------------*/
/* Mobile */
@media screen and (max-width:1024px) {
    #section01.offer-list{ padding-bottom: 75px;}
    #section01.offer-list .content .text-wrap{ top: -200px; right: 15px;}
    #section01.offer-list .content .text-wrap h3{ line-height: 34px; padding-bottom: 20px;}
    #section01.offer-list .content .list .img-wrap{ width: 100%; height: 48.00vw;  }
    #section01.offer-list .content .list li{ padding-bottom: 60px; padding-top: 100px; width: calc(100% - 50px);}
    #section01.offer-list .content .list li a{ position: relative;top: -80px; padding: 35px 0 0; }
    #section01.offer-list .content .list li a > h3{ padding-bottom: 15px;}
    #section01.offer-list .content .list li a > p{ padding-bottom: 30px; }
    #section01.offer-list .content .list .trigger{ position: absolute; top: 0;}
    #section01.offer-list .content .list .texttrigger{ position: absolute; top: 0;}
    #section01.offer-list #js-btn-wrap{ width: 150px; height: 40px; line-height: 38px; }

    /* offer-view */
    #section01.offer-view{ padding: 75px 0;}
    #section01.offer-view .img-wrap{ margin-bottom: 60px;}
    #section01.offer-view .content{padding: 35px 15px; margin-bottom: 40px;}
    #section01.offer-view .content h3{ padding-bottom: 10px;}
    #section01.offer-view .content h4{ padding-bottom: 25px;}
    #section01.offer-view .content .text{ line-height: 19px;}
    #section01.offer-view a{ width: 150px; height: 40px; line-height: 38px; margin: 0 5px; }

}
@media screen and (max-width:768px) {
    #section01.offer-list .content .list li{ padding-top: 50px; }
    #section01.offer-list .content .list li a{ top: -40px;}
}
@media screen and (max-width:480px) {
    #section01.offer-list .content .list li{ padding-top: 0; }
    #section01.offer-list .content .list li a{ top: 0;}
}

















