#section01.comm { padding: 60px 0 20px;}
#section01.comm .top{ padding-bottom: 10px; border-bottom: 1px solid #6C4D38; margin-bottom: 60px; }
#section01.comm .top h3.tit{ padding-bottom: 40px;}
#section01.comm .top .flex-wrap{ justify-content: flex-start;}
#section01.comm .top a{ margin-right: 20px; transition: .3s; position: relative;}
#section01.comm .top a:after{ content: ''; width: 100%; height: 1px; position: absolute; left: 0; bottom: 5px; background-color: #CFB59E; transform-origin: left; transition: .3s; transform: scaleX(0);}
#section01.comm .top a:hover{ color: #CFB59E;}
#section01.comm .top a.active{ color: #CFB59E;}
#section01.comm .top a:hover:after{ transform: scaleX(1);}
#section01.comm .top a.active:after{ transform: scaleX(1);}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
    #section01.comm { padding: 40px 0 60px;}
    #section01.comm .wrap1400{ padding: 0;}
    #section01.comm .top{ border-bottom: 1px solid #6C4D38; padding: 0 15px 10px; margin-bottom: 50px; }
    #section01.comm .top h3.tit{ padding-bottom: 30px;}
    #section01.comm .top a{ margin-right: 10px; }
}



/* book */
#section01.book .reserv-mo{ width: 100%; padding: 0 15px;}
#section01.book .reserv-mo p{ padding-bottom: 40px;}

/* charge */
#section01.charge iframe{ padding-bottom: 60px;}
#section01.charge .charge-tit{ width: 100%; padding-bottom: 30px; }
#section01.charge .charge-tit p{ display: inline-block;}
#section01.charge .content{ width: 100%; padding-bottom: 40px;}
#section01.charge table {width: 456px; text-align: center; border: 1px solid #6C4D38; }
#section01.charge table th { border: 1px solid #6C4D38; background-color: #DEE5ED; line-height: 38px; font-size: 14px;color: #6C4D38; font-weight: 400;  }
#section01.charge table td { border: 1px solid #6C4D38; line-height: 38px; font-size: 14px;color: #6C4D38; font-weight: 400;  }

/* =================== 1024px =================== */
@media (max-width: 1024px) {
    #section01.charge .content-wrap{ padding: 0 15px;}
    #section01.charge .charge-tit{ width: 100%; padding-bottom: 20px; }
    #section01.charge table {width: 100%; max-width: 456px; }

}
