#section02{ padding: 60px 0 80px;}
#section02 .tit-wrap{ padding-bottom: 40px; align-items: flex-start;}
#section02 .tit-wrap .wrap{ z-index: 10;}
#section02 .tit-wrap .wrap h3{ padding-bottom: 20px;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
    #section02{ padding: 50px 0 60px;}
    #section02 .tit-wrap{ padding-bottom: 60px; flex-direction: column; align-items: center!important; text-align: center;}
    #section02 .tit-wrap .wrap h3{ padding-bottom: 14px;}
    #section02 .wrap1400 > .flex-wrap{ align-items: flex-start;}
    #section02 .wrap1400 > .flex-wrap .left{ padding-bottom: 30px;}
    #section02 .wrap1400 > .flex-wrap h5{ padding-bottom: 16px;}
    #section02 .wrap1400 > .flex-wrap li{ padding-bottom: 16px; font-size: 0;}
    #section02 .wrap1400 > .flex-wrap li span{ display: block; width: 100%; }
    #section02 .wrap1400 > .flex-wrap li p{ display: block; width: 100%;}
    #section02 .wrap1400 > .flex-wrap .right li span{ display: inline-block; width: 121px; }
    #section02 .wrap1400 > .flex-wrap .right li p{ display: inline-block; width: calc(100% - 121px);}
}


#section03{ padding-bottom: 80px; }
#section03 .tit-wrap{ padding-bottom: 20px;}
#section03 .text-wrap{ text-align: center;}

/* =================== 1024px =================== */
@media (max-width: 1024px) {
    #section03{ padding-bottom: 60px; }
    #section03 .text-wrap{ text-align: left;}
}

