.sub-pag .top{ padding-bottom: 10px; }
.sub-pag .top h3.tit{ padding-bottom: 40px;}
/* =================== 1024px =================== */
@media (max-width: 1024px) {
    .sub-pag .top{ border-bottom: 1px solid #6C4D38; padding: 0 15px 10px; margin-bottom: 50px; }
    .sub-pag .top h3.tit{ padding-bottom: 30px;}
}










